@charset "UTF-8";

/* =========================================================
    All things
========================================================= */

.js-accordion {
    transition: $transition01;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: calc(250% / 3.5);

    @include mq-huge {
        font-size: .6944444444vw;
    }

    @include mq-big {
        font-size: 62.5%;
    }
}

body {
    margin: 0;
    padding-top: 0 !important;
    letter-spacing: .1rem;
    background: $base-color02;
    line-height: 1.6em;
    color: $text-color01;

    @font-face {
        font-family: "Original Yu Gothic";
        src: local("Yu Gothic Medium"), local("YuGothic-Medium");
        font-weight: 100;
    }

    @font-face {
        font-family: "Original Yu Gothic";
        src: local("Yu Gothic Medium"), local("YuGothic-Medium");
        font-weight: 200;
    }

    @font-face {
        font-family: "Original Yu Gothic";
        src: local("Yu Gothic Medium"), local("YuGothic-Medium");
        font-weight: 300;
    }

    @font-face {
        font-family: "Original Yu Gothic";
        src: local("Yu Gothic Medium"), local("YuGothic-Medium");
        font-weight: 400;
    }

    @font-face {
        font-family: "Original Yu Gothic";
        src: local("Yu Gothic Medium"), local("YuGothic-Medium");
        font-weight: 500;
    }

    @font-face {
        font-family: "Original Yu Gothic";
        src: local("Yu Gothic Bold"), local("YuGothic-Bold");
        font-weight: 600;
    }

    @font-face {
        font-family: "Original Yu Gothic";
        src: local("Yu Gothic Bold"), local("YuGothic-Bold");
        font-weight: 700;
    }

    @font-face {
        font-family: "Original Yu Gothic";
        src: local("Yu Gothic Bold"), local("YuGothic-Bold");
        font-weight: 800;
    }

    @font-face {
        font-family: "Original Yu Gothic";
        src: local("Yu Gothic Bold"), local("YuGothic-Bold");
        font-weight: 900;
    }

    font-family: $font-family01;

    -webkit-font-feature-settings: "palt";
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: unset;

    @media only screen and(-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @include mq-md {
        font-family: $font-family03;
    }
}


.en {
    font-family: $font-family02;
    letter-spacing: 4px;
}


/* =========================================================
Flaticon
========================================================= */

@font-face {

    font-family: "Flaticon";

    src: url("../font/flaticon.eot");

    src: url("../font/flaticon.eot#iefix") format("embedded-opentype"),

        url("../font/flaticon.woff") format("woff"),

        url("../font/flaticon.ttf") format("truetype"),

        url("../font/flaticon.svg") format("svg");

    font-weight: normal;

    font-style: normal;

}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,

[class^="flaticon-"]:after, [class*=" flaticon-"]:after {

    font-family: "Flaticon";

    font-style: normal;

}


/* =========================================================
Parts
========================================================= */
ul {
    li {
        list-style: none;
    }
}

li {
    list-style: none;
}

a {
    outline: none;
    text-decoration: none;

    &:hover {
        outline: none;
        color: $accent-color01;
    }
}
a:focus, *:focus { outline:none; }


/*reset*/
button,input,textarea,select {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    appearance: none;
}

/* =========================================================
Display none
========================================================= */
.sm-none {
    @include mq-sm {
        display: none;
    }
}

.md-none {
    @include mq-md {
        display: none;
    }
}

/* =========================================================
    Flex - style
========================================================= */

/* flex
--------------------------------------------------------- */
.flex-nw {
    width: auto;
    @include flexbox();
    @include flex-wrap(nowrap);
}

.flex-nw-big {
    width: auto;
    @include flexbox();
    @include flex-wrap(nowrap);

    @include mq-big {
        @include flex-wrap(wrap);
    }
}

.flex-nw-xl {
    width: auto;
    @include flexbox();
    @include flex-wrap(nowrap);

    @include mq-xl {
        @include flex-wrap(wrap);
    }
}

.flex-nw-lg {
    width: auto;
    @include flexbox();
    @include flex-wrap(nowrap);

    @include mq-lg {
        @include flex-wrap(wrap);
    }
}

.flex-nw-md {
    width: auto;
    @include flexbox();
    @include flex-wrap(nowrap);

    @include mq-md {
        @include flex-wrap(wrap);
    }
}

.flex-nw-sm {
    width: auto;
    @include flexbox();
    @include flex-wrap(nowrap);

    @include mq-sm {
        @include flex-wrap(wrap);
    }
}

.flex-nw-no-big {
    width: auto;
    @include flexbox();
    @include flex-wrap(nowrap);

    @include mq-big {
        @include flex-wrap(wrap);
        display: block;
    }
}


.flex-nw-no-xl {
    width: auto;
    @include flexbox();
    @include flex-wrap(nowrap);

    @include mq-xl {
        @include flex-wrap(wrap);
        display: block;
    }
}

.flex-nw-no-lg {
    width: auto;
    @include flexbox();
    @include flex-wrap(nowrap);

    @include mq-lg {
        @include flex-wrap(wrap);
        display: block;
    }
}

.flex-nw-no-md {
    width: auto;
    @include flexbox();
    @include flex-wrap(nowrap);

    @include mq-md {
        @include flex-wrap(wrap);
        display: block;
    }
}

.flex-nw-no-sm {
    width: auto;
    @include flexbox();
    @include flex-wrap(nowrap);

    @include mq-sm {
        @include flex-wrap(wrap);
        display: block;
    }
}

.flex-w {
    width: auto;
    @include flexbox();
    @include flex-wrap(wrap);

    @include mq-lg {}
}

.flex-w-no-lg {
    width: auto;
    @include flexbox();
    @include flex-wrap(wrap);

    @include mq-lg {
        display: block;
    }
}

.flex-w-no-md {
    width: auto;
    @include flexbox();
    @include flex-wrap(wrap);

    @include mq-md {
        display: block;
    }
}

.flex-w-no-sm {
    width: auto;
    @include flexbox();
    @include flex-wrap(wrap);

    @include mq-sm {
        display: block;
    }
}

/* flex item
--------------------------------------------------------- */
.flex-item {
    flex: 1;

    &.__left {
        margin-right: $garter02;
    }

    &.__inherit {
        flex: inherit;
    }
}

/* flex basis
--------------------------------------------------------- */
.fb-auto {
    @include flex-basis(auto);
}

.fb-50 {
    @include flex-basis(50%);
}

.fb-33 {
    @include flex-basis(33.3333333%);
}

.fb-25 {
    @include flex-basis(33.3333333%);
}

.fb-20 {
    @include flex-basis(33.3333333%);
}

/* flex column
--------------------------------------------------------- */
.flex-column {
    &4 {

    }
    &3 {

        .menu-item,
        .flex-item {
            flex: initial;
            flex-basis: 33.333333%;

            @include mq-xl {
                flex-basis: 50%;
            }

            @include mq-sm {
                flex-basis: 100%;
            }
        }
    }

    &2 {

        .menu-item,
        .flex-item {
            flex-basis: 50%;
        }
    }

    &1 {

        .menu-item,
        .flex-item {
            flex-basis: 100%;
        }
    }

    &5-md-3 {

        .menu-item,
        .flex-item {
            flex-basis: 20%;

            @include mq-md {
                flex-basis: 33.333333%;
            }
        }
    }
    &3-md-2 {

        .menu-item,
        .flex-item {
            flex: initial;
            flex-basis: 33.33333333%;

            @include mq-md {
                flex-basis: 50%;
            }
        }
    }
}

/* flex justify-content
--------------------------------------------------------- */
.jc-center {
    @include justify-content(center);
}

.jc-start {
    @include justify-content(flex-start);
}

.jc-end {
    @include justify-content(flex-end);
}

.jc-end-md-start {
    @include justify-content(flex-end);

    @include mq-md {
        @include justify-content(flex-start);
    }
}


.jc-between {
    @include justify-content(space-between);
}

.jc-between-sm-end {
    @include justify-content(space-between);

    @include mq-sm {
        @include justify-content(flex-end);
    }
}

.jc-between-xl-center {
    @include justify-content(space-between);

    @include mq-xl {
        @include justify-content(center);
    }

}

.jc-between-xl-start {
    @include justify-content(space-between);

    @include mq-xl {
        @include justify-content(flex-start);
    }

}


/* flex align-items
--------------------------------------------------------- */
.ai-center {
    @include align-items(center);
}

.ai-start {
    @include align-items(flex-start);
}

.ai-end {
    @include align-items(flex-end);
}

/* flex direction
--------------------------------------------------------- */
.fd-column {
    @include flex-direction(column);
}
