/* =========================================================
Gradients
========================================================= */
@keyframes gradientAnime {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/* =========================================================
resposive
========================================================= */
/* =========================================================
Font - Text - title
========================================================= */
/* =========================================================
For parts
========================================================= */
/* =========================================================
Flex
========================================================= */

/*# sourceMappingURL=_f-mixins.css.map */