    /*
    Flaticon icon font: Flaticon
    Creation date: 24/02/2020 21:15
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-inbox:before { content: "\f100"; }
.flaticon-email:before { content: "\f101"; }
.flaticon-letter:before { content: "\f102"; }
.flaticon-pdf:before { content: "\f103"; }
.flaticon-files-and-folders:before { content: "\f104"; }
.flaticon-recommended:before { content: "\f105"; }
.flaticon-shining:before { content: "\f106"; }
.flaticon-star:before { content: "\f107"; }
.flaticon-podium:before { content: "\f108"; }
.flaticon-mail:before { content: "\f109"; }
.flaticon-mail-1:before { content: "\f10a"; }
    
    $font-Flaticon-inbox: "\f100";
    $font-Flaticon-email: "\f101";
    $font-Flaticon-letter: "\f102";
    $font-Flaticon-pdf: "\f103";
    $font-Flaticon-files-and-folders: "\f104";
    $font-Flaticon-recommended: "\f105";
    $font-Flaticon-shining: "\f106";
    $font-Flaticon-star: "\f107";
    $font-Flaticon-podium: "\f108";
    $font-Flaticon-mail: "\f109";
    $font-Flaticon-mail-1: "\f10a";