@charset "UTF-8";

/* =========================================================
l-content style
========================================================= */

/* main
--------------------------------------------------------- */
.l-main {
    margin-bottom: $garter01;
}

/* wrap
--------------------------------------------------------- */
.l-wrap {
    &.__type00 {
        padding: $garter00;
    }
    &.__type01 {
        padding: $garter02 0;
    }

    &.__type02 {
        padding: 0 $garter01;

        @include mq-lg {
            padding: 0 4rem;
        }
        @include mq-md {
            padding: 0 $garter00;
        }
        @include mq-sm {
            padding: 0 0;
        }
    }
    &.__maxw01 {
        max-width: $max-width01;
        margin-left: auto;
        margin-right: auto;
    }
    &.__maxw02 {
        max-width: $max-width02;
        margin-left: auto;
        margin-right: auto;
    }
    &.__maxwsmall {
        max-width: $max-width-small;
        margin-left: auto;
        margin-right: auto;
    }
    &.__maxwmini {
        max-width: $max-width-mini;
        margin-left: auto;
        margin-right: auto;
    }
    &.__postcont {
        p {
            line-height: 1.8;
            margin-bottom: 2rem;
        }
    }
    /* header */
    &.header {
        width: auto;
    }
    &.main {
        padding: $garter00;
        margin-top: 7rem;
        @include mq-md {
            margin-top: 6rem;
            padding: 0 $garter00;
        }
    }
}

/* row 横並び
--------------------------------------------------------- */
.l-row {
    &Left {
        &.search {
            width: 28rem;
            @include mq-big {
                width: 26rem;
            }

            @include mq-xl {
                width: calc(100% + 2rem);
                margin-left: -$garter00;
            }

        }
        &.bigimg {
            width: 50%;
            height: 80rem;

            @include mq-big {
                width: 60%;
                height: 70rem;
            }
            @include mq-xl {
                width: auto;
                height: auto;
                margin-left: -$garter00;
                margin-right: -$garter00;
            }
        }
        /*部屋詳細ページ*/
        &.room {
            width: 70%;
            @include mq-md {
                width: 100%;
            }
        }
        &.roomdesc {
            width: calc(100% - 40rem);
            @include mq-xl {
                width: 100%;
            }
        }
        &.roomnav {
            width: 10rem;
            @include mq-big {
                width: 100%;
            }
        }

        //物件検索フォーム
        &.rentsearch {
            flex: 0 0 50%;
            width: 50%;
            padding-right: $garter00;
            @include mq-md {
                padding-right: 0;
                flex: 0 0 100%;
                width: 100%;
            }
        }
        &.rentsearch2 {
            flex: 0 0 50%;
            width: 50%;
            padding-right: $garter00;
            @include mq-md {
                padding-right: $garter00;
            }
        }

        // 部屋詳細付きの物件カード
        &.withroom {
            width: calc(100% - 25rem);
            @include mq-md {
                width: 100%;
            }
        }

        //ブログ
        &.post {
            width: calc(100% - 36rem);
            .p-postSingle {
                padding: $garter02 $garter03;
                margin-bottom: $garter02;
                @include mq-big {
                    padding: $garter01 $garter02;
                    margin-bottom: $garter01;
                }

                @include mq-sm {
                    padding: $garter01 $garter00;
                    margin-bottom: $garter01;
                }
            }
            @include mq-xl {
                width: 100%;
            }
            @include mq-md {
                margin-left: -2rem;
                margin-right: -2rem;
                width: auto;
            }
        }
    }
    &Right {
        &.searchmain {
            width: calc(100% - 28rem);
            padding: 4rem 4rem $garter02;
            margin-right: -$garter00;
            &.__result {
                max-width: 1060px;
                margin: auto;
            }

            @include mq-big {
                width: calc(100% - 26rem);
                padding: $garter01 4rem $garter02;
            }
            @include mq-xl {
                width: 100%;
                overflow: inherit;
                padding: 4rem 4rem $garter02;

            }
            @include mq-md {
                width: 100%;
                padding: $garter01 $garter00 $garter02;
            }
            @include mq-sm {
                width: 100%;
                padding: $garter01 0 $garter02;
            }
        }
        &.bigimg {
            width: 50%;
            @include mq-big {
                width: 40%;
                padding: $garter02;
            }
            @include mq-xl {
                width: 100%;
                height: auto;
                position: relative;
            }

            @include mq-md {
                padding: 4rem 4rem $garter01;
            }
        }
        /*部屋詳細ページ*/
        &.room {
            width: 30%;
            @include mq-md {
                width: 100%;
            }
        }
        &.roomdesc {
            width: 40rem;
            @include mq-xl {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &.roomnav {
            width: calc(100% - 10rem);
            @include mq-big {
                width: 100%;
            }
        }


        //物件検索フォーム
        &.rentsearch {
            flex: 0 0 50%;
            width: 50%;
            padding-left: $garter00;
            @include mq-md {
                flex: 0 0 100%;
                width: 100%;
                padding-left: 0;
            }
        }
        &.rentsearch2 {
            flex: 0 0 50%;
            width: 50%;
            padding-left: $garter00;
            @include mq-md {
            }
        }

        // 部屋詳細付きの物件カード
        &.withroom {
            width: 25rem;
            @include mq-md {
                width: 100%;
            }
        }
        //ブログ
        &.post {
            width: 32rem;
            @include mq-xl {
                width: 100%;
            }
        }
    }
}

/* content
--------------------------------------------------------- */
.l-cont {
    &.__section {
        margin-bottom: $margin04;
        @include mq-lg {
            margin-bottom: $margin03;
        }
    }
    &.__garter {
        padding-left: $garter01;
        padding-right: $garter01;
        @include mq-xl {
            padding-left: $garter00;
            padding-right: $garter00;
        }
        @include mq-sm {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &.__main {
        margin-bottom: $margin04;
    }

    /* 記事ページ */
    &Single {
        //margin-top: $margin03;
    }

    /*新着物件*/
    &Newestate {
        &_link {
            display: block;
            text-align: right;
            margin-right: 6rem;
        }
    }
    &.newestate {

        @include mq-lg {
            margin-bottom: 3rem;
        }
    }

    /* 全体のpadding */
    &Recent,
    &Term {
        padding-left: $garter01;
        padding-right: $garter01;
        @include mq-xl {
            padding-left: $garter00;
            padding-right: $garter00;
        }
        @include mq-sm {
            padding-left: 0;
            padding-right: 0;
        }
    }

    /* 最近見た物件*/
    &Recent {
        &_cont {
            flex-wrap: wrap;
        }
    }

    /* ブログ */
    &Blog {
        width: 100%;
    }

    /*人気の検索条件*/
    &Term {
    }

    /* CTA */
    &Cta {

        &_left {
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 50%;

            @include mq-xl {
                height: 45rem!important;
            }
            @include mq-md {
                background-attachment: inherit;
            }
        }

        &_img {
            width: 100%;
            object-fit: cover;
        }
        &_desc {
            padding: $garter02;
            background-color: $base-color05;
            color: $text-color02;
            @include mq-xl {
                margin-top: -$garter02;
                background-color: rgba($sub-color05,0.98);
            }
            @include mq-md {
                margin-left: -$garter00;
                width: auto;
            }
        }
        &_list {
            display: flex;
            align-items: center;
            margin-bottom: $margin00;
            &:before {
                background-color: $base-color04!important;
            }
        }
        &_btn {
            padding: $garter00;
            &:hover {
                opacity: 0.8;
            }
        }
    }

    /*高級賃貸とは */
    &Company {
        background-color: $base-color01;
        &_desc {
            padding: $garter02;
            @include mq-lg {
                padding: 4rem;
            }
        }

        /* left side*/
        &_left {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -4rem;
            @include mq-lg {
                margin-top: 0;
                width: auto;
            }
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: -.5rem;
                left: -.5rem;
                background-image: linear-gradient(120deg, rgba($accent-color03,0.9), rgba($accent-color03,0.3) 60%, rgba($base-color04,0.1));

            }
        }
        &_img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &_logo {
            position: absolute;
            max-width: 120px;

            @include mq-md {
                max-width: 80px;
            }

        }
        &_desc {
            background-color: $base-color01;
            @include mq-lg {
                margin-top: -4rem;
                width: auto;
                margin-left: -$garter00;
                margin-right: -$garter00;
            }
        }
    }

    /*取引先企業*/
    &Sppliers {
        width: auto;
        background-color: $base-color01;
        padding: $garter01 $garter02;
        margin-left: $garter01;
        @include mq-lg {
            margin-left: 0;
            margin-right: -$garter00;
            margin-top: $garter00;
            padding: $garter01;
        }
        @include mq-sm {
            padding: 4rem;
        }
        &_title {
            white-space: nowrap;
            @include mq-lg {
                margin-bottom: $garter00;
            }
        }
        &_logo {
            max-height: 8rem;
            margin-left: $garter01;
            margin-bottom: $garter00;
            object-fit: contain;
            @include mq-md {
                width: 33.3333%;
                margin-left: 0;
                margin-right: $garter01;
            }
            @include mq-sm {
                width: 50%;
            }
        }
    }

    /* 部屋一覧ページ */
    &Roomlist {
        &_term {
            &Wrap {
                &.__area {
                    margin-bottom: $margin01;
                }
            }

            &Title {
                font-weight: bold;
                @include fs-mid;
                min-width: 10rem;
                margin-right: $margin01;
            }
            &Desc {
                @include mq-lg {
                    overflow-x: scroll;
                    overflow-y: auto;
                    -webkit-overflow-scrolling: touch;
                }
                &_wrap {

                    @include mq-lg {
                        min-width: 1200px;
                    }
                }
                &_item {
                    margin-right: $margin00;
                    margin-bottom: $margin00;
                    @include fs-mid;
                    color: $text-color04;
                }
            }

        }
        /*ソート機能*/
        &_function {
            &Select {
                border: 5px solid $sub-color02;
                border-right: 2px solid $sub-color02;
                width: calc(100% - 25rem);
                @include mq-lg {
                    width: calc(100% - 18rem);
                }
            }
            &Pagenation {
                border: 5px solid $sub-color02;
                border-left: 2px solid $sub-color02;
                width: 25rem;
                @include mq-lg {
                    width: 18rem;
                }
            }
        }
    }

    /* 地図検索 */
    &Map {
        &_map {
            width: 100%;
            height: 80vh;
        }

    }

    /* footer */
    &Outer {
        overflow: hidden;
        margin-right: -2rem;
        margin-left: -2rem;
        padding-left: 2rem;
        @include mq-lg {
            margin-left: -2rem;
        }
        &.__xl {
            overflow: hidden;
            margin-right: 0;
            @include mq-xl {
                overflow: hidden;
                padding-left: 0;
                margin-right: -6rem;
                padding-right: 6rem;
            }
            @include mq-md {
                padding-left: 2rem;
                margin-left: -1rem;
                margin-right: -2rem;
                padding-right: 2rem;
            }
        }
    }
}



