@charset "UTF-8";

/* =========================================================
l-footer style
========================================================= */

.l-footer {
    width: 100%;
    &Wrap {
        padding: 0 $garter02;
        @include mq-md {
            padding: 0 4rem;
        }
        @include mq-sm {
            padding: 0;
        }
    }
    &Nav {
        margin-bottom: $margin04;

        @include mq-md {
            margin-bottom: $margin03;
        }
        &_wrap {

            @include mq-xl {
                width: 100%;
                margin-bottom: $margin03;
            }
            @include mq-md {
                margin-bottom: $margin01;
            }
        }
        &_cont {
            margin-right: $margin04;
            @include mq-lg {
                margin-right: $margin02;
                margin-bottom: $margin03;
            }
            @include mq-md {
                display: flex;
            }

        }
        &_title {
            color: rgba($text-color01,0.3);
            margin-bottom: $margin02;

            @include mq-md {
                margin-bottom: $margin01;
                margin-right: $margin02;
                min-width: 100px;
            }

        }
        &_list {
            @extend .o-list.bar;
            li {
                margin-bottom: $margin00;
            }
            a {
                display: flex;
                align-items: center;
                position: relative;
                @include fs-mid;
                &:before {
                    background-color: $sub-color03;
                }
            }
        }

    }
    &Contact {
        @include mq-xl {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: $padding02 0;
            border-top: 1px solid $sub-color02;
            border-bottom: 1px solid $sub-color02;
        }
        &_tel {
            text-align: center;
            @include mq-xl {
                margin-right: $margin02;
            }
        }
        &_hour {
            display: flex;
            justify-content: center;
            @include fs-tiny;
        }
        &_btn {
            margin-top: $margin01;
            padding: $padding01;
            @include fs-mid;
            @include mq-xl {
                margin-top: 0;
                padding: $padding01 $padding02;
            }
        }
    }
    &Sub {
        &_copy {
            color: $text-color04;
        }
        &_sns {
            @include fs-title;
            margin-right: $margin01;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                &.fb {
                    color: $fb-color;
                }
                &.tw {
                    color: $tw-color;
                }
            }

        }
    }
}
