@charset "UTF-8";

/* =========================================================
l-header- style
========================================================= */
.l-header {
    background-color: rgba($base-color01,0.9);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 8;
    transition: $transition01;
    &Btn {
        position: relative;
        cursor: pointer;
        &_bar {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 7rem;
            height: 7rem;
            padding: 1rem;
            font-weight: bold;
            color: $text-color02;
            position: relative;
            background: rgba($base-color05, 1);
            transition: all 0ms 300ms;
            @include mq-xl {
                width: 6rem;
                strong {
                    display: none;
                }
            }

            @include mq-md {
                width: 4rem;
                height: 6rem;
            }

            &:after,
            &:before {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 2.3rem;
                height: 1px;
                @include mq-xl {
                    width: 1.6rem;
                }
            }

            &:before {
                content: "";
                position: absolute;
                top: -1.5rem;
                left: -.5rem;
                background: rgba($base-color01, 1);
                transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);

                @include mq-xl {
                    top: -1rem;
                }
            }

            &:after {
                content: "";
                position: absolute;
                top: 0rem;
                left: .5rem;
                background: rgba($base-color01, 1);
                transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
            }

            &.open {

                &:before {
                    top: -1rem;
                    left: 0;
                    bottom: 0;
                    transform: rotate(-45deg);
                    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                }

                &:after {
                    top: -1rem;
                    left: 0;
                    transform: rotate(45deg);
                    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                }
            }

        }
    }

    &Logo {
        &_link {
            margin-left: 1rem;
            margin-right: 2rem;

            @include mq-xl {
                margin-left: .8rem;
                margin-right: .8rem;
            }
        }

        &_img {
            max-width: 14.5rem;

            @include mq-sm {
                max-width: 13.5rem;
            }
        }
    }
    &Number {
        text-align: center;
        position: relative;
        padding-left: 2.4rem;
        @include fs-tiny;
        @include mq-xl {
            display: none;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            transform: rotate(45deg);
            width: 1px;
            height: 100%;
            background-color: $base-color05;
        }
        &_ttl {
            display: block;
        }
        &_num {
            @include fs-mid;
            font-weight: bold;
            font-family: $font-family02;
        }
    }

    &Cont {
        padding: 1rem;

        @include mq-xl {
            padding: .4rem;
        }
    }

    &Nav {

        &_page,
        &_function {
            li {
                height: 100%;
            }
            a {
                display: flex;
                justify-content: center;
                height: 100%;
                font-weight: bold;
                padding: 1rem $padding01;
            }
        }
        &_page {
            margin-right: 2.4rem;

            @include mq-md {
                margin-right: $margin01;
                li:first-child {
                    display: none;
                }
            }
            @include mq-sm {
                display: none;
            }
            a {
                align-items: center;
                @include fs-mid;
            }
        }
        &_function {
            a {
                @include fs-min;
                position: relative;
                flex-direction: column;
                align-items: flex-end;
                text-align: center;
                padding: 1rem $padding01 1.4rem;
                border-left: 1px solid $base-color02;

                @include mq-big {
                    padding: $padding00 $padding01 $padding01;
                }
                @include mq-md {
                    padding: $padding00 $padding00 $padding00;
                    border-left: none;
                }
                &:before {
                    margin: auto;
                    @include fs-big;
                    font-family: $font-flat;
                    font-weight: normal;
                }
                &:hover {
                    box-shadow: 0 0 12px rgba($sub-color06,.1);
                }
            }
            &Search {
                a:before {
                    content: "\f100";
                }
            }

            &List {
                a:before {
                    content: "\f107";
                }
            }

            &Save {
                a:before {
                    content: "\f108";
                    font-size: 36px;
                }
                @include mq-lg {
                    display: none;
                }
            }

            &History {
                a:before {
                    content: "\f106";
                    @include fs-large;
                }
                @include mq-lg {
                    display: none;
                }
            }
        }

    }

    //お問い合わせページのcss
    &Contact {
        position: relative;
        .l-headerLogo {
            position: absolute;
        }
        &_flow {
            padding: 2rem;
            margin: auto;
            @include fs-mid;
            counter-reset: contactFlow-num;
            display: flex;
            align-items: center;

            @include mq-md {
                margin-right: 0;
            }
            &Item {
                display: flex;
                align-items: center;
                color: $text-color03;
                &:before {
                    content: counter(contactFlow-num)".";
                    counter-increment: contactFlow-num;
                }
                &:after {
                    content: "";
                    margin: 0 12px;
                    width: 6px;
                    height: 1px;
                    background-color: $base-color05;

                }
                &:last-child {
                    &:after {
                        content: none;
                    }
                }
                &.__active {
                    color: $text-color01;
                    font-weight: bold;
                }
            }
        }
    }
}

/*menu*/
.l-headerHnav {
    background: rgba($sub-color04,0.85);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
    &_close {
        position: fixed;
        top: 0;
        left: 0;
    }
    &_wrap{
        align-items:center;
        height: inherit;
        justify-content: center;
        position: absolute;
        width: 100%;
        backdrop-filter: $blur01;
        overflow-y: scroll;
    }
    &_cont {
        max-width: $max-width-tiny;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $padding04 $padding01;
    }
    &_box {
        width: 100%;
        margin-bottom: $margin03;
    }
    &_title {
        font-family: $font-family02;
        color: $text-color02;
        font-weight: bold;
        margin-bottom: 1rem;
        @include fs-mid;
    }

    //search
    &_searchbtn {
        pa {

        }
    }
    &_tab {
        &Item {
            position: relative;
            width: 33.333333%;
            padding: 1rem .5rem 1.2rem;
            display: block;
            text-align: center;
            @include fs-mid;
            &_notification {
                position: absolute;
                right: .6rem;
                top: .6rem;
                margin: auto;
            }
            .o-icon {
                &,&:before {
                    font-weight: normal;
                    @include fs-large;
                    display: block;
                    margin-bottom: .3rem;
                    line-height: 1;
                }
                &.flaticon-download {

                    &,&:before {
                        @include fs-big;
                        line-height: .8;
                    }
                }
            }
        }
    }
    //list
    &_list {
        &Cont {
        margin-right: $margin02;

            @include mq-md {
                display: flex;
                margin-right: 0;
                width: 100%;
                margin-bottom: $margin01;
            }
    }
        &Title {
            margin-bottom: $margin01;
            @include mq-md {
                margin-right: $margin00;
                min-width: 120px;
            }
        }
        &List {
            li {
                margin-bottom: $margin00;
            }
        }
    }
    //contact
    &_contact {
        width: 100%;
        padding-top: $padding01;
        margin-top: $margin01;
        border-top: 1px solid rgba(#fff,0.3);
        &Tel {
            text-align: center;
            margin-bottom: $margin02;
        }
        &Hour {
            display: block;
            @include fs-tiny;
        }
        &Sns {
            justify-content: center;
            &_item {
                color: $text-color02;
                &.fb {
                    margin-right: $margin01;
                }
                svg {
                    &,&:before {
                        @include fs-p;
                    }
                }
            }
        }
    }
}
