@charset "UTF-8";

/* =========================================================
l-sidebar - theme reset
========================================================= */
body.home {
    .l-sideSearch {
        position: relative;
        z-index: 5;
        margin-top: -$margin04;
    }
}
body.archive,
body.page {
    .l-sideSearch {
        margin-top: -$margin03;
        @include mq-xl {
            display: none;
        }
    }
}

/* =========================================================
l-sidebar
========================================================= */

.l-side {
    &Search {
        position: relative;
        &:before {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            left: -100%;
            background-color: $base-color01;
            @include mq-xl {
                content: none;
            }
        }
        &_wrap {
            position: -webkit-sticky; /* safari用 */
            position: sticky;
            top: 80px;
            overflow-y: scroll;
            height: 100vh;
            @include mq-xl {
                height: inherit;
                overflow-y: inherit;
            }
            @include mq-lg {
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        //スマホ - PCの切り替え
        &_cont {
            padding: $padding01 $padding01 $padding03 0;

            &.__sp {
                display: none;
            }
            @include mq-xl {
                &.__pc {
                    display: none;
                }
                &.__sp {
                    display: block;
                }
            }

            @include mq-big {

                padding: $garter00 $garter00 $padding03 0;
            }
            @include mq-md {

                padding: $garter00 $garter00;
            }
        }
        &_function {
            position: relative;
            margin-right: $margin00;
            background-color: $sub-color01;
            border: 1px solid $sub-color02;
            padding: $padding01;
            @include fs-mid;
            width: 60%;
            flex-direction: column;
            transition: $transition01;
            cursor: pointer;
            @include mq-lg {
                width: 49%;
                margin-right: 0;
                margin-bottom: $margin01;
            }

            @include mq-md {
                width: 100%;
                margin-right: 0;
            }
            &:hover {
                box-shadow: 0 0 10px rgba($sub-color05,0.1);
            }
            &:after {
                content: "";
                width: 1.6rem;
                height: 1px;
                background-color: $sub-color05;
                position: absolute;
                bottom: 1rem;
                right: 1rem;
            }
            &Title {
                font-weight: bold;
            }
            &Desc {

            }
        }
        &_btn {
            @include mq-lg {
                width: 100%;
            }
            &Wrap {
                @include mq-lg {
                    flex-direction: column;
                }
            }
            &Function {

            }
        }
    }
}


