@charset "UTF-8";

/* =========================================================
u-helper style
========================================================= */

/* display
--------------------------------------------------------- */
.u-lg {
    display: none;
    @include mq-lg {
        display: block;
    }
}
.u-md {
    display: none;
    @include mq-md {
        display: block;
    }
}
.u-sm {
    display: none;
    @include mq-sm {
        display: block;
    }
}
.u-display-no {
    display: none;
}
/* img
--------------------------------------------------------- */
.u-objectfit-cover {
    object-fit: cover;
}

/* color
--------------------------------------------------------- */
.u-color-main {
    color: $accent-color01;
    &:hover {
        text-decoration: underline;
    }
}
.u-color-white {
    color: white;
}

/* text
--------------------------------------------------------- */
.u-text-ac {
    text-align: center;
}
/* list
--------------------------------------------------------- */
.u-list-style-none li {
    list-style: none;
}
.u-listBefore--none li:before {
    content: none!important;
}

/* border
--------------------------------------------------------- */
.u-border-top {
    border-top: 1px solid $sub-color01;
}
.u-border-bottom {
    border-bottom: 1px solid $sub-color01;
}


/* box-shadow
--------------------------------------------------------- */
.u-box-shadow {
    @include box-shadow(0,10px,20px,rgba(0,0,0,0.1));
}


/* border - radius
--------------------------------------------------------- */
.u-border-radius4 {
    border-radius: 4px;
    overflow: hidden;
}
.u-border-radius50 {
    border-radius: 100px;
    overflow: hidden;
}
.u-border-radius2-4 {
    border-radius: 4px 4px 0 0;
}


/* text size
--------------------------------------------------------- */
.u-texts-11 {
    font-size: $font-size00!important;
}
.u-texts-12 {
    font-size: $font-size01!important;
    @include mq-md {
        font-size: $font-size00!important;
    }
}
.u-texts-14 {
    font-size: $font-size02!important;
    @include mq-md {
        font-size: $font-size01!important;
    }
}
.u-texts-15 {
    font-size: $font-size03!important;
    @include mq-md {
        font-size: $font-size02!important;
    }
}
.u-texts-19 {
    font-size: $font-size04!important;
    @include mq-md {
        font-size: $font-size03!important;
    }
}
.u-texts-28 {
    font-size: $font-size06!important;
    @include mq-md {
        font-size: $font-size05!important;
    }
}

/* text
--------------------------------------------------------- */
.u-textc-white {
    color: #fff;
}
.u-textc-transparent {
    color: $text-color03;
}
.u-textw-bold {
    font-weight: bold;
}
.u-text-border-accent {
    border: 1px solid $accent-color01;
    padding: 4px;
    color: $accent-color01;
    font-weight: bold;
}
.u-texta-center {
    text-align: center;
}

.u-texta-center {
    text-align: center;
}
.u-texta-left {
    text-align: left;
}

/* link + hover
--------------------------------------------------------- */
.u-link-hoverwhite:hover {
    color: #fff;
}
.u-link-nohover:hover {
    color: #000;
}

/* padding +
--------------------------------------------------------- */
.u-pb-1 {
    padding-bottom: 1rem!important;
}
.u-pb-2 {
    padding-bottom: 2rem!important;
}
.u-pb-3 {
    padding-bottom: 3rem!important;
}
.u-pb-6 {
    padding-bottom: 6rem!important;
}

.u-ptb-8 {
    padding-top: 8rem!important;
    padding-bottom: 8rem!important;
}

.u-pb-10 {
    padding-bottom: 10rem!important;
}
.u-ptb-10 {
    padding-top: 10rem!important;
    padding-bottom: 10rem!important;
}

.u-pt-3 {
    padding-top: 3rem;
}
.u-pb-4-md {

    @include mq-md {
        padding-bottom: $garter04 !important;
    }
}

/* margin +
--------------------------------------------------------- */
.mb-0 {
    margin-bottom: 0rem!important;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
    @include mq-lg {
        margin-bottom: $margin01;
    }
}
.mb-6 {
    margin-bottom: 6rem;
    @include mq-sm {
        margin-bottom: 3rem;
    }
}

.mb-10 {
    margin-bottom: 10rem;
    @include mq-md {
        margin-bottom: 6rem;
    }
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-6 {
    margin-top: 6rem;
}
.mt-10 {
    margin-top: 3rem;
}
.mr-1 {
    margin-right: 1rem;
}
.mr-3 {
    margin-right: 3rem;
}

.mr-3-xl-none {
    margin-right: 3rem;
    @include mq-xl {
        margin-right: 0;
    }
}

/* margin -
--------------------------------------------------------- */
.u-mx-n32 {
    margin-left: -32px;
    margin-right: -32px;
}
.u-mx-n16 {
    margin-left: -16px;
    margin-right: -16px;
}
.u-mt-n40 {
    margin-top: -40px;
}

.u-mrl-auto {
    margin-left: auto;
    margin-right: auto;
}

/* width
--------------------------------------------------------- */
.u-w100 {
    width: 100%;
}
/* max-width
--------------------------------------------------------- */
.u-maxw-480 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}
.u-maxw-800 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.u-maxw-post {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}


/* max-height
--------------------------------------------------------- */
.u-maxh-420 {
    max-height: 420px;
}

/* background
--------------------------------------------------------- */
.u-bgcolor-grey {
    background-color: $sub-color01;
}
.u-bgcolor-white {
    background-color: $sub-color01;
}

/* whitespace
--------------------------------------------------------- */
.u-whitespace {
    width: 100%; /* 要素の横幅を指定 */
    white-space: nowrap; /* 横幅のMAXに達しても改行しない */
    overflow: hidden; /* ハミ出した部分を隠す */
    text-overflow: ellipsis; /* 「…」と省略 */
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}


/* scroll - mv
--------------------------------------------------------- */
.u-overflowy-scroll {
    overflow-y: scroll
}

/* underline
--------------------------------------------------------- */
.u-underline1 {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 2px;
        @include gradient($accent-color01, $accent-color01, horizontal);
    }
}

/* transform
--------------------------------------------------------- */
.u-vertical {
    transform: rotate(90deg);
}

/* sns color
--------------------------------------------------------- */
.u-fb {
    color: $fb-color!important;
}
.u-tw {
    color: $tw-color!important;
}

/* sns bg color
--------------------------------------------------------- */
.u-bgskype {
    @include gradient(#43C2FA, #0069C3, vertical);
}
.u-bginsta {
    @include gradient(#EF9097,#7D71D5, vertical);
}
.u-bgfb {
    background-color: $fb-color;
}
.u-bgtw {
    background-color: $tw-color;
}

/* position
--------------------------------------------------------- */
.u-position-r {
    position: relative;
}
