/* =========================================================
Gradients
========================================================= */
@keyframes gradientAnime {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
/* =========================================================
resposive
========================================================= */
/* =========================================================
Font - Text - title
========================================================= */
/* =========================================================
For parts
========================================================= */
/* =========================================================
Flex
========================================================= */
/* =========================================================
    All things
========================================================= */
.js-accordion {
  transition: all 0.2s; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: calc(250% / 3.5); }
  @media (max-width: 1920px) {
    html {
      font-size: .6944444444vw; } }
  @media (max-width: 1360px) {
    html {
      font-size: 62.5%; } }

body {
  margin: 0;
  padding-top: 0 !important;
  letter-spacing: .1rem;
  background: #F5F5F7;
  line-height: 1.6em;
  color: #383E48;
  font-family: YuGothic, "Original Yu Gothic", "Lato", sans-serif, Meiryo, sans-serif;
  -webkit-font-feature-settings: "palt";
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset; }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Medium"), local("YuGothic-Medium");
    font-weight: 100; } }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Medium"), local("YuGothic-Medium");
    font-weight: 200; } }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Medium"), local("YuGothic-Medium");
    font-weight: 300; } }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Medium"), local("YuGothic-Medium");
    font-weight: 400; } }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Medium"), local("YuGothic-Medium");
    font-weight: 500; } }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Bold"), local("YuGothic-Bold");
    font-weight: 600; } }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Bold"), local("YuGothic-Bold");
    font-weight: 700; } }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Bold"), local("YuGothic-Bold");
    font-weight: 800; } }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Bold"), local("YuGothic-Bold");
    font-weight: 900; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }
  @media (max-width: 820px) {
    body {
      font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif; } }

.en {
  font-family: "Lato", sans-serif;
  letter-spacing: 4px; }

/* =========================================================
Flaticon
========================================================= */
@font-face {
  font-family: "Flaticon";
  src: url("../font/flaticon.eot");
  src: url("../font/flaticon.eot#iefix") format("embedded-opentype"), url("../font/flaticon.woff") format("woff"), url("../font/flaticon.ttf") format("truetype"), url("../font/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: "Flaticon";
  font-style: normal; }

/* =========================================================
Parts
========================================================= */
ul li {
  list-style: none; }

li {
  list-style: none; }

a {
  outline: none;
  text-decoration: none; }
  a:hover {
    outline: none;
    color: #B99474; }

a:focus, *:focus {
  outline: none; }

/*reset*/
button, input, textarea, select {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  appearance: none; }

/* =========================================================
Display none
========================================================= */
@media (max-width: 576px) {
  .sm-none {
    display: none; } }

@media (max-width: 820px) {
  .md-none {
    display: none; } }

/* =========================================================
    Flex - style
========================================================= */
/* flex
--------------------------------------------------------- */
.flex-nw {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.flex-nw-big {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 1360px) {
    .flex-nw-big {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.flex-nw-xl {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 1124px) {
    .flex-nw-xl {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.flex-nw-lg {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 991px) {
    .flex-nw-lg {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.flex-nw-md {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 820px) {
    .flex-nw-md {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.flex-nw-sm {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 576px) {
    .flex-nw-sm {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.flex-nw-no-big {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 1360px) {
    .flex-nw-no-big {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: block; } }

.flex-nw-no-xl {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 1124px) {
    .flex-nw-no-xl {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: block; } }

.flex-nw-no-lg {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 991px) {
    .flex-nw-no-lg {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: block; } }

.flex-nw-no-md {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 820px) {
    .flex-nw-no-md {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: block; } }

.flex-nw-no-sm {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 576px) {
    .flex-nw-no-sm {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: block; } }

.flex-w {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-w-no-lg {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 991px) {
    .flex-w-no-lg {
      display: block; } }

.flex-w-no-md {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 820px) {
    .flex-w-no-md {
      display: block; } }

.flex-w-no-sm {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 576px) {
    .flex-w-no-sm {
      display: block; } }

/* flex item
--------------------------------------------------------- */
.flex-item {
  flex: 1; }
  .flex-item.__left {
    margin-right: 8rem; }
  .flex-item.__inherit {
    flex: inherit; }

/* flex basis
--------------------------------------------------------- */
.fb-auto {
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto; }

.fb-50 {
  -webkit-flex-basis: 50%;
  -moz-flex-basis: 50%;
  -ms-flex-basis: 50%;
  flex-basis: 50%; }

.fb-33 {
  -webkit-flex-basis: 33.3333333%;
  -moz-flex-basis: 33.3333333%;
  -ms-flex-basis: 33.3333333%;
  flex-basis: 33.3333333%; }

.fb-25 {
  -webkit-flex-basis: 33.3333333%;
  -moz-flex-basis: 33.3333333%;
  -ms-flex-basis: 33.3333333%;
  flex-basis: 33.3333333%; }

.fb-20 {
  -webkit-flex-basis: 33.3333333%;
  -moz-flex-basis: 33.3333333%;
  -ms-flex-basis: 33.3333333%;
  flex-basis: 33.3333333%; }

/* flex column
--------------------------------------------------------- */
.flex-column3 .menu-item,
.flex-column3 .flex-item {
  flex: initial;
  flex-basis: 33.333333%; }
  @media (max-width: 1124px) {
    .flex-column3 .menu-item,
    .flex-column3 .flex-item {
      flex-basis: 50%; } }
  @media (max-width: 576px) {
    .flex-column3 .menu-item,
    .flex-column3 .flex-item {
      flex-basis: 100%; } }
.flex-column2 .menu-item,
.flex-column2 .flex-item {
  flex-basis: 50%; }
.flex-column1 .menu-item,
.flex-column1 .flex-item {
  flex-basis: 100%; }
.flex-column5-md-3 .menu-item,
.flex-column5-md-3 .flex-item {
  flex-basis: 20%; }
  @media (max-width: 820px) {
    .flex-column5-md-3 .menu-item,
    .flex-column5-md-3 .flex-item {
      flex-basis: 33.333333%; } }
.flex-column3-md-2 .menu-item,
.flex-column3-md-2 .flex-item {
  flex: initial;
  flex-basis: 33.33333333%; }
  @media (max-width: 820px) {
    .flex-column3-md-2 .menu-item,
    .flex-column3-md-2 .flex-item {
      flex-basis: 50%; } }

/* flex justify-content
--------------------------------------------------------- */
.jc-center {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.jc-start {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start; }

.jc-end {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end; }

.jc-end-md-start {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end; }
  @media (max-width: 820px) {
    .jc-end-md-start {
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start; } }

.jc-between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }

.jc-between-sm-end {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }
  @media (max-width: 576px) {
    .jc-between-sm-end {
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      justify-content: flex-end;
      -ms-flex-pack: flex-end; } }

.jc-between-xl-center {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }
  @media (max-width: 1124px) {
    .jc-between-xl-center {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; } }

.jc-between-xl-start {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }
  @media (max-width: 1124px) {
    .jc-between-xl-start {
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start; } }

/* flex align-items
--------------------------------------------------------- */
.ai-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.ai-start {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start; }

.ai-end {
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end; }

/* flex direction
--------------------------------------------------------- */
.fd-column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/* =========================================================
p-post - style
============================================================*/
#tinymce {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  counter-reset: h2-num; }

/*# sourceMappingURL=editor-style.css.map */
