@charset "UTF-8";

/* =========================================================
o-animate - 初めから表示されているオブジェクトにつけるアニメーション
========================================================= */


.animate.fadein {
    opacity: 0;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    transition: .5s;

    -webkit-animation: fadein 2s cubic-bezier(.215, .61, .355, 1) 1s;
    animation: fadein 2s cubic-bezier(.215, .61, .355, 1) 1s;
    animation-fill-mode: forwards;
}

.fade-in {
    visibility: hidden;
    opacity: 0;
    height: 124px;
    -webkit-animation: slideUp 2s cubic-bezier(.215, .61, .355, 1) 1s;
    animation: slideUp 2s cubic-bezier(.215, .61, .355, 1) 1s;
    animation-fill-mode: forwards;
}

.animate.slide {
    position: relative;
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: $sub-color05;
        width: 100%;
        height: 100%;
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%);
        z-index: 10;
        -webkit-animation: slideStart .4s 1.5s forwards, slideEnd .4s 2s forwards;
        animation: slideStart .4s 1.5s forwards, slideEnd .4s 2s forwards;
    }

    .__object {
        opacity: 0;
        animation: fadein 0.8s 2s forwards;
    }
}

/* =========================================================
o-animate オブジェクトが表示された時につけるアニメーション
============================================================*/
.o-animateMove.fadein {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
    transition: 1s;

    &.is-shown {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.o-animateMove.slide {
    position: relative;
    overflow: hidden;
    display: inline-block;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: $base-color02;
        width: 100%;
        height: 100%;
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%);
        z-index: 10;
    }

    .__object {
        opacity: 0;
    }

    &.is-shown {
        .__object {
            -webkit-animation: fadeIn 0s .4s forwards;
            animation: fadeIn 0s .4s forwards;
        }

        &:after {
            -webkit-animation: slideStart .4s 0s forwards,slideEnd .4s .4s forwards;
            animation: slideStart .4s 0s forwards,slideEnd .4s .4s forwards;
        }
    }
}



/* =========================================================
o-animate keyframe
============================================================*/

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba($accent-color03, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba($accent-color03, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba($accent-color03, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba($accent-color03, 0.4);
        box-shadow: 0 0 0 0 rgba($accent-color03, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba($accent-color03, 0);
        box-shadow: 0 0 0 10px rgba($accent-color03, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba($accent-color03, 0);
        box-shadow: 0 0 0 0 rgba($accent-color03, 0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        height: 124px;
        visibility: hidden;
        -webkit-transform: translateY(20%);
        transform: translateY(20%)
    }

    100% {
        opacity: 1;
        height: auto;
        visibility: visible;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }

    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes borderLineTR {
    0% {
        left: -100%;
        height: 0
    }

    50% {
        left: 0;
        height: 0
    }

    100% {
        left: 0;
        height: 100%
    }
}

@-webkit-keyframes borderLineTR {
    0% {
        left: -100%;
        height: 0
    }

    50% {
        left: 0;
        height: 0
    }

    100% {
        left: 0;
        height: 100%
    }
}

@keyframes borderLineBL {
    0% {
        right: -100%;
        height: 0
    }

    50% {
        right: 0;
        height: 0
    }

    100% {
        right: 0;
        height: 100%
    }
}

@-webkit-keyframes borderLineBL {
    0% {
        right: -100%;
        height: 0
    }

    50% {
        right: 0;
        height: 0
    }

    100% {
        right: 0;
        height: 100%
    }
}

@keyframes slideRight {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@keyframes scaleWidth {
    0% {
        width: 0
    }

    100% {
        width: 100%
    }
}

@-webkit-keyframes scaleWidth {
    0% {
        width: 0
    }

    100% {
        width: 100%
    }
}

@keyframes blurFadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes blurFadein {
    0% {
        -webkit-filter: blur(5 px);
        filter: blur(5 px);
        opacity: 0
    }

    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes fadein {
    0% {
        opacity: 0;

        -webkit-transform: translateY(5%);
        transform: translateY(5%);
    }

    100% {
        opacity: 1;

        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes slideDown {
    0% {
        top: 6 px;
        opacity: 1
    }

    20% {
        top: 6 px;
        height: 4 px
    }

    50% {
        height: 6 px
    }

    80% {
        top: 18 px;
        height: 4 px
    }

    100% {
        top: 18 px;
        opacity: 0
    }
}

@-webkit-keyframes slideDown {
    0% {
        top: 6 px;
        opacity: 1
    }

    20% {
        top: 6 px;
        height: 4 px
    }

    50% {
        height: 6 px
    }

    80% {
        top: 18 px;
        height: 4 px
    }

    100% {
        top: 18 px;
        opacity: 0
    }
}

@keyframes slideDownMenu {
    0% {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes slideDownMenu {
    0% {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes slideLeftMenuSp {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes slideLeftMenuSp {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes mvScrollLine {
    0% {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: scaleY(0);
        transform: scaleY(0)
    }

    50% {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }

    75% {
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }

    100% {
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
        -webkit-transform: scaleY(0);
        transform: scaleY(0)
    }
}

@-webkit-keyframes mvScrollLine {
    0% {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: scaleY(0);
        transform: scaleY(0)
    }

    50% {
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }

    75% {
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }

    100% {
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
        -webkit-transform: scaleY(0);
        transform: scaleY(0)
    }
}

@keyframes btnBar {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(100%);
        background-color: #00BFBF
    }

    26% {
        background-color: transparent
    }

    27% {
        transform: translateX(-100%)
    }

    40% {
        background-color: #00BFBF
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes btnBar__pink {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(100%);
        background-color: $accent-color03
    }

    26% {
        background-color: transparent
    }

    27% {
        transform: translateX(-100%)
    }

    40% {
        background-color: $accent-color03
    }

    100% {
        transform: translateX(0)
    }
}

@-webkit-keyframes slideStart {
    0% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes slideStart {
    0% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes slideEnd {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    100% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%)
    }
}

@keyframes slideEnd {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    100% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%)
    }
}



@keyframes fadeout {
    0% {
        opacity: 1;
        bottom: 0; }
    100% {
        opacity: 0;
        bottom: -32px; } }
@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
        bottom: 0; }
    100% {
        opacity: 0;
        bottom: -32px; }
}
@keyframes opacityMove {
    0% {
        opacity: 0;
        bottom: 32px; }
    100% {
        opacity: 1;
        bottom: 84px; } }
@-webkit-keyframes opacityMove {
    0% {
        opacity: 0;
        bottom: 32px; }
    100% {
        opacity: 1;
        bottom: 84px; }
}
