@charset "UTF-8";


/* =========================================================
o-bread -  style
============================================================*/

.o-bread {
    padding: 0 3% 3%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-bottom: 0;
    padding-top: 0;
    @include fs-min;
    @include mq-md {
        overflow-x: scroll;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}
.o-breadList {
    display: flex;
    justify-content: flex-start;
    @include mq-md {
        min-width: 800px;
    }
    li {
        margin-right: 12px;
        margin-left: 0;
    }
    a {
        text-decoration: underline;
    }
}
