@charset "UTF-8";
/* =========================================================
o-bnr style
============================================================*/

.o-bnr {
    &.__5 {
        width: 20%;
        flex: 0 0 20%;
        @include mq-xl {
            width: 25%;
            flex: 0 0 25%;
        }

        @include mq-md {
            width: 33.333333%;
            flex: 0 0 33.33333%;
        }
    }
    &.overimg {
        .o-bnrWrap {
            position: relative;
        }
        .o-bnrThumb {
            position: relative;
            overflow: hidden;
            transition: $transition01;
            &:before {
                display: block;
                content: "";
                width: 100%;
                padding-top: (10 / 17) * 100%;

                @include mq-md {
                    padding-top: 120%;
                }
            }
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(180deg, transparent 30%, rgba($base-color05,1) 90%);
                transition: $transition02;
            }

        }
        .o-bnrImg {
            object-fit: cover;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .o-bnrTitle {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: $padding01;
            z-index: 5;
            color: $text-color02;
            margin-bottom: $margin00;
            text-shadow: 0 0 10px rgba($text-color01,0.8);
            &:after {
                content: "";
                display: block;
                width: .8rem;
                height: 1px;
                margin-top: $margin00;
                background-color: $base-color01;
            }
        }
        &:hover {
            .o-bnrThumb {
                transform: scale(0.96);
                &:after {
                    backdrop-filter: blur(5px);
                }
            }
        }
    }

}
