@charset "UTF-8";

/* =========================================================
o-icon - style 記事ページに関するパーツ群
============================================================*/
.o-icon {
    transition: $transition01;
    &.tw {
        &:hover {
            color: $tw-color;
        }
    }
    &.mail {
        line-height: 0;
        margin-top: 2px;
        margin-right: 6px;
        &:before {
            font-size: 16px;
        }
    }
}
