@charset "UTF-8";

/* =========================================================
o-link - style ボタン以外のリンクスタイル管理
============================================================*/

a {
    color: $text-color01;
    transition: $transition01;
    &:hover {

    }
}

.o-link {
    &.post-basic {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
    &.over {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
    &.rgbawhite {
        color: rgba(#fff,0.8);
        &:hover {
            color: rgba(#fff,1);
        }
    }
    &.huge {
        font-size: 3.2rem;
        @include mq-md {
            font-size: 2.9rem;
        }
        @include mq-sm {
            font-size: 2.9rem;
        }
    }
    &.__basic {
        color: $accent-color05;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    &.en {
        letter-spacing: 4px;
    }

    &.big {
        @include fs-big;
    }
    &.title {
        font-weight: normal;
        @include fs-title;
    }
    &.middle {
        @include fs-mid;
    }

    &.min {
        @include fs-min;
    }

    &.tiny {
        @include fs-tiny;
    }

    &.thin {
        font-weight: 100;
    }
    &.white {
        color: #fff;
    }
}
