@charset "UTF-8";

/* =========================================================
o-list - style 記事ページに関するパーツ群
============================================================*/
.o-list {
    li {
        list-style: none;
    }
    &.tiny {
        li,a {
            @include fs-tiny;
        }
    }
    &.min {
        li,a {
            @include fs-min;
        }
    }
    &.mid {
        li,a {
            @include fs-mid;
        }
    }
    &.p {
        li,a {
            @include fs-p;
        }
    }
    &.title {
        li,a {
            @include fs-title;
        }
    }
    &.large {
        li,a {
            @include fs-large;
        }
    }


    &.thin {
        li,a {
            font-weight: normal;
        }
    }
    &.white {
        li,a {
            color: #fff;
        }
    }
    &.rgbawhite {
        li,a {
            color: rgba(#fff,0.5);
            &:hover {
                color: rgba(#fff,1);
            }
        }
    }
    &.gtb1 {
        a {
            display: block;
            padding: $garter01;
        }
    }
    &.grl05 {
        a {
            display: block;
            padding: 0 0.5rem;
        }
    }

    //左にバーがついたタイプのリスト
    &Bar {
        li,.menu-item {
            margin-bottom: $garter01;
            transition: $transition01;
            @include fs-mid;
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            font-weight: normal;
            position: relative;
            display: block;
            padding-left: $margin02;
            color: $text-color04;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                border-radius: $radius01;
                height: 4px;
                width: 16px;
                background-color: $sub-color02;
                transition: $transition01;
            }
            &:hover {
                text-decoration: none;
                color: $text-color01;
                &:before {
                    transform: translateX(-$margin00);
                    background-color: $accent-color01;
                }
            }
        }
    }
}
