@charset "UTF-8";

/* =========================================================
o-modal - style
============================================================*/
.o-modal {
    display: none;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    counter-reset: o-modalSteptitle;

    //レイアウト周り
    &Overwrap {
        padding: $garter02 $garter02 160px;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        max-width: 888px;

        background: #fff;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;

        height: auto;
        bottom: 0rem;
        top: 4rem;

        @include mq-lg {
            top: 0;
            bottom: 0;
            padding: $garter01 $garter01 30vh;
        }
        @include mq-md {
            padding: $garter01 $garter00 30vh;
        }
    }
    &Wrap {
        position: relative;
        min-height: 100vh;
    }

    &Fixed {
        max-width: 888px;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 5;
        @include mq-md {
            bottom: 0;
        }
    }
    &Bg {
        background: rgba($sub-color05,.7);
        background: radial-gradient(ellipse at center, rgba($sub-color05,.5) 40%,rgba($sub-color05,.9) 100%);
        height: 100vh;
        position: absolute;
        width: 100%;
    }
    &Close {
        position: absolute;
        top: 8rem;
        right: -84rem;
        left: 0;
        width: 6rem;
        height: 6rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 1rem;
        font-weight: bold;
        color: $text-color02;
        background: rgba($base-color05, 1);
        transition: all 0ms 300ms;
        z-index: 10;
        @include mq-lg {
            top: 0;
            right: 0;
            left: auto;
            width: 6rem;
            height: 6rem;
        }
        &:hover {
            background: rgba($base-color05, 0.8);
        }

        &:after,
        &:before {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 2rem;
            height: 1px;
            @include mq-lg {
                width: 1.5rem;
            }
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            transform: rotate(-45deg);
            background: rgba($base-color01, 1);
            transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(45deg);
            background: rgba($base-color01, 1);
            transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
    }

    //ボックス周り
    &Head {
        margin-bottom: $margin02;
        @include mq-md {
            margin-bottom: $margin01;
        }
    }
    &Cont {
        border-top: 1px solid $sub-color01;
        margin-top: $margin02;
        padding-top: $margin01;
        &.__noborder {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }
    }
    &Box {
        margin-bottom: $margin02;
        &_cont {
            @include mq-md {
                margin-bottom: $margin02;
            }
        }
    }
    &Head {
        &_save {
        }
    }
    &Title,
    &Steptitle {
        display: flex;
        align-content: center;
        padding: $garter00 $garter02;
        margin-left: -$garter02;
        margin-right: -$garter02;
        @include fs-mid;
        &:before {
            content: "STEP."counter(o-modalSteptitle);
            counter-increment: o-modalSteptitle;
            @include fs-min;
            font-family: $font-family02;
            font-weight: bold;
            color: $accent-color01;
            margin-right: $margin00;
        }
    }
    &Title {
        &_sub {
            margin-bottom: $margin02;
        }
        &:before {
            content: none;
        }
    }
    &Steptitle {
    }
    &Subtitle {
        @include fs-mid;
        margin-bottom: $margin00;
        &_unit {
            @include fs-min;
                }
    }
    &Btn {
        background-color: rgba($base-color02,0.9);
        display: flex;
        justify-content: center;
        align-items: center;

        &_wrap {
            width: 100%;
            padding: 1rem $garter02;
            @include mq-md {
                padding: 1rem $garter00;
            }

        }

        &_subwrap {
            flex-direction: column;
            @include mq-md {
                flex-direction: row;
            }
        }
        &_search {
            margin-right: 1rem;
            @include mq-md {
                margin-right: 0rem;
            margin-bottom: .5rem;
            }
        }

        &_save {
            margin-bottom: 1rem;
        }
        &_modal {

        }
    }
    &Input {
        &.__hide {
            display: none;
        }
    }
    &Keyword {
        background-color: rgba($sub-color06,0.9);
        padding: 1rem $garter02;

        @include mq-md {
            padding: 1rem $garter00;
        }
        &_title {
            @include fs-min;
            color: $text-color02;
            margin-right: $margin01;
            word-break: keep-all;
        }
        .o-form {
            width: 100%;
            background-color: $base-color01;
            border-radius: 2px;

            @include mq-md {
                max-width: 100%;
            }
            &Input,
            &Btn {
                padding: .5rem!important;
            }

        }
    }

    /* モーダルに関連するパーツ - child
    --------------------------------------------------------- */
    &Child {
        &_label {
            width: 24%;
            padding: $padding01 $padding00;
        }
        &_btn {
            @include fs-mid;
            padding: $padding01 $padding00;
            cursor: pointer;
        }
    }

    /* モーダルに重ねるモーダル - child
    --------------------------------------------------------- */
    &.__child {
        &.js-modalActive {
            .o-modalOverwrap {
                transform: translateY(0px);
            }
        }
        .o-modalOverwrap {
            top: 8rem;
            bottom: 0rem;
            height: auto;
            overflow-x: hidden;
            overflow-y: scroll;
            transition: $transition01;
            transform: translateY(-100px);
            @include mq-md {
                top: 0;
                bottom: 0;
            }
        }
        .o-modalWrap {
            min-height: inherit;
        }
        .o-modalFixed {
                bottom: 0;
        }
    }


    /* 部屋 - 画像モーダル
    --------------------------------------------------------- */
    &.__roomimg {
        .o-modalOverwrap {
            max-width: calc(100% - 48rem);
            top: 0;
            bottom: 0;

            @include mq-big {
                max-width: calc(100% - 16rem);
            }
            @include mq-lg {
                max-width: calc(100% - 8rem);
            }
            @include mq-md {
                max-width: 100%;
            }
        }
        .o-modalClose {
            top: initial;
            right: 24rem;
            left: initial;
            position: fixed;
            @include mq-md {
                right: 0;
            }
        }
    }
    /* 部屋の画像モーダル */
    &Room {
        &_img {
            max-width: 100%;
            margin-bottom: 1rem;
            width: 100%;
        }
    }

    /* 初期費用概算見積もり モーダル
    --------------------------------------------------------- */
    &Estimate {
        &_price {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            &Title {
            }
            &Num {
            }
        }
    }

    /* 検索条件保存 などの小さなモーダル
    --------------------------------------------------------- */
    &.__small {
        .o-modalClose {
            display: none;
        }
        .o-modalOverwrap {
            max-width: 720px;
            padding: $garter01 $garter01;
            height: fit-content;
            @include mq-lg {
                padding: $garter00;
            }
        }
        .o-modalWrap {
            min-height: inherit;
        }
    }
}


