@charset "UTF-8";

/* =========================================================
o-parts - style ボタン以外のリンクスタイル管理
============================================================*/
.o-parts {

    /*保存した検索条件*/
    &Terms {
        &_item {
            margin-bottom: $margin02;
        }

        &_head {
            margin-bottom: $margin00;
        }

        &_title {
            font-weight: bold;
            @include fs-mid;
            margin-right: $margin01;
        }

        &_date {
            color: $text-color04;
            @include fs-min;
        }

        &_delete {
            margin-left: auto;
            color: $accent-color02;
            font-weight: bold;
            @include fs-mid;
        }

        &_cont {
            padding: $padding01 $padding02;
            justify-content: space-between;

            &.__white {
                background-color: $base-color01
            }

            &.__gray {
                background-color: $sub-color01;
            }

            //モーダルの検索条件
            &.__modal {
                padding: 0;

                .o-partsTerms_info {
                    padding: $padding01;
                }
            }
        }

        &_info {
            margin-right: $margin02;
            @include fs-mid;
        }

        &_search1 {
            padding-bottom: $padding00;
            margin-bottom: $margin00;
            border-bottom: 1px solid $sub-color01;

            &Icon {
                margin-right: $margin00;

                &,
                &:before {
                    @include fs-large;
                }
            }

            &Title {
                position: relative;
                @include fs-mid;
                font-weight: bold;
            }
        }

        &_search2 {
            margin-left: $margin02;
            @include fs-min;

            &Title {
                position: relative;
                @include fs-mid;
                font-weight: bold;
                margin-bottom: $margin00;
            }
        }

        &_searchbtn {
            padding: $padding01 $padding01;
        }

        //エリア検索の場合
        &.__area {}
    }

    /*  通知  */
    &Notification {
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-family: $font-family02;
        letter-spacing: 0;

        //タイプ
        &.stock {
            color: $text-color02;
            background-color: $accent-color01;
        }

        //サイズ
        &.__sizes {
            width: 2rem;
            height: 2rem;
            @include fs-tiny;
        }

        &.__sizem {
            width: 2.5rem;
            height: 2.5rem;
            @include fs-mid;
            line-height: 2.5;
        }

        &.__sizel {
            width: 3.5rem;
            height: 3.5rem;
            @include fs-p;
        }

        //位置
        &.__top {
            top: .5rem;
            bottom: inherit;
            right: 1rem;
        }
    }

    /* 続きを読む コンテンツをチラ見せ*/
    &More {
        position: relative;

        &_cont {
            padding: $padding02;
            position: relative;
            overflow: hidden;
            height: 160px;
            /*隠した状態の高さ*/
            transition: $transition01;

            @include mq-md {
                height: 60px;
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100px;
                /*グラデーションで隠す高さ*/
                background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
                background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
                transition: $transition01;
            }
        }

        &_trigger {
            display: none;

            &:checked + .o-partsMore_btn {

                &:before {
                    content: "閉じる";
                    padding: 1rem;
                    font-weight: bold;
                    border-bottom: 2px solid $sub-color05;
                        /*チェックされていたら、文言を変更する*/
                    ;


                }

                .o-partsMore_icon:before,
                svg {
                    transform: rotate(180deg);
                }
            }
            &:checked + .o-partsMore_btn.__style02 {
                bottom: -5rem;
            }

            &:checked ~ .o-partsMore_cont {
                height: 100%;
                margin-bottom: 3rem;
            }

            &:checked ~ .o-partsMore_cont {
                &::before {
                    display: none;

                }
            }
        }

        &_icon {
            margin-left: $margin00;
            &,
            &:before,
            svg {
                transition: $transition01;
            }
        }

        &_btn {
            z-index: 2;
            position: absolute;
            right: 0;
            bottom: 1rem;
            left: 0;
            text-align: center;
            margin: auto;
            padding: $padding00 $padding01;
            cursor: pointer;
            transition: $transition01;
            @include fs-mid;

            &:before {
                content: "続きを読む";
                transition: $transition01;
            }

            &.__style02 {
                bottom: -5rem;
                &:before {
                    content: "他のお部屋を表示する";
                    padding: 1rem;
                    font-weight: bold;
                    border-bottom: 2px solid $sub-color05;
                }
            }
        }
    }

    //
    &Notice {
        display: none;
        @include fs-mid;
        font-weight: bold;
        text-align: center;
        position: fixed;
        top: 8rem;
        left: 0;
        right: 0;
        max-width: 300px;
        margin: auto;
        padding: $padding01;
        border-radius: 2px;
        background-color: rgba($accent-color03,0.9);
        color: $text-color02;
        z-index: 10;
    }

    &Fixnav {
        display: none;

        @include mq-md {
            display: block;
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 6;
        }

        &.__type01 {
            .o-partsFixnav_item {

                &.__search,
                &.__save {
                    @include fs-min;
                    font-weight: bold;
                    width: 100%;
                }
            }
        }

        &.__type02 {
            .o-partsFixnav_item {
                @include fs-min;
                font-weight: bold;
                width: 33.33333333%;
            }
        }

    &_wrap {}

    &_item {
        color: $text-color02;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(20px);
        background-color: rgba($base-color05, 0.6);
        padding: $padding00 $padding01 $padding01;
        border-right: 1px solid rgba($base-color01, 0.3);

        &:hover {
            color: $text-color02;
            backdrop-filter: blur(10px);
            background-color: rgba($base-color05, 0.7);

        }
    }

    &_icon {
        display: block;

        &,
        &:before {
            font-weight: normal;
            color: $text-color02 !important;
            line-height: 1 !important;
        }

        &.flaticon-download,
        &.flaticon-download:before {
            line-height: .7 !important;
        }
    }
}

}
