@charset "UTF-8";

/* =========================================================
o-room - style
============================================================*/
.o-room,
body.single .p-postCont .p-postRoom .o-room {
    p {
        margin-bottom: inherit;
    }

    li {
        &:before {
            content: none;
        }
    }

    &Item {
        position: relative;

        &:hover {

            .o-roomDesc,
            .o-roomThumb {
                -webkit-box-shadow: 0 0 17px rgba(39, 39, 62, 0.4);
                box-shadow: 0 0 17px rgba(39, 39, 62, 0.4);
            }
        }
    }

    /*保存・部屋の状態*/
    &Save,
    &Status {
        position: absolute;
        top: 3rem;
        height: 3.5rem;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem $padding00;
        backdrop-filter: blur(20px);
        font-weight: bold;
        @include fs-min;
        color: $text-color02;
        border-radius: 1px;
    }

    &Save {
        padding: 0.4rem 1.1rem;
        right: 3rem;
        background-color: rgba($base-color05, 0.8);

        .o-icon {
            &:before {
                margin-right: 0;
                color: $text-color02;
                @include fs-mid;
                transition: $transition01;
                opacity: .5;
            }

            &.__checked {
                &:before {
                    color: #d6a882;
                    opacity: 1;
                }
            }
        }
    }

    &Status {
        padding: 0.4rem $padding01;
        left: -1rem;
        background-color: rgba($base-color04, 0.6);
    }


    &Cont {
        padding: $garter00;
    }

    &Catch {}

    &Img {
        position: relative;
    }

    &Thumb {
        position: relative;
        width: 100%;
        background-color: $base-color02;
        overflow: hidden;

        transition: $transition02;

        &:before {
            content: "";
            display: block;
            padding-top: 70%;

            @include mq-sm {
                padding-top: 70%;
            }
        }

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(180deg, rgba($accent-color03, 0) 40%, rgba($base-color05, 1));
        }

        &_img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 2px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    /*物件概要 画像の上に乗っているタイトルなど*/
    &Summary {
        position: relative;
        color: $text-color02;
        z-index: 1;
        text-shadow: 0 0 10px rgba(0, 0, 0, 1);
        @include fs-min;
    }

    &Space {
        font-family: $font-family02;
        font-weight: bold;
        margin-top: $margin00;
        padding-top: $padding00;
        border-top: 1px solid rgba($sub-color02, 0.3);

        &_meter {
            margin-right: $margin01;
        }

        .o-icon {
            font-weight: normal;
        }
    }

    &Title {
        @include fs-title;
    }

    &Price {
        font-family: $font-family02;
        @include fs-title;

        &_unit {
            @include fs-tiny;
        }
    }



    /*物件情報 住所やビル情報など */
    &Desc {
        transition: $transition02;
        background-color: $base-color01;
        border-radius: 0 0 2px 2px;

        @include fs-min;
    }

    /*左サイドの情報*/
    &Info {
        width: 100%;
    }

    &Address {
        @include fs-mid;
    }

    &Map {
        position: relative;
        z-index: 5;
    }

    &Station {
        padding: $padding00 0;
        margin: $margin00 0;
        border-top: 1px solid $base-color02;
        border-bottom: 1px solid $base-color02;

        &_list {
            display: flex;
            margin-bottom: .4rem;
            padding-left: 0;
            @include fs-mid;
            line-height: 1.4;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &_name {
            margin-right: $margin01;
            @include fs-tiny;
            font-weight: bold;
            min-width: 60px;
        }
    }

    &Tag {
        position: relative;
        z-index: 5;
    }

    /*右サイドの情報*/
    &Building {
        width: 14rem;
        margin-left: $margin01;

        &_item {
            @include fs-min;
            padding: .4rem;
            text-align: center;
            border: 1px solid $base-color01;
            border-bottom: 0px;
            background-color: $sub-color01;
            line-height: 1.3;

            &:last-child {
                border-bottom: 1px solid $base-color02;
            }
        }
    }

    &Contact {
        margin-top: $margin00;
        padding: $padding00 0.2rem;
    }

    /* 空き部屋情報の枠 */
    &Vacant {
        position: relative;

        &:before {
            position: absolute;
            content: "";
            height: 20rem;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-image: linear-gradient(180deg, rgba(transparent, 0) 40%, rgba($sub-color01, 1));
        }

        &_title {
            @include fs-mid;
            margin-left: $margin01;
            margin-bottom: $margin01;

            @include mq-md {
                display: none;
            }
        }

        &_cont {
            background-color: $sub-color02;
            padding: $margin01;
            overflow-y: scroll;
            height: 60rem;

            @include mq-md {
                width: 100%;
                height: auto;
                overflow-x: scroll;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }

            @include mq-sm {
                margin-right: -2rem;
                width: auto;
            }

        }

        &_wrap {
            @include mq-md {
                display: flex;
                min-width: 1200px;
            }
        }

        .o-roomVacancy {
            box-shadow: 0 0 8px rgba($sub-color06, 0.1);
            margin-bottom: $margin01;

            &:last-child {
                margin-bottom: none;
            }
        }
    }

    /* 空き部屋情報の詳細 */
    &Vacancy {
        position: relative;
        padding: 1px;
        background-color: $base-color01;

        @include mq-md {
            min-width: 200px;
        }

        @include mq-sm {}

        &:hover {
            z-index: 1;

            .o-roomVacancy_thumb {
                &:before {
                    bottom: 0;
                    opacity: 1;
                }
            }
        }

        &_floor {
            padding: $padding00;
            background-color: $sub-color01;
            text-align: center;
            font-weight: bold;
            @include fs-mid;
        }

        &_thumb {
            position: relative;
            display: flex;
            border-bottom: 1px solid $sub-color01;
            height: 160px;
            max-height: 160px;
            cursor: pointer;
            border: 1px solid transparent;
            transition: $transition01;
            border: 1px solid $sub-color01;

            &:hover {
                border: 1px solid $sub-color02;
            }

            &:before {
                content: "部屋画像を見る";
                position: absolute;
                opacity: 0;
                left: 0;
                right: 0;
                bottom: -5px;
                margin: auto;
                height: 20px;
                font-size: 11px;
                font-weight: bold;
                text-align: center;
                padding: 4px;
                background-color: rgba($sub-color01, 0.8);
            }
            &.__nomodal:before {
                content: none;
            }
        }

        &_img {
            padding: $padding00;
            object-fit: contain;
            margin-left: auto;
            margin-right: auto;
        }

        &_cont {
            padding: $padding00 1rem $garter00;
        }

        &_price {
            color: $accent-color01;
            @include fs-title;
            font-weight: 900;
            font-family: $font-family02;
            color: $accent-color01;
            letter-spacing: 0px;

        }

        &_unit {
            @include fs-tiny;
        }

        &_cost {
            margin-bottom: 1rem;

            &Item {
                padding: $padding00 $padding00;
                padding-left: 0;

                @include mq-sm {
                    padding: .4rem $padding00;
                    padding-left: 0;
                }

                &_title {
                    @include fs-tiny;
                    color: $text-color04;
                }

                &_period {
                    @include fs-min;
                    font-family: $font-family02;
                }
            }

            //もしフリーレントがある場合
            &.withfreerent {
                flex-wrap: wrap;

                .o-roomVacancy_costItem {
                    width: 50%;

                    @include mq-sm {
                        padding: .4rem .1rem;
                        padding-left: 0;
                    }

                    &_title {
                        @include fs-min;
                    }

                    &_period {
                        @include fs-mid;
                    }
                }
            }
        }

        &_space {
            margin-bottom: 1rem;

            &Item {
                font-weight: 900;
                font-family: $font-family02;
                font-weight: normal;
                @include fs-min;

                &.__area {
                    margin-right: $margin01;

                    @include mq-sm {
                        margin-right: $margin00;
                    }
                }
                &_title {
                    color: $text-color04;
                }

                .o-icon {
                    &:before {
                        font-weight: normal;
                    }
                }
            }
        }

        &_contact {
            padding: $padding00 $padding00;
        }

    }

    &Table {
        &.__style01 {
            margin-bottom: $margin02;

            tr {
                border-bottom: 1px solid $sub-color02;
            }

            th,
            td {
                @include fs-mid;
                padding: $padding01 $padding01;
                border: none;
            }

            th {
                background-color: $sub-color01;
                font-weight: bold;
            }

            td {}
        }
    }
}

/* =========================================================
o-room - style - 並び方
============================================================*/
.o-room {
    &.__list {
        width: auto;
        margin-left: -1rem;
        margin-right: -1rem;

        .o-roomItem {
            width: 50%;
            flex: 0 0 50%;
            padding: 1rem;
            margin-bottom: $garter00;

            @media (min-width: 2000px) {
                width: 33.33333%;
                flex: 0 0 33.33333%;
            }

            @media (min-width: 2600px) {
                width: 25%;
                flex: 0 0 25%;
            }

            @include mq-md {
                width: 100%;
                flex: 0 0 100%;
                margin-bottom: 0;

                &:last-child {
                    margin-bottom: $margin00;
                }
            }

            &.__nomb {
                margin-bottom: 0;
            }
        }

        .o-roomStatus {
            left: 0rem;
        }
    }

    &.__compact {
        .o-roomItem {
            width: 16.666666666%;
            flex: 0 0 16.666666666%;
            padding: 1rem;

            @media (min-width: 1700px) {
                width: 12%;
                flex: 0 0 12%;
            }

            @media (min-width: 2600px) {
                width: 10%;
                flex: 0 0 10%;
            }

            @include mq-lg {

                width: 16.666666666%;
                flex: 0 0 16.666666666%;
            }

            @include mq-md {
                width: 25%;
                flex: 0 0 25%;
            }

            @include mq-sm {
                width: 33.333333%;
                flex: 0 0 33.333333%;
            }
        }

        &.__4 {
            .o-roomItem {
                width: 20%;
                flex: 0 0 20%;
                padding: 1rem;

                @media (min-width: 1700px) {
                    width: 16.666666666%;
                    flex: 0 0 16.666666666%;
                }

                @media (min-width: 2600px) {
                    width: 12%;
                    flex: 0 0 12%;
                }

                @include mq-lg {

                    width: 25%;
                    flex: 0 0 25%;
                }

                @include mq-sm {
                    width: 33.333333%;
                    flex: 0 0 33.333333%;
                }
            }
        }

        .o-roomThumb {
            position: relative;
            width: 100%;
            background-color: $base-color02;
            overflow: hidden;
            margin-bottom: $margin00;

            &:before {
                content: "";
                display: block;
                padding-top: 56.5%;

                @include mq-sm {
                    padding-top: 56.5%;
                }
            }

            &:after {
                content: none;
            }

            &_img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: .4rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .__withroom {
        width: 100%;

        .o-roomItem {}
    }

    //横並び
    &.__horizontal {
        margin-bottom: $margin04;
        background-color: $sub-color01;
        border: 16px solid $sub-color01;
        &.__noborder {
            border: 0px;
        }

        .o-roomVacancy {
            padding: $padding00 $padding01;
            margin-bottom: 2px;

            @include mq-md {
                justify-content: flex-start;
                padding: $padding01;
            }

            &_thumb {
                width: 120px;
                height: 120px;
                margin-right: $margin00;
                @include mq-md {
                    width: 80px;
                    height: 80px;
                }
            }

            &_img {
                padding: 0;
            }

            &_info {
                flex: auto;
                padding: 0 $padding01;

                @include mq-md {
                    padding: 0 $padding00;
                    margin-bottom: $margin01;
                }
            }

            &_price {
                font-size: 19px;
                margin-bottom: 0px;
                margin-right: 1.6rem;
                @include mq-md {
                    margin-right: 0;
                }
            }

            &_cost {
                margin: $margin01;
                padding-bottom: $padding00;
                border-bottom: 1px solid $sub-color01;

                @include mq-md {
                    margin: $margin00;
                    padding: $padding00 0;
                    justify-content: flex-start;
                }

                &Item {
                    padding: 0 $padding01;
                    @include mq-md {
                        padding: 0 $padding00;
                    }

                    &_title {
                        @include fs-min;
                        display: block;
                        line-height: 1;
                    }

                    &_period {
                        @include fs-mid;
                        font-weight: bold;
                    }
                }
            }

            &_space {
                margin: $margin01;
                @include mq-md {
                    margin: $margin00;
                    justify-content: flex-start;
                }

                &Item {
                    @include fs-mid;
                    padding: 0 $padding01;
                    @include mq-md {
                        padding: 0 $padding00;
                    }

                    &_title {
                        @include fs-min;
                        display: block;
                        line-height: 1;
                    }
                    &_period {
                        @include fs-mid;
                        font-weight: bold;
                    }
                }
            }

            &_btn {
                &Item {
                    white-space: nowrap;
                    @include mq-md {
                        width: 100%;
                    }
                }
                &.__2 {
                    @include mq-md {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                    }

                    &Item {
                        white-space: nowrap;
                        &.__navy01 {
                            margin-bottom: 1rem;

                            @include mq-md {
                                margin-bottom: 0;
                            }
                        }

                        @include mq-md {
                            width: 49%;
                        }
                    }

                }
            }
        }
    }
}
