@charset "UTF-8";

/* =========================================================
物件検索のスタイル
============================================================*/

.o-search {
    background-color: $base-color01;
    @include fs-mid;
    counter-reset: o-searchSteptitle;

    &Cont {
        br {
            display: none;
        }
        + p {
            display: none;
        }
    }

    &Box {
        width: 100%;
        p {
            margin-bottom: 0px!important;
        }
    }

    &Steptitle {
        display: flex;
        align-items: center;
        padding: $garter00 0!important;
        margin-bottom: 0!important;

        @include mq-md {
            padding: $garter00 0;
            margin-bottom: $margin00;
        }

        &:before {
            position: relative!important;
            content: "STEP."counter(o-searchSteptitle)!important;
            counter-increment: o-searchSteptitle;
            @include fs-min;
            font-family: $font-family02;
            font-weight: bold;
            color: $accent-color01;
            margin-right: $margin00;
            top: inherit!important;
            left: inherit!important;
            height: inherit!important;
            width: inherit!important;
            background-color: transparent!important;
        }
    }
    &Subtitle {
        margin-top: 6rem;
        margin-bottom: 1rem;
        font-size: 1.3rem!important;
    }

    /*エリア沿線選択*/
    &Area {
        margin-bottom: $margin02;
        &_item {
            color: $text-color01!important;
            text-decoration: none!important;
            @include fs-mid;
            display: block;
            width: 100%;
            text-align: center;
            padding: $padding01 $padding01 $padding01;
            border: 1px solid $base-color01;
            background-color: $sub-color01;
            font-weight: bold;
            cursor: pointer;
            @include mq-big {
                padding: $padding01 F$padding00;
            }
            &Icon {
                display: block;
                font-weight: normal;
                margin-bottom: .2rem;
                line-height: 1;
                &:before {
                    font-size: 3.2rem;
                    margin-right: 0px;
                }
                &.flaticon-map:before {
                    font-size: 2.6rem;
                    line-height: 1.3;
                }
            }
            &:hover,
            &.selected {
                background-color: $base-color05;
                color: $text-color02!important;
                .o-searchArea_itemIcon:before {
                    color: $text-color02;
                    }
            }
        }
        &_selected {
            margin-top: $margin00;
            &Item {
                @include fs-mid;
            }
        }
    }

    //家賃スライダー
    &Money {
        @include mq-md {
            padding: 0 $garter00;
        }
        &_slider {
            margin-top: $margin03;
            margin-bottom: $margin03;
            width: 100%!important;
            .back-bar {
                height: 15px!important;
                border-radius: 100px!important;
                background-color: $sub-color02!important;
                background-image: none!important;
            }
            .selected-bar {
                background-color: rgba($accent-color01,0.5)!important;
                background-image: none!important;
            }
            .pointer {
                width: 2rem!important;
                height: 2rem!important;
                border-radius: 100px!important;
                border: none!important;
                background-color: $sub-color06!important;
                box-shadow: 0 0 10px rgba($sub-color05,0.1)!important;
                background-image: none!important;
            }
            .scale {
                display: none;
            }
            //表示される数字
            .pointer-label {
                font-family: $font-family02!important;
                font-weight: bold!important;
                color: $text-color01!important;
                font-size: 1.3rem!important;
                top: -24px!important;
                &.low {

                }
                &.high {
                    left: inherit!important;
                    right: 0;
                }
            }
        }
        &_label {
            @include fs-min;
            font-weight: bold;
            cursor: pointer;
        }
    }
    //部屋面積
    &Room {
        &_label {
            @include fs-min;
            font-weight: bold;
            margin: 0;
            width: 20%!important;
            flex: 0 0 20%;
            @include mq-md {
                width: 10%!important;
                flex: 0 0 10%;
            }
            @include mq-sm {
                width: 16%!important;
                flex: 0 0 16%;
            }

        }
    }

    //人気の検索条件
    &Terms {
        /*&_select {
            width: 50%;
        }*/
    }

    //ボタン周り
    &Btn {
        text-decoration: none!important;
        color: $text-color01!important;
        &_save {
            margin-right: 0;
            .o-icon {
                @include fs-title;
            }
        }
    }



    /* サイドカラムの検索
    --------------------------------------------------------- */
    &.side {
        counter-reset: title-num;
        .wpcf7-list-item,
        .o-searchArea{
            margin-bottom: .4rem;
            &,&_item{
            font-size: 1.1rem!important;
            }
        }
        .o-searchBox_cont {
            margin-top: 2rem;
            padding-top: 2rem;
            border-top: 1px solid $sub-color01;
        }
        .o-searchSave {
            display: block;
            padding: 1rem;
            background-color: $base-color02;
            text-align: center;
            @include fs-min;
            .o-icon {

            }
        }
        .o-searchStep {
            border-top: 1px solid $sub-color02;
            padding: $garter00 1rem;
            &:first-child {
                border-top: none;
            }
        }
        .o-searchTitle {
            position: relative;
            text-align: center;
            margin-bottom: $margin01;
            &:before {
                content: "STEP." counter(title-num);
                counter-increment: title-num;
            }
        }
        .o-searchSubtitle {
            margin-top: 0;
        }
        .o-searchMoney {
            .wpcf7-list-item {
                margin: 0;
                border: 1px solid $base-color01;
            }
        }
        .o-searchKeyword {
            background-color: $base-color05;
            color: $text-color02;
            padding-bottom: 0;
            .o-searchTitle {
                &:before {
                    content: "OTHER";
                }
            }
        }
        .o-searchTerms {
            margin-top: $margin00;
            &_select {
                width: auto;
            }
        }
        .o-searchBtn {
            &_search {
                min-width: inherit;
            }
            &_save {
                width: 100%;
            }
        }
        .o-formChecklist_label {
            display: flex;
        }

    }

    //モーダルのサーチ

}
