@charset "UTF-8";

/* =========================================================
o-spnav - スマホのナビゲーション
============================================================*/

.o-spnav {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 59px;
    background-color: #fff;
    z-index: 11;
    box-shadow: 0 -1px 12px rgba($sub-color05, 0.05),0 -1px 17px rgba($sub-color05, 0.05);
    &.__pc {
        height: auto;
        box-shadow: none;
        background-color: transparent;
        .o-spnavModal-bg {
            bottom: 0;
        }
    }
    &List {
        flex: auto;
        transition: $transition01;
        cursor: pointer;
        &.top {
            max-width: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-icon {
            display: block;
            &:before {
                @include fs-large;
            }
        }

        &-title {
            @include fs-tiny;
            font-weight: bold;
            padding: 8px 0 12px;
            display: block;
            position: relative;
        }
        &-wrap {
            cursor: pointer;
            transition: $transition01;
            text-align: center;
            &:hover {
                color: #fff;
                background-color: $sub-color05;
            }
            &.active {
                color: #fff;
                background-color: $sub-color05;
            }
        }
        &-content {
            background-color: $sub-color05;
            position: absolute;
            transition: $transition01;
            width: auto;
            height: auto;
            bottom: -70vh;
            margin-right: -14px;
            max-height: 70vh;
            overflow-y: scroll;
            left: 0px;
            right: 0px;
            display: none;
            &Item {
                margin-bottom: $garter02;
                &:last-child {
                    margin-bottom: 0;
                }
            }
                &:before {
                    content: "";
                    position: relative;
                    @include gradient($sub-color05,transparent,vertical);
                    width: 100%;
                    height: 64px;
                    top: 0;
                    left: 0;
                    right: 0;
                }
        }
        &-wrap.open + &-content {
            bottom: 59px;
            height: auto;
        }
        &-wrap.open{
            color: #fff;
            background-color: $sub-color05;
        }
        //閉じる
        &-closebtn {
            display: none;
            position: fixed;
            top: inherit;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -2;
            background-color: rgba($sub-color05,0.3);
            transition: $transition01;
            opacity: 0;
        }
        &-content.open2 {
            .o-spnavList-closebtn {
                top: 0;
                display: block;
                opacity: 1;
            }
        }
        //タグ
        &-tag {
            position: relative;
            &Triger {
                position: absolute;
                text-align: center;
                width: 100%;
                padding-top: 40px;
                bottom: 0;
                color: #fff;
                z-index: 2;
                cursor: pointer;
                @include fs-mid;
                @include gradient(rgba($sub-color05,0),$sub-color05,vertical);
                &:before {
                    content: "";
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0px;
                    height: 1px;
                    background-color: #fff;
                    transition: $transition01;
                }
                &:hover {
                    &:before {
                        width: 64px;
                    }
                }
            }
            &Wrap {
                position: relative;
                height: 100px;
                overflow: hidden;
                display: block!important;
                transition: $transition01;
            }
            &Triger.active {
                bottom: -32px;
                padding-top: 0px;
                + .o-spnavList-tagWrap {
                    height: 200px;
                    overflow-y: scroll;
                    &:before {
                        height: 0px;
                        display: none;
                    }
                }
            }
        }
        //カテゴリー
        &-cat {
            margin: 0;
            &List {
                margin: 0 0 8px;
            }
            &Link {
                @include fs-mid;
                margin: 0!important;
            }
        }
    }
    //モーダルのスタイル
    &Modal {
        display: none;
        height: calc(100vh - 59px);
        height: calc(var(--vh, 1vh) * 100);
        position: fixed;
        top: 0;
        bottom: 59px;
        width: 100%;
        z-index: -1;
        &#modal03 {
            z-index: -1;
        }
        &-bg
        {
            background: rgba(0,0,0,0.8);
            height: calc(100vh - 59px);
            height: calc(var(--vh, 1vh) * 100);
            position: absolute;
            width: 100%;
            bottom: 59px;
        }
        &-cont {
            background-color: $sub-color05;
            margin-right: -14px;
            padding: 40px;
            position: absolute;
            width: 100%;
            max-height: 70vh;
            overflow-y: scroll;
            left: 0;
            right: 0;
            bottom: 59px;
            transition: $transition01;
        }
        &.open {
            .o-spnavModal-cont {
                bottom: 59px;
            }
        }
        &-close {
            position: absolute;
            width: 100%;
            height: 100%;
            visibility: hidden;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            &.active {
                visibility: visible;
            }
        }
        &-magcont {
position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        &.__magazine {
            .o-spnavModal-magcont {
                max-width: 820px;
                max-height: inherit;
                bottom: 0;
                top: 0;
                left: 0;
            }
        }
    }
}
/* =========================================================
o-spnav - jsのcss
============================================================*/

.accordion_inner {
    visibility: hidden;
}
.open+.accordion_inner {
    visibility: visible;
}



.close_btn {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 30px;
    cursor: pointer;
}


/*ポップアップココまで*/
