@charset "UTF-8";

/* =========================================================
o-text - style
============================================================*/

.o-text {
    &.__grey {
        color: $text-color03;
    }
    &.__bg01 {
        > * {
            font-weight: 900;
            padding: 0.1rem 0.2rem 0.2rem;
            display: inline;
            background-color: $sub-color02;
            color: $text-color02;
        }
    }
    &.__english {
        font-family: $font-family02;
        font-weight: 900;
        text-align: left;
    }

    &.__rgbawhite {
            color: rgba(#fff,0.8);
    }


    &.__huge {
        font-size: 3.2rem;
        @include mq-md {
            font-size: 2.9rem;
        }
        @include mq-sm {
            font-size: 2.9rem;
        }
    }
    &.__en {
        font-family: $font-family02;
        letter-spacing: .05rem;
    }

    &.__big {
        @include fs-big;
    }
    &.__large {
        @include fs-large;
        &.__en {
            letter-spacing: .1rem;
        }
    }
    &.__title {
        font-weight: normal;
        @include fs-title;
        &.__en {
            letter-spacing: .3rem;
        }
    }
    &.__p {
        @include fs-mid;
    }
    &.__mid {
        @include fs-mid;
    }

    &.__min {
        @include fs-min;
    }

    &.__tiny {
        @include fs-tiny;
    }

    &.__thin {
        font-weight: 100;
    }
    &.__weak {
        color: $text-color03;
    }
    &.__bold {
        font-weight: 900;
    }
    &.__white {
        color: $text-color02;
    }


    &.__color04 {
        color: $text-color04;
    }
}
