@charset "UTF-8";

/* =========================================================
o-tab - style
============================================================*/

.o-tabList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid $sub-color01;
    margin-bottom: $garter01;
    &-item {

        &Link {
            position: relative;
            display: block;
            padding: 12px;
            color: $text-color03;
            @include fs-mid;
            &:before {
                content: "";
                position: absolute;
                bottom: -1px;
                left: 0px;
                height: 1px;
                width: 100%;
                background-color: rgba($sub-color05,0);
                transition: $transition01;
            }
        }

        &.active {
            .o-tabList-itemLink {
                color: $text-color01;

                &:before {
                    background-color: rgba($accent-color01,1);
                }
            }
        }
    }
}


.o-tabPanel {
    display: none;

    &.active {
        display: block;
    }
}
