@charset "UTF-8";
// 投稿記事内のスタイルを定義する
//
// ../_p-post-content と ../../admin/sass/editor-style-post.scss から読み込まれる
@mixin post-content {

    /* =========================================================
     post-content 記事専用css
    ========================================================= */
    a {
        color: #2581c4;
    }
    p,pre {
        line-height: 2;
        margin-bottom: 2em;
        @include mq-md {
            font-size: 15px;
        }
    }
    strong {
        color: $accent-color02;
    }
    h3,h4,h5,ul,ol,table,img,dl {
        margin: 1em 0 2em;
    }
    .aligncenter {
        margin: 1em auto 2em;
    }
    img.alignleft {
        float: left;
        margin-right: 15px;
        margin-bottom: 0;
        margin-top: 0;
        @include mq-sm {
            float: none;
            margin-right: 0;
        }
    }
    img.aligncenter {
        margin: 0 auto;
        clear: inherit;
    }
    h2 {
        position: relative;
        font-weight: bold;
        font-size: 25px;
        padding: 12px 0;
        margin: 3em 0 1.5em;
        border-bottom: none;
        @include mq-md {
            margin: 1em 0 2em;
            font-size: 21px;
            padding-bottom: 12px;
            margin-bottom: 16px;
        }
        &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 4px;
            background-color: $accent-color01;
            left: -64px;
            top: 0;
            bottom: 0;
            margin: auto;
            border-radius: 50px;
            @include mq-lg {
                left: -40px;
            }
            @include mq-md {
                left: -20px;
                width: 2px;
            }
            @include mq-sm {
                left: -16px;
            }
        }
    }

    h3 {
        font-size: $font-size04;
        font-weight: bold;
        padding: 12px;
        border-left: 2px solid $accent-color01;
        background-color: $sub-color01;
        @include mq-md {
            font-size: 17px;
        }
    }
    h4 {
        position: relative;
        font-size: $font-size03;
        font-weight: bold;
        padding: 0 0 12px;
        border-bottom: 2px solid $sub-color01;
        &:before {
            content: "";
            position: absolute;
            height: 2px;
            width: 40px;
            background-color: $accent-color01;
            bottom: -2px;
            left: 0;
        }
    }
    ul,ol {
        li{
            position: relative;
            padding-left: 24px;
            margin-bottom: 1em;
            font-size: $font-size03;
            list-style: none;
            &:last-child {
                margin-bottom: 0;
            }
            &:before {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto 12px auto 0;
            }
        }
    }
    ul li {
        &:before {
            content: "◎";
            color: $accent-color03;
            font-weight: bold;
        }
    }
    ol {
        counter-reset: ol-num;
        li {
            &:before {
                content: counter(ol-num)".";
                counter-increment: ol-num;
                font-family: $font-family02;
                font-weight: bold;
            }
        }
    }
    table {
        font-size: 12px;
        width: 100%;
        display: table;
        white-space: initial;
        tbody {
            th {
                background-color: $sub-color02;
                font-weight: bold;
                text-align: center;
            }
            td {
                p,span,ul li {
                    font-size: 12px;
                }
            }
        }
    }
    blockquote {
        position: relative;
        border: 2px solid $sub-color01;
        background-color: transparent;
        padding: 24px;
        font-size: 14px;
        &:before {
            content: "”";
            position: absolute;
            color: $text-color01;
            font-family: $font-family02;
            font-size: 32px;
            background-color: #fff;
            left: -14px;
            line-height: 1;
            padding: 6px 10px 0;
            top: -10px;
            margin: auto;
            height: 24px;
        }
        p {
            line-height: 1.6;
        }
    }
    .dot,
    .imgcaption,
    .box01,
    .box02,
    .box03 {
        position: relative;
        padding: 24px;
        border: 2px solid $sub-color01;
        font-size: 14px;
        margin-bottom: 3em;
        border-radius: 2px;
        z-index: 2;
        width: 100%;
        background-color: #fff;
        p,
        ul,
        ul li {
            font-size: 14px;
            line-height: 1.4;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &:before {
            content: "";
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            border-bottom: 2px solid rgba(0, 0, 0, 0.05);
            right: 0;
            margin: auto;
            bottom: -4px;
        }
    }
    .dot {
        border: 2px dotted $sub-color01;
    }
    .imgcaption {
        background-color: #f9f9f7;
    }
    .box01 {
        border-left: 3px solid $accent-color02;
    }
    .box02 {
        border-left: 3px solid $accent-color03;
    }
    .box03 {
        border-left: 3px solid $accent-color03;
    }
    .video {
        position:relative;
        width:100%;
        padding-top:56.25%;
        iframe {
            position:absolute;
            top:0;
            right:0;
            width:100%;
            height:100%;
        }
    }
}
