@charset "UTF-8";

/* =========================================================
p-mypage - style マイページの独自スタイル
============================================================*/
.p-mypage {

    //タブ
    &Tab {
        position: relative;
        margin-top: -$margin01;
        box-shadow: 0 0 10px rgba($sub-color06, 0.3);

        &_item {
            position: relative;
            flex: 33.3333333%;
            width: 33.3333333%;
            padding: $padding01;
            @include fs-mid;

            @include mq-md {
                display: block!important;
                text-align: center;
            }

            .o-icon {
                @include fs-title;
                @include mq-md {
                    display: block;
                }
            }

            &.history {
                border-radius: 2px 0 0 2px;
            }
            &.terms {
                border-radius: 0 2px 2px 0;
                .o-icon {
                    @include fs-large;
                }
            }

            &.__active {
                background-color: $sub-color06;
                color: $text-color02;

                .o-icon:before {
                    color: $text-color02;
                    font-weight: normal;
                }

            }
        }

        &_notification {
            position: absolute;
            top: 0;
            bottom: 0;
            right: $garter00;
            margin: auto;
            @include mq-md {
                top: 1.5rem;
                bottom: inherit;
                right: 1.5rem;
            }
        }
    }

    //コンテンツ
    &Cont {

        &.js-shown {
            display: block;
        }
    }
}
