@charset "UTF-8";

/* =========================================================
p-other - style 他ページ独自のスタイル
============================================================*/
body.page {
    .p-other {
        &Cont {
            margin-bottom: 8rem;
            img {
                width: 100%;
            }
            &.request {
                .wpcf7 {
                    padding: 1rem $garter02 $garter02;

                    @include mq-md {
                        padding: 1rem $garter00 $garter00;
                    }
                }
            }
        }
    }

}
