@charset "utf-8";

/* = widget fudouhistory Style
 * @package WordPress
-------------------------------------------------------------- */

.widget_fudou_single_history:after{ 
	content : ''; 
	display : block; 
	clear : both; 
	height:0; 
}

.cl_botton,
.cl_botton2{
	float: right;
}

/* 2011 body.singular */
/* 2013 body.sidebar */
.twentyeleven #top_fbox #content ul.cookie_fudou_jsearch ,
.sidebar #top_fbox #content ul.cookie_fudou_jsearch {
    border: none;
}



/*  */