/* =========================================================
Gradients
========================================================= */
@keyframes gradientAnime {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
/* =========================================================
resposive
========================================================= */
/* =========================================================
Font - Text - title
========================================================= */
/* =========================================================
For parts
========================================================= */
/* =========================================================
Flex
========================================================= */
/* =========================================================
All things
========================================================= */
.js-accordion {
  transition: all 0.2s; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: calc(250% / 3.5); }
  @media (max-width: 1920px) {
    html {
      font-size: .6944444444vw; } }
  @media (max-width: 1360px) {
    html {
      font-size: 62.5%; } }

body {
  margin: 0;
  padding-top: 0 !important;
  letter-spacing: .1rem;
  background: #F5F5F7;
  line-height: 1.6em;
  color: #383E48;
  font-family: YuGothic, "Original Yu Gothic", "Lato", sans-serif, Meiryo, sans-serif;
  -webkit-font-feature-settings: "palt";
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset; }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Medium"), local("YuGothic-Medium");
    font-weight: 100; } }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Medium"), local("YuGothic-Medium");
    font-weight: 200; } }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Medium"), local("YuGothic-Medium");
    font-weight: 300; } }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Medium"), local("YuGothic-Medium");
    font-weight: 400; } }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Medium"), local("YuGothic-Medium");
    font-weight: 500; } }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Bold"), local("YuGothic-Bold");
    font-weight: 600; } }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Bold"), local("YuGothic-Bold");
    font-weight: 700; } }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Bold"), local("YuGothic-Bold");
    font-weight: 800; } }
@font-face {
  body {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Bold"), local("YuGothic-Bold");
    font-weight: 900; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; } }
  @media (max-width: 720px) {
    body {
      font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif; } }

.en {
  font-family: "Lato", sans-serif;
  letter-spacing: 4px; }

/* =========================================================
Flaticon
========================================================= */
@font-face {
  font-family: "Flaticon";
  src: url("../font/flaticon.eot");
  src: url("../font/flaticon.eot#iefix") format("embedded-opentype"), url("../font/flaticon.woff") format("woff"), url("../font/flaticon.ttf") format("truetype"), url("../font/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: "Flaticon";
  font-style: normal; }

/* =========================================================
Parts
========================================================= */
ul li {
  list-style: none; }

li {
  list-style: none; }

a {
  outline: none;
  text-decoration: none; }
  a:hover {
    outline: none;
    color: #B99474; }

a:focus, *:focus {
  outline: none; }

/*reset*/
button, input, textarea, select {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  appearance: none; }

/* =========================================================
Display none
========================================================= */
@media (max-width: 576px) {
  .sm-none {
    display: none; } }

@media (max-width: 720px) {
  .md-none {
    display: none; } }

/* =========================================================
    Flex - style
========================================================= */
/* flex
--------------------------------------------------------- */
.flex-nowrap {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.flex-nowrap-big {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 1360px) {
    .flex-nowrap-big {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.flex-nowrap-xl {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 1124px) {
    .flex-nowrap-xl {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.flex-nowrap-lg {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 1080px) {
    .flex-nowrap-lg {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.flex-nowrap-md {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 720px) {
    .flex-nowrap-md {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.flex-nowrap-sm {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 576px) {
    .flex-nowrap-sm {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.flex-nowrap-no-xl {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 1124px) {
    .flex-nowrap-no-xl {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: block; } }

.flex-nowrap-no-lg {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 1080px) {
    .flex-nowrap-no-lg {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: block; } }

.flex-nowrap-no-md {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 720px) {
    .flex-nowrap-no-md {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: block; } }

.flex-nowrap-no-sm {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 576px) {
    .flex-nowrap-no-sm {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: block; } }

.flex-wrap {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-wrap-no-lg {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 1080px) {
    .flex-wrap-no-lg {
      display: block; } }

.flex-wrap-no-md {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 720px) {
    .flex-wrap-no-md {
      display: block; } }

.flex-wrap-no-sm {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 576px) {
    .flex-wrap-no-sm {
      display: block; } }

.flex-w {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-w-no-lg {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 1080px) {
    .flex-w-no-lg {
      display: block; } }

.flex-w-no-md {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 720px) {
    .flex-w-no-md {
      display: block; } }

.flex-w-no-sm {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 576px) {
    .flex-w-no-sm {
      display: block; } }

/* flex
--------------------------------------------------------- */
.flex-nw {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.flex-nw-big {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 1360px) {
    .flex-nw-big {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.flex-nw-xl {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 1124px) {
    .flex-nw-xl {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.flex-nw-lg {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 1080px) {
    .flex-nw-lg {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.flex-nw-md {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 720px) {
    .flex-nw-md {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.flex-nw-sm {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 576px) {
    .flex-nw-sm {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.flex-nw-no-big {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 1360px) {
    .flex-nw-no-big {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: block; } }

.flex-nw-no-xl {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 1124px) {
    .flex-nw-no-xl {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: block; } }

.flex-nw-no-lg {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 1080px) {
    .flex-nw-no-lg {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: block; } }

.flex-nw-no-md {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 720px) {
    .flex-nw-no-md {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: block; } }

.flex-nw-no-sm {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  @media (max-width: 576px) {
    .flex-nw-no-sm {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: block; } }

.flex-w {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-w-no-lg {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 1080px) {
    .flex-w-no-lg {
      display: block; } }

.flex-w-no-md {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 720px) {
    .flex-w-no-md {
      display: block; } }

.flex-w-no-sm {
  width: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 576px) {
    .flex-w-no-sm {
      display: block; } }

/* flex item
--------------------------------------------------------- */
.flex-item {
  flex: 1; }
  .flex-item.__left {
    margin-right: 8rem; }
  .flex-item.__inherit {
    flex: inherit; }

/* flex basis
--------------------------------------------------------- */
.flex-basisAuto {
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto; }

.flex-basis50 {
  -webkit-flex-basis: 33.3333333%;
  -moz-flex-basis: 33.3333333%;
  -ms-flex-basis: 33.3333333%;
  flex-basis: 33.3333333%; }

.flex-basis33 {
  -webkit-flex-basis: 33.3333333%;
  -moz-flex-basis: 33.3333333%;
  -ms-flex-basis: 33.3333333%;
  flex-basis: 33.3333333%; }

.flex-basis25 {
  -webkit-flex-basis: 33.3333333%;
  -moz-flex-basis: 33.3333333%;
  -ms-flex-basis: 33.3333333%;
  flex-basis: 33.3333333%; }

.flex-basis20 {
  -webkit-flex-basis: 33.3333333%;
  -moz-flex-basis: 33.3333333%;
  -ms-flex-basis: 33.3333333%;
  flex-basis: 33.3333333%; }

/* flex column
--------------------------------------------------------- */
.flex-column3 .menu-item,
.flex-column3 .flex-item {
  flex-basis: 33.333333%;
  width: 33.33333%; }
  @media (max-width: 1124px) {
    .flex-column3 .menu-item,
    .flex-column3 .flex-item {
      flex-basis: 50%;
      width: 50%; } }
  @media (max-width: 576px) {
    .flex-column3 .menu-item,
    .flex-column3 .flex-item {
      flex-basis: 100%;
      width: 100%; } }
.flex-column2 .menu-item,
.flex-column2 .flex-item {
  flex-basis: 50%;
  width: 50%; }
.flex-column1 .menu-item,
.flex-column1 .flex-item {
  flex-basis: 100%;
  width: 100%; }
.flex-column5-md-3 .menu-item,
.flex-column5-md-3 .flex-item {
  flex-basis: 20%;
  width: 20%; }
  @media (max-width: 720px) {
    .flex-column5-md-3 .menu-item,
    .flex-column5-md-3 .flex-item {
      flex-basis: 33.333333%;
      width: 33.3333333%; } }

/* flex justify-content
--------------------------------------------------------- */
.jc-center {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.jc-start {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start; }

.jc-end {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end; }

.jc-end-md-start {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end; }
  @media (max-width: 720px) {
    .jc-end-md-start {
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start; } }

.jc-between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }

.jc-between-sm-end {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }
  @media (max-width: 576px) {
    .jc-between-sm-end {
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      justify-content: flex-end;
      -ms-flex-pack: flex-end; } }

.jc-between-xl-center {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }
  @media (max-width: 1124px) {
    .jc-between-xl-center {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; } }

.jc-between-xl-start {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }
  @media (max-width: 1124px) {
    .jc-between-xl-start {
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start; } }

/* flex align-items
--------------------------------------------------------- */
.ai-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.ai-center-spno {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  @media (max-width: 576px) {
    .ai-center-spno {
      -webkit-align-items: normal;
      -moz-align-items: normal;
      -ms-align-items: normal;
      align-items: normal; } }

.ai-start {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start; }

.ai-end {
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end; }

/* gensen css
-------------------------------------------------------*/
#footer {
  margin-top: 0; }

#footer_nav {
  background-color: #F5F5F7; }

.search_keywords_operator {
  display: none !important; }

.cb_content-category_list.__3 ul li {
  flex-basis: 33.33333%;
  width: 33.3333333%;
  border: 1px solid #F5F5F7;
  line-height: 0; }
.cb_content-category_list.__square ul li a {
  height: initial; }

.single #left_col {
  padding: 4%;
  box-shadow: 0 0 24px rgba(13, 25, 46, 0.1);
  background-color: #fff; }
  @media (max-width: 576px) {
    .single #left_col {
      padding: 0;
      box-shadow: none; } }

.share-type3 ul.type3 {
  display: flex; }
  .share-type3 ul.type3 li {
    width: 33.3333333%;
    font-weight: bold; }
    .share-type3 ul.type3 li a {
      border-top: 3px solid #F5F5F7;
      border-bottom: 1px solid #F5F5F7; }
      .share-type3 ul.type3 li a:hover {
        transform: none; }
    .share-type3 ul.type3 li.twitter a {
      background: transparent;
      color: #55acee; }
      .share-type3 ul.type3 li.twitter a:hover {
        background-color: rgba(85, 172, 238, 0.05); }
    .share-type3 ul.type3 li.facebook a {
      background: transparent;
      color: #3B5998; }
      .share-type3 ul.type3 li.facebook a:hover {
        background-color: rgba(59, 89, 152, 0.05); }
    .share-type3 ul.type3 li.hatebu a {
      background: transparent;
      color: #008fde; }
      .share-type3 ul.type3 li.hatebu a:hover {
        background-color: rgba(0, 143, 222, 0.05); }

/* =========================================================
p-post - style
============================================================*/
#tinymce {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  counter-reset: h2-num; }

/*# sourceMappingURL=editor-style.css.map */
