	/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/07/2020 22:31
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-search:before { content: "\f100"; }
.flaticon-buildings:before { content: "\f101"; }
.flaticon-blueprint:before { content: "\f102"; }
.flaticon-location:before { content: "\f103"; }
.flaticon-map:before { content: "\f104"; }
.flaticon-train:before { content: "\f105"; }
.flaticon-history:before { content: "\f106"; }
.flaticon-love:before { content: "\f107"; }
.flaticon-download:before { content: "\f108"; }
.flaticon-tag:before { content: "\f109"; }
.flaticon-drops:before { content: "\f10a"; }
.flaticon-sofa:before { content: "\f10b"; }
.flaticon-construction:before { content: "\f10c"; }
.flaticon-calculator:before { content: "\f10d"; }
.flaticon-check-mark:before { content: "\f10e"; }
.flaticon-safari:before { content: "\f10f"; }
.flaticon-placeholder:before { content: "\f110"; }
.flaticon-right-arrows:before { content: "\f111"; }
.flaticon-heart:before { content: "\f112"; }