@charset "UTF-8";

/* =========================================================
    All things
========================================================= */

.js-accordion {
    transition: $transition01;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
ul {
    li {
        list-style: none;
    }
}
li {
    list-style: none;
}
html {
    font-size: 62.5%!important;
    -webkit-overflow-scrolling: touch;
    @include mq-sm {
        font-size: 50.5%!important;
    }
}
a {
    text-decoration: none;
    &:hover {
        color: $accent-color01;
    }
}
body {
    margin: 0;
    padding-top: 0!important;
    letter-spacing: .5px;
    -webkit-font-feature-settings: "palt";
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: unset;
    @media only screen and(-webkit-min-device-pixel-ratio: 2),(min-resolution: 2dppx) {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    /* font-feature-settings: "palt"; */
    background: $base-color01;
    line-height: 1.6;
    font-size: 1.6rem!important;
    font-weight: normal;
    font-family: $font-family01;
    color: $text-color01;
}
/* 全体wrap */
.site {
    overflow: hidden;
}
.en {
    font-family: $font-family02;
    letter-spacing: 4px;
}

/*子カテゴリ非表示*/
.children{
    display:none;
}
/*reset*/
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
/* =========================================================
All things for Diver
========================================================= */
.appeal_box, #share_plz, .hentry, #single-main .post-sub, #breadcrumb, #sidebar .widget, .navigation, .wrap-post-title, .pickup-cat-wrap, .maintop-widget, .mainbottom-widget, .post-box-contents, .pickup_post_list, .sticky-post-box, .p-entry__tw-follow, .p-entry__push, .catpage_content_wrap, #cta {
    box-shadow: none!important;
}

/* =========================================================
Display none
========================================================= */
.sm-none {
    @include mq-sm {
        display: none;
    }
}
.md-none {
    @include mq-md {
        display: none;
    }
}

/* =========================================================
    Flex - style
========================================================= */

/* flex
--------------------------------------------------------- */
.flex-nowrap {
    width: auto;
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(nowrap);
}

.flex-nowrap-big {
    width: auto;
    @include flexbox();
    @include flex-wrap(nowrap);

    @include mq-big {
        @include flex-wrap(wrap);
    }
}

.flex-nowrap-xl {
    width: auto;
    @include flexbox();
    @include flex-wrap(nowrap);

    @include mq-xl {
        @include flex-wrap(wrap);
    }
}

.flex-nowrap-lg {
    width: auto;
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(nowrap);

    @include mq-lg {
        @include flex-wrap(wrap);
    }
}

.flex-nowrap-md {
    width: auto;
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(nowrap);

    @include mq-md {
        @include flex-wrap(wrap);
    }
}

.flex-nowrap-sm {
    width: auto;
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(nowrap);

    @include mq-sm {
        @include flex-wrap(wrap);
    }
}

.flex-nowrap-no-xl {
    width: auto;
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(nowrap);

    @include mq-xl {
        @include flex-wrap(wrap);
        display: block;
    }
}
.flex-nowrap-no-lg {
    width: auto;
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(nowrap);

    @include mq-lg {
        @include flex-wrap(wrap);
        display: block;
    }
}

.flex-nowrap-no-md {
    width: auto;
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(nowrap);

    @include mq-md {
        @include flex-wrap(wrap);
        display: block;
    }
}

.flex-nowrap-no-sm {
    width: auto;
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(nowrap);

    @include mq-sm {
        @include flex-wrap(wrap);
        display: block;
    }
}

.flex-wrap {
    width: auto;
    @include flexbox();
    @include flex-wrap(wrap);

    @include mq-lg {}
}

.flex-wrap-no-lg {
    width: auto;
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(wrap);

    @include mq-lg {
        display: block;
    }
}

.flex-wrap-no-md {
    width: auto;
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(wrap);

    @include mq-md {
        display: block;
    }
}

.flex-wrap-no-sm {
    width: auto;
    @include flexbox();
    @include justify-content(space-between);
    @include flex-wrap(wrap);

    @include mq-sm {
        display: block;
    }
}
.flex-w {
    width: auto;
    @include flexbox();
    @include flex-wrap(wrap);

    @include mq-lg {}
}

.flex-w-no-lg {
    width: auto;
    @include flexbox();
    @include flex-wrap(wrap);

    @include mq-lg {
        display: block;
    }
}

.flex-w-no-md {
    width: auto;
    @include flexbox();
    @include flex-wrap(wrap);

    @include mq-md {
        display: block;
    }
}

.flex-w-no-sm {
    width: auto;
    @include flexbox();
    @include flex-wrap(wrap);

    @include mq-sm {
        display: block;
    }
}

/* flex item
--------------------------------------------------------- */
.flex-item {
    flex: 1;
    &.__left {
        margin-right: $garter02;
    }
    &.__inherit {
        flex: inherit;
    }
}

/* flex basis
--------------------------------------------------------- */
.flex-basisAuto {
    @include flex-basis(auto);
}

.flex-basis50 {
    @include flex-basis(33.3333333%);
}

.flex-basis33 {
    @include flex-basis(33.3333333%);
}

.flex-basis25 {
    @include flex-basis(33.3333333%);
}

.flex-basis20 {
    @include flex-basis(33.3333333%);
}

/* flex column
--------------------------------------------------------- */
.flex-column {
    &3 {
        .menu-item,
        .flex-item {
            flex-basis: 33.333333%;
            width: 33.33333%;

            @include mq-xl {
                flex-basis: 50%;
                width: 50%;
            }

            @include mq-sm {
                flex-basis: 100%;
                width: 100%;
            }
        }
    }
    &2 {
        .menu-item,
        .flex-item {
            flex-basis: 50%;
            width: 50%;
        }
    }
    &1 {
        .menu-item,
        .flex-item {
            flex-basis: 100%;
            width: 100%;
        }
    }
    &5-md-3 {
        .menu-item,
        .flex-item {
            flex-basis: 20%;
            width: 20%;
            @include mq-md {
                flex-basis: 33.333333%;
                width: 33.3333333%;
            }
        }
    }
}

/* flex justify-content
--------------------------------------------------------- */
.jc-center {
    @include justify-content(center);
}

.jc-start {
    @include justify-content(flex-start);
}

.jc-end {
    @include justify-content(flex-end);
}
.jc-end-md-start {
    @include justify-content(flex-end);
    @include mq-md {
        @include justify-content(flex-start);
    }
}


.jc-between {
    @include justify-content(space-between);
}
.jc-between-sm-end {
    @include justify-content(space-between);

    @include mq-sm {
        @include justify-content(flex-end);
    }
}
.jc-between-xl-center {
    @include justify-content(space-between);

    @include mq-xl {
        @include justify-content(center);
    }

}
.jc-between-xl-start {
    @include justify-content(space-between);

    @include mq-xl {
        @include justify-content(flex-start);
    }

}


/* flex align-items
--------------------------------------------------------- */
.ai-center {
    @include align-items(center);
}
.ai-start {
    @include align-items(flex-start);
}
.ai-end {
    @include align-items(flex-end);
}


/* gensen css
-------------------------------------------------------*/
//検索のand or 検索を非表示
.search_keywords_operator {
    display: none!important;
}
.cb_content-category_list {
    &.__3 {
        ul {
            li {
                flex-basis: 33.33333%;
                width: 33.3333333%;
                border: 1px solid $sub-color01;
                line-height: 0;
            }
        }
    }
    &.__square {
        ul {
            li {
                a {
                    height: initial;
                }
            }
        }
    }
}
