@charset "UTF-8";
// Mixin
//
// Mixinを読み込む

//@import "mixins/post-content";

/* =========================================================
Gradients
========================================================= */


//** 2色グラデーション
@mixin gradient($start-color, $end-color, $orientation)
{
    background: $start-color;
    @if $orientation == vertical
    {
        // vertical
        background: -moz-linear-gradient(top,  $start-color 0%, $end-color 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop(100%,$end-color));
        background: -webkit-linear-gradient(top,  $start-color 0%,$end-color 100%);
        background: -o-linear-gradient(top,  $start-color 0%,$end-color 100%);
        background: -ms-linear-gradient(top,  $start-color 0%,$end-color 100%);
        background: linear-gradient(to bottom,  $start-color 0%,$end-color 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=0 );
    }
    @else if $orientation == horizontal
    {
        // horizontal
        background: -moz-linear-gradient(left,  $start-color 0%, $end-color 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start-color), color-stop(100%,$end-color));
        background: -webkit-linear-gradient(left,  $start-color 0%,$end-color 100%);
        background: -o-linear-gradient(left,  $start-color 0%,$end-color 100%);
        background: -ms-linear-gradient(left,  $start-color 0%,$end-color 100%);
        background: linear-gradient(to right,  $start-color 0%,$end-color 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
    }
    @else
    {
        // radial
        background: -moz-radial-gradient(center, ellipse cover,  $start-color 0%, $end-color 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$start-color), color-stop(100%,$end-color));
        background: -webkit-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
        background: -o-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
        background: -ms-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
        background: radial-gradient(ellipse at center,  $start-color 0%,$end-color 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
        background-size: 200%;
    }
}

//** グラデーションアニメーション
@keyframes gradientAnime {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


//** 文字グラデーション
@mixin gradient-text3($angle, $color1, $color2,) {
    color: $color1;
    background: -webkit-linear-gradient($angle, $color1, $color2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
}




/* =========================================================
resposive
========================================================= */

//== resposive
//
//レスポンシブの設定
$huge: 1920px; // PC
$big: 1360px; // PC
$xl: 1124px; // PC
$lg: 991px; // PC
$md: 720px; // タブレット
$sm: 576px;  // スマホ

@mixin mq-huge {
    @media (max-width: ($huge)) {
        @content;
    }
}
@mixin mq-big {
    @media (max-width: ($big)) {
        @content;
    }
}
@mixin mq-xl {
    @media (max-width: ($xl)) {
        @content;
    }
}
@mixin mq-lg {
    @media (max-width: ($lg)) {
        @content;
    }
}
@mixin mq-md {
    @media (max-width: ($md)) {
        @content;
    }
}
@mixin mq-sm {
    @media (max-width: ($sm)) {
        @content;
    }
}


/* =========================================================
Font - Text - title
========================================================= */

@mixin fs-tiny {
    font-size: 1rem;
    letter-spacing: .03rem;
    @include mq-sm {
        font-size: 1rem;
    }

    @media screen and (max-width: 1600px) {
        font-size: 10px;
    }
}

@mixin fs-min {
    font-size: 1.2rem;
    letter-spacing: .03rem;
    @include mq-sm {
        font-size: 1rem;
    }

    @media screen and (min-width: 1600px) {
        font-size: 12px;
    }
}

@mixin fs-mid {
    font-size: 1.3rem;
    @include mq-xl {
        font-size: 1.3rem;
    }
    @include mq-sm {
        font-size: 12px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 13px;
    }
}

@mixin fs-p {
    font-size: 1.6rem;
    line-height: 1.8;
    @include mq-big {
        font-size: 16px;
    }
    @include mq-xl {
        font-size: 1.6rem;
    }
    @include mq-sm {
        font-size: 15px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 16px;
    }
}

@mixin fs-title {
    font-size: 1.9rem;
    line-height: 1.6;

    @include mq-big {
        font-size: 1.7rem;
    }
    @include mq-xl {
        font-size: 1.9rem;
    }
    @include mq-md {
        font-size: 1.7rem;
    }

    @media screen and (min-width: 1600px) {
        font-size: 19px;
    }
}

@mixin fs-large {
    font-size: 24px;
    line-height: 1.4;
    @include mq-big {
        font-size: 2.1rem;
    }
    @include mq-xl {
        font-size: 2.4rem;
    }
    @include mq-md {
        font-size: 2.1rem;
    }
    @include mq-sm {
        font-size: 1.7rem;
    }

    @media screen and (min-width: 1600px) {
        font-size: 24px;
    }
}

@mixin fs-big {
    font-size: 27px;
    @include mq-big {
        font-size: 2.7rem;
    }
    @include mq-xl {
        font-size: 3.1rem;
    }
    @include mq-md {
        font-size: 2.4rem;
    }
    @include mq-sm {
        font-size: 2.1rem;
    }

}


/* =========================================================
For parts
========================================================= */

//link-color
//--------------------------------------------------------
@mixin linkColor($color) {
    color: $color;
    &:hover, &:active, &:focus {
        color: lighten($color, 20%);
    }
}


//prefixes
//--------------------------------------------------------
@mixin prefixes($property, $value) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}#{$property}: $value;
    }
}

// form reset
//--------------------------------------------------------
@mixin formReset() {
    input, button, textarea, select {
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

// Arrow
//--------------------------------------------------------
@mixin balloonArrow($width, $height, $color, $position) {
    position: relative;
    @if ( $position == "top" ) {
        &:after {
            border-width: 0 #{$width/2}px #{$height}px #{$width/2}px;
            border-color: transparent transparent $color transparent;
            top         : -#{$height}px;
            left        : calc( 50% - #{$width/2}px );
        }
    }
    @else if ( $position == "right" ) {
        &:after {
            border-width: #{$width/2}px 0 #{$width/2}px #{$height}px;
            border-color: transparent transparent transparent $color;
            top         : calc( 50% - #{$width/2}px );
            right       : -#{$height}px;
        }
    }
    @else if ( $position == "bottom" ) {
        &:after {
            border-width: #{$height}px #{$width/2}px 0 #{$width/2}px;
            border-color: $color transparent transparent transparent;
            bottom      : -#{$height}px;
            left        : calc( 50% - #{$width/2}px );
        }
    }
    @else if ( $position == "left" ) {
        &:after {
            border-width: #{$width/2}px #{$height}px #{$width/2}px 0;
            border-color: transparent $color transparent transparent;
            top         : calc( 50% - #{$width/2}px );
            left        : -#{$height}px;
        }
    }
    &:after {
        content: "";
        border-style: solid;
        display: inline-block;
        height: 0;
        position: absolute;
        width: 0;
        transform: translateY(0);
    }
}

// LineArrow
//--------------------------------------------------------
@mixin LineArrow($size, $border-width, $border-style, $border-color, $direction) {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    width: $size;
    height: $size;
    margin-top: - ($size / 2);
    border: $border-width $border-style $border-color;
    @if $direction == up {
        -webkit-transform: rotate(-135) + deg;
        -moz-transform: rotate(-135) + deg;
        transform: rotate(-135) + deg;
    }
    @else if $direction == under {
        -webkit-transform: rotate(45 + deg);
        -moz-transform: rotate(45 + deg);
        transform: rotate(45 + deg);
    }
    @else if $direction == right {
        -webkit-transform: rotate(-45 + deg);
        -moz-transform: rotate(-45 + deg);
        transform: rotate(-45 + deg);
    }
    @else if $direction == left {
        -webkit-transform: rotate(135 + deg);
        -moz-transform: rotate(135 + deg);
        transform: rotate(135 + deg);
    }
    @else {
        -webkit-transform: rotate($direction + deg);
        -moz-transform: rotate($direction + deg);
        transform: rotate($direction + deg);
    }
}

@mixin arrow($direction: right, $size: 10, $color: $black){
    $set: left;

    @if $direction == left{
        $set: right;
    }@elseif $direction == top{
        $set: bottom;
    }@elseif $direction == bottom{
        $set: top;
    }@else{
        $set: left;
    }
    $size: round($size / 2);

    width: 0;
    height: 0;
    border: $size + px solid transparent;
    border-#{$set}-color: $color;
}

@mixin arrowlink($top, $size: 10, $color: $black){
    position: relative;
    padding-left: 10px;
    &:before{
        display: block;
        content: "";
        position: absolute;
        top: $top + px;
        left: 1px;
        @include arrow(right, $size, $color);
    }
}


//** ボックスシャドウ
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}


/* =========================================================
Flex
========================================================= */

// Flexbox display
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap;
    -moz-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
    -webkit-flex-flow: $flow;
    -moz-flex-flow: $flow;
    -ms-flex-flow: $flow;
    flex-flow: $flow;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
    -webkit-flex-grow: $grow;
    -moz-flex-grow: $grow;
    -ms-flex-grow: $grow;
    flex-grow: $grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($shrink) {
    -webkit-flex-shrink: $shrink;
    -moz-flex-shrink: $shrink;
    -ms-flex-shrink: $shrink;
    flex-shrink: $shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($width) {
    -webkit-flex-basis: $width;
    -moz-flex-basis: $width;
    -ms-flex-basis: $width;
    flex-basis: $width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
    justify-content: $justify;
    -ms-flex-pack: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align) {
    -webkit-align-content: $align;
    -moz-align-content: $align;
    -ms-align-content: $align;
    align-content: $align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
    -webkit-align-items: $align;
    -moz-align-items: $align;
    -ms-align-items: $align;
    align-items: $align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align) {
    -webkit-align-self: $align;
    -moz-align-self: $align;
    -ms-align-self: $align;
    align-self: $align;
}
