
@charset "UTF-8";
//
// Variables
//------------------------------------------------


//== Colors
//
//サイト全体で利用する色
//## 下記を編集して利用する

//** 背景色
$base-color01: #fff;
$base-color02: #F5F5F7; //ネズミ
$base-color03: #EFEFF2; //少し薄濃いネズミ
$base-color04: #88909B; //薄い黒
$base-color05: #383E48; //濃いネズミ

//** アクセントカラー
$accent-color01: #B99474;//金色
$accent-color02: #9F3A4D;//赤
$accent-color03: #27273E;//黒紫

$accent-color04: #F79D46;//オレンジ
$accent-color05: #4399EE;//青
$accent-color06: #78992F;//黄緑

//** グラデーション
$gradient-color01: #D5C8B2;//ゴールド
$gradient-color02: #FF7094;//蛍光ピンク
$gradient-color03: #3ACFAB;//緑
$gradient-color04: #FD7B50;//オレンジ
$gradient-color05: #67B8EF;//青
$gradient-color06: #C4CF3A;//黄緑

//** テキストカラー
$text-color01: #383E48;
$text-color02: rgba(#fff,1);
$text-color03: rgba(#383E48,0.3);
$text-color04: rgba(#383E48,0.5);

//**リンクカラー
$link-color01: #108CF7;

//** サブカラー
$sub-color01: #F5F5F7;//薄いネズミ
$sub-color02: #EFEFF2;//少し濃い薄いネズミ
$sub-color03: #88909B;//濃いネズミ
$sub-color04: #122940;//黒
$sub-color05: #0D1E2F;//濃いネイビー
$sub-color06: #383E48; //薄い黒

//** シャドウカラー
$shadow-color01: rgba(#0D192E,0.1);
$shadow-color02: rgba(#0D192E,0.3);

//** SNSカラー
$line-color: #1dcd00;
$fb-color: #3B5998;
$tw-color: #55acee;
$hatebu-color: #008fde;
$pocket-color: #ee4056;

//** フォントサイズ
$fs-min : 1.3em;
$fs-p : 1.5em;
$fs-title : 1.7em;
$fs-big : 3.1em;

//** フォントサイズ
$font-size00 : 11px;
$font-size01 : 12px;
$font-size02 : 14px;
$font-size03 : 16px;
$font-size04 : 21px;
$font-size05 : 25px;
$font-size06 : 28px;
$font-size07 : 44px;
$font-size08 : 36px;

//** フォントファミリー
$font-family01: YuGothic, "Original Yu Gothic", 'Lato', sans-serif, Meiryo, sans-serif;
$font-family02: 'Lato', sans-serif;
$font-family03: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
$font-awesome: 'Font Awesome 5 Free';
$font-flat: 'Flaticon';

//** margin

$margin00 : .8rem;
$margin01 : 1.6rem;
$margin02 : 3.2rem;
$margin03 : 4rem;
$margin04 : 8rem;
$margin05 : 12.0rem;

//** padding
$padding00 : .8rem;
$padding01 : 1.6rem;
$padding02 : 3.2rem;
$padding03 : 4rem;
$padding04 : 8rem;
$padding05 : 12.0rem;

//** garter
$garter00 : 2rem;
$garter01 : 6rem;
$garter02 : 8rem;
$garter03 : 12rem;
$garter04 : 12%;

//** max-width
$max-width01 : 1120px;
$max-width02 : 1640px;
$max-width-small : 88rem;
$max-width-mini : 72rem;
$max-width-tiny : 63rem;

//** radius
$radius01: 4px;


//** effect
$blur01: blur(20px);

//** transition
$transition01 : all 0.2s;
$transition02 : all cubic-bezier(.215, .61, .355, 1) 1s;;
