@charset "UTF-8";

/* =========================================================
js-style JSノ専用のスタイル
========================================================= */

/* 追尾機能 js-fixed
--------------------------------------------------------- */
.js-fixed {
    position: fixed;
    z-index: 6;
    top: 15rem;
    transition: $transition01;
    @include mq-xl {
        position: relative;
        top: 0;
    }
    &.o-rsingleSummary_wrap.__sp {
        position: fixed;
        top: inherit!important;
        bottom: 56px!important;
        left: 0;
        width: 100%;
        z-index: 7;
        overflow-x: scroll;
    }
    &Top {
        position: relative;
        transition: $transition01;
    }
    &End {
        position: absolute;
        bottom: 50rem;
        transition: $transition01;
    }
    &None {
        position: absolute;
        bottom: 0;
        top: inherit;
        transition: $transition01;
        @include mq-xl {
            position: relative;
            top: 0;
        }

        &.o-rsingleSummary_wrap.__sp {
            position: relative;
            top: 0;
            bottom: inherit!important;
        }
    }

    //物件と部屋詳細のアクションカラム
    &.__building {
        width: inherit;
    }
}


/* アコーディオン機能 js-fade
--------------------------------------------------------- */
.js-fade {
    &:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:#fff;  /* 背景カラー */
        z-index: 9999;  /* 一番手前に */
        pointer-events: none;  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
        opacity: 0;  /* 初期値 : 透過状態 */
        -webkit-transition: opacity .8s ease;  /* アニメーション時間は 0.8秒 */
        transition: opacity .8s ease;
    }
    &.fadeout {
        &:after {
            opacity: 1;
        }
    }
//    &:before {
//        content: '';
//        position: fixed;
//        top: 0;
//        width: 100%;
//        height: 100%;
//        background-color: #333;
//        z-index: 9999;
//        pointer-events: none;
//        right: 100%;
//        -webkit-transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
//        transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
//    }
//    &:after {
//        content: '';
//        position: fixed;
//        top: 0;
//        width: 100%;
//        height: 100%;
//        background-color: #333;
//        z-index: 9999;
//        pointer-events: none;
//        left: 100%;
//        -webkit-transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
//        transition: left 0.8s cubic-bezier(0.4, 0, 0.2, 1);
//    }
//    &.fadeout {
//        &:before {
//            right: 0;
//        }
//    }
//    &.fadein {
//        &:after {
//            left: 0;
//        }
//    }
}

/* タブ機能 js-fixed
--------------------------------------------------------- */
.js-tab {

}

/* アコーディオン機能 js-accordion
--------------------------------------------------------- */
.js-tab {

}
