@charset "UTF-8";

/* =========================================================
l-content style
========================================================= */

.l-wrap {
    position: relative;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    &.type01 {
        padding: $garter02 0;
    }
    &.maxw01 {
        max-width: $max-width01;
    }
}

.l-cont {
}

.l-main {
}
