@charset "UTF-8";

/* =========================================================
l-footer style
========================================================= */

.l-footer {
    width: 100%;
    overflow: hidden;
    &About {
        &_logo {
            max-width: 180px;
            margin-bottom: 1rem;
        }
    }
    &Copy {
        margin-bottom: 6rem;
    }
    &Other {
        &_sns {
            &List {
                a {
                    @include fs-large;
                    line-height: 0;
                    &:hover {
                        color: transparent;
                    }
                }
            }
        }
    }
}
