@charset "UTF-8";

/* =========================================================
l-header- style
========================================================= */
.l-header {
    &Mv {
        position: relative;
        line-height: 0;
        &_img {
            max-height: calc(40vh + 120px);
            width: 100%;
            object-fit: cover;
            @include mq-sm {
            }
        }
        #index_header_search {
            position: absolute;
            width: 100%;
            bottom: 0;
            background-color: rgba($sub-color06,0.6);
            @include mq-sm {
                position: relative;
                top: -3px;
                background-color: rgba($sub-color06,1);
            }
        }
    }
}
