@charset "UTF-8";

/* =========================================================
l-sidebar - theme reset
========================================================= */


/* =========================================================
l-sidebar
========================================================= */

.l-side {
    max-width: 342px;
    min-width: 342px;
    margin-left: $garter02;
    @include mq-big {

        max-width: 300px;
        min-width: 300px;
        margin-left: $garter01;
    }
    @include mq-xl {
        max-width: 800px;
        min-width: 800px;
        margin: auto;
    }

    @include mq-lg {

        max-width: inherit;
        min-width: inherit;
    }
}
