@charset "utf-8";
/* CSS Document */

div.orver{
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color:rgba(255,255,255,0.5);
	z-index: 999999;
	display:block;
}
div.orver img{
	display:block;
width:auto;
height:auto;
margin:8em auto;
}

#my_custom_bukkenshubetsu_area{
	visibility:hidden !important;
	height:0 !important;	
}
