@charset "utf-8";
/* CSS Document */

#primary, .has-sidebar:not(.error404) #primary {
    float: right;
    width:720px;
}

#list_simplepage h2.entry-title {
    font-size:18px;
	background-color:#CBB15A;
	display:flex;
	justify-content:flex-start;
	align-items: center;
	justify-content: space-between;
}

#list_simplepage .list_simple_boxtitle_stw:nth-child(n+2){
	clear:both;
	margin-top:3em;	
}

.entry-title .new_mark {
    font-size:18px !important;
}
#list_simplepage h2.entry-title span:nth-of-type(1){
	padding:0.5em 1em;	
}
#list_simplepage h2.entry-title span:nth-of-type(1) a{
    font-size:18px;
	color:#FFFFFF;
	text-decoration:none;
	font-weight:normal;
    -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255,0);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255,0);	
}

#list_simplepage h2.entry-title>a:nth-last-of-type(1){
    font-size:14px;
	font-weight:normal;	
    -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255,0);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255,0);
	background-color:#2D2D2D;
	color:#FFFFFF;
	padding:11px 1em;
}
#list_simplepage h2.entry-title>a:nth-last-of-type(1):after{
	content:" ＞";
}

#list_simplepage .list_simple_box_stw{
	margin-top:1em;
	clear:both;	
}
#list_simplepage .list_simple_box_stw:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#nav-above1 {
	clear:both;
	padding:0 5px;
    margin-bottom: 20px;
	background-color:#F5F6ED;
		display:flex;
	justify-content:flex-start;
	align-items: center;
	justify-content: space-between;
	-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
#nav-above1:nth-of-type(n+2){
	clear:both;
    margin: 20px 0;
}
#nav-above1:after {
    display:none;
    clear: both;
    height: 0;
    content: '';
}
#nav-above1 .nav-previous {
    padding: 0.125em 0;
    margin: 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top:none;
    border-bottom:none;
}

#list_simplepage .list_picsam{
	overflow:hidden;
	width:300px;
	min-height:225px;
	max-height:225px;
	float:left;
	background-color:#EFEFEF;
	display: flex;
  justify-content: center;
  align-items: center;	
}
#list_simplepage .list_picsam img{
	height:100%;
	min-height:225px;
	width:auto;
	object-fit: cover;
}
#list_simplepage .list_detail_stw{
	width:400px;
	display:block;
	float:right;	
}
#list_simplepage .list_detail_stw p.gaiyo{
	font-size:14px;
	padding:0.25em;	
}
#list_simplepage table.rooms:before{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#list_simplepage table.rooms{
	clear:both;
	width:100%;
	font-size:14px;
	margin-top:1em;
	border-collapse:collapse;
border-spacing:0;
empty-cells:show;
}
#list_simplepage table.rooms tr{
	border-top: 1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
#list_simplepage table.rooms th{
	background-color:#FAECEC;
	padding:0.125em;
	text-align:center;	
}
#list_simplepage table.rooms td{
	padding:0.125em;	
	text-align:center;	
}
#list_simplepage table.rooms td a{
	color:#FFFFFF;
	font-size:12px;
	display:inline-block;
	padding:0 0.125em;
	background-color:#D5B15D;	
}

#list_simplepage .list_price_others table tr td.list_price_others_th,
#list_simplepage .list_address table tr td.list_address_th{
	background-color:#F7F7EF;
	padding:0.25em;
}
#list_simplepage .list_address table td {
	padding:0.25em;
}