@charset "utf-8";
/* CSS Document */

.archive-fudo .pageback {
    float: right;
	font-size:16px;
}
.archive-fudo .pageback a{
	color:#D5B464;
}
.archive-fudo .pageback a:before{
	content:">>";
}
.archive-fudo .pageback a:active,
.archive-fudo .pageback a:hover{
	color:#767676;	
}


.site-content {
	padding:100px 0 0 0;
}
.archive-fudo h1.page-title {
    font-weight: 400;
    font-size: 12px;
	padding:0 0 2em 0;
	color:#C9C9C9;
}

#nav-above1 .nav-previous{
	padding:0.5em 0;
    margin:0.5em 0;
	display:flex;
	justify-content:flex-start;
	align-items: center;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
}
#nav-above1 .nav-previous a{
	display: flex;
	justify-content:flex-start;
	align-items: center;
	margin-right:1em;	
}
	
#single-room .list_simple_boxtitle,
#list_simplepage .list_simple_boxtitle{
	padding-bottom:1em;	
}

#single-room .list_simple_boxtitle h2,
#list_simplepage .list_simple_boxtitle h2{
	    font-size:1.4rem;
    font-weight: 300;
	line-height:1;
	padding:0.25em 0 0.25em 20px;
	border-left:10px solid #3A1F0C;
	color:#3A1F0C;
	background-color: #F3EFDE;
}

#single-room .entry-excerpt,
#list_simplepage .entry-excerpt {
    padding:1em;
}

#single-room .list_price,
#list_simplepage .list_price {
    background-color: #ebf6fc;
	padding:1em 1em 1px 1em;
	-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
line-height:1.2;

}
#single-room .list_price.rent,
#list_simplepage .list_price.rent {
	padding:1em 1em 1px 1em;
	-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
line-height:1.2;
}



#single-room .list_simple_box .list_detail .list_price,
#list_simplepage .list_simple_box .list_detail .list_price {
    margin: 0 0 1em 0;
}
#single-room .list_simple_box .list_detail .list_price dd,
#list_simplepage .list_simple_box .list_detail .list_price dd{
    margin: 0 0 0 1em;
}

#single-room .list_simple_box .list_detail dt,
#list_simplepage .list_simple_box .list_detail dt {
    font-weight: bold;
	font-size:12px;
	width:100%;
	clear:both;
    display: block;
    white-space: nowrap;
	margin-top:0.5em;
}
#single-room .list_simple_box .list_detail dd,
#list_simplepage .list_simple_box .list_detail dd {
	display:inline-block;
	margin:0 0 0 0;
}

#single-room .list_price_others table,
#list_simplepage .list_price_others table,
#single-room .list_address table,
#list_simplepage .list_address table{
	margin:0;
	font-size:12px;
}
#single-room .list_detail dl.list_address, #single-room .list_detail dl.list_price_others, 
#list_simplepage .list_detail dl.list_address, #list_simplepage .list_detail dl.list_price_others {
	clear:both;
    margin:0;
}
#single-room .list_detail table td:nth-of-type(1),
#list_simplepage .list_detail table td:nth-of-type(1){
	width:25%;
}


#detail_chk,
#detail_open{
	display:none;	
}

#single-room #detail_open{
	display:inline-block;
	float:left;
	font-size:12px;
	margin:-2em 0 0 -1em;
}
#single-room #detail_open label{	
	color:#D5B464;
	cursor:pointer;
}
#single-room #detail_open label:before{
	content:"▼概要";	
}
#single-room .list_detail{
	height:0px;
	overflow:hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;	
}
#detail_chk:checked ~ .list_detail{
	height:100%;	
}
#detail_chk:checked ~ #detail_open label:before{
	content:"▲閉じる";	
}



#single-room .list_simple_box .list_detail .list_price table td dt{
	width:40%;
	height:1.25em;
	margin:0 0 0.25em 0;
	float:left;
		display:flex;
	justify-content:flex-start;
	align-items: center;		
}
#single-room .list_simple_box .list_detail .list_price table td dd{
	width:58%;
	height:1.25em;
	margin:0 0 0.25em 0;
	float:left;
		display:flex;
	justify-content:flex-start;
	align-items: center;		
}

/*----------------------------------------------------------
  single page
------------------------------------------------------------*/
header.entry-header h1.entry-title{
	    font-size:1.4rem;
    font-weight: 300;
	line-height:1;
	padding:0.25em 0 0.25em 20px;
	border-left:10px solid #3A1F0C;
	color:#3A1F0C;
	background-color: #F3EFDE;
}


.list_simple_box .entry-excerpt {
    padding-bottom:1em;
	line-height:1.5;
}

#single-room .list_picsam:after,
#list_simplepage2 .list_picsam:after {
    display: block;
    clear: both;
    height:0;
    content: '';
}

#single-room .list_detail table#list_add,
#list_simplepage2 .list_detail table#list_other {
	font-size:14px;	
}

#single-room .list_simple_box .entry-content img[class*="wp-image-"],
#list_simplepage2 .list_simple_box .entry-content img[class*="attachment-"] {
  width: inherit;
  height: auto;
  max-width: 100%;
  margin:1em;
}

/*----------------------------------------------------------
  contact form
------------------------------------------------------------*/
div#contact_form{
	padding:20px;
	font-size:14px;
	background-color:#F3EFDE;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
#toiawasesaki{
	line-height:1.5;
	font-size:14px;	
}
#toiawasesaki h3{
	    font-size:1.5rem;
    font-weight: 300;
	line-height:1;
	padding:0.25em 0 0.25em 20px;
	border-left:10px solid #3A1F0C;
	color:#3A1F0C;
	background-color: #F3EFDE;
	margin-bottom:0;
}
#contact_form label,
#contact_form{
	font-size:16px;	
}
#contact_form h3{
	font-size:16px;
	padding:0;
	margin:0;
}
#contact_form h3:before{
	content:"■ ";
}
#contact_form p{
    margin: 0;
    padding: 0;
}
#contact_form p:nth-last-of-type(1){
    margin:1em 0 0 0;
    padding: 0;
}