@charset "utf-8";
/* CSS Document */
#top .wrap{:nth-last-of-type(n)
	padding:50px 0 0 0;
	
}

.widget {
    padding-bottom:1em;
}
.memseki,
#searchitem_m div, #searchitem div {
    margin: 0;
	padding:0;
}

#top #main{
	padding:50px 0;	
}
.home .site-content {
    padding:0 0 0 0;
}

#top #fudo_r_c-2 ul li{
	list-style:none;	
}

#top #fudo_r_c-2 ul li a{
	padding:0.125em 0.5em;
	border:1px solid #CCCCCC;	
}
#top #fudo_r_c-2 ul li a:hover,
#top #fudo_r_c-2 ul li a:active{
	background-color:#F6F6F6;
}

#top .widget.widget_fudo_r_c ul{
		display:flex;
	justify-content:flex-start;
	align-items: center;	
	
}
#top .widget.widget_fudo_r_c ul ul.children{
	padding:0.5em 0 0 2.5em;	
}

#top .widget h3 {
    font-size:1.4rem;
    font-weight: 300;
	line-height:1;
	padding:0.25em 0 0.25em 20px;
	margin-bottom:1em;
	border-left:10px solid #3A1F0C;
	color:#3A1F0C;
	background-color: #F3EFDE;
}

#fudo_top_r-2{
	margin-top:30px;	
}

#top form#searchitem{
		display:flex;
		line-height:1.5;
	justify-content:flex-start;
	align-items:flex-start;
	  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
	justify-content: space-between;		
}

#top form#searchitem div{
	width:48%;
	margin-bottom:1em;
}
#top form#searchitem div:nth-of-type(3),
#top form#searchitem div:nth-of-type(1){
	width:100%;
	margin-bottom:0;
	color:#D5B464;	
}

#top form#searchitem input[type=submit]:nth-child(3n+2):last-child {
    margin-left: auto;
    margin-right:100%;
}
#top form#searchitem input[type=submit]{
	clear:both;
	display:block;
	float:left !important;
}


#top ul.grid-content{
		display:flex;
	justify-content:flex-start;
	align-items:flex-start;
	  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
	  justify-content: space-between;	
}

#top ul.grid-content li{
	width:50%;
	max-width:49%;
	min-height:160px;
	max-height:160px;
	line-height:1.1;	
	padding:10px !important;
	border:1px solid #CCC !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow:1px 1px 2px #CCCCCC;
	position:relative;	

    display: block;
    float: left;
	margin:0 !important;
    list-style-type: none;
    width: 100%;
}

#top ul.grid-content li>a:nth-of-type(1){
	display:block;
	width:158px;
	height:158px;
	float:left;
	margin:-10px 0 0 -10px;
	z-index:300;
}
.grid-content li a .box1image {
    height:100%;
    width: auto;
	display:block;
	margin:0;
	object-fit: cover;
}

#top ul.grid-content li div.right_box{
	width:310px;
	padding-left:10px;
	display:block;
	float:left;
	height:120px;
	overflow:hidden;	
}

#top ul.grid-content li h4.top_title{
	font-size:14px;
	font-weight:bold;
	color:#3A1F0C;	
}
#top ul.grid-content li p{
	clear:both;
		display:flex;
	justify-content:flex-start;
	align-items:center;
	margin:0;
	padding:0;	
}
#top ul.grid-content li p.bukkenshubetsu{
	font-size:12px;
	line-height:1.5;
	padding:0.25em 0 0 0;
	clear:both;
}

#top ul.grid-content li span.top_price {
	display: inline-block;
	clear:both;
	font-size:18px;
	padding:0 0.5em 0 0;
	margin:0;
    font-weight: 700;
    color: #e30;
}

#top ul.grid-content li span.top_kaiin,
#top ul.grid-content li span.top_kotsubus,
#top ul.grid-content li span.top_kotsu,
#top ul.grid-content li span.top_shozaichi,
#top ul.grid-content li span.top_menseki,
#top ul.grid-content li span.top_madori {
    padding: 0 0.5em 0 0;
	font-size:12px;
	overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
#top ul.grid-content li span.top_kaiin{
    padding:0.25em 0.25em 0 0;
	color:#E84C3D;
	font-weight:bold;
}


#top ul.grid-content li p.gaiyo{
	display:block;
	font-size:12px;
	height:4.5em;
	margin-top:0.5em;
	line-height:1.35;
    text-overflow: ellipsis;
	white-space:normal;	
}




#top ul.grid-content li div.under_box{
	width:330px;
	height:18px;
	position:absolute;
	bottom:0;
	right:0;
	background-color:#F3EFDE;
	padding:0 1em;
	-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
z-index:200;
}
#top ul.grid-content li .fudo_kaiin_type_logo{
	height:18px;	
}
#top ul.grid-content li .fudo_kaiin_type_logo img{
	height:100%;
	width:auto;
}

#top ul.grid-content li div a{
	font-size:12px;
	color:#3A1F0C;
}
#top ul.grid-content li div a:before{
	content:">> ";
}
#top ul.grid-content li div a:active,
#top ul.grid-content li div a:hover{
	color:#767676;	
}

