@charset "utf-8";
/* CSS Document */

/*-------------------------------------------------

管理ページのスタイル編集

--------------------------------------------------*/

/* 物件ページの「関連ウィジェット」は非表示　*/

body.post-type-page #p2p-to-posts_to_pages,
body.post-type-post #p2p-from-posts_to_pages,
body.my-admin-class-fudo #p2p-to-room_relation{
	display:none !important;
}

body.post-type-fudo .row-actions span.trash{
	display:none !important;	
}

body.post-type-fudo select#bulk-action-selector-top option[value="trash"]{
	display:none !important;
}

