@charset "utf-8";
/* CSS Document */

#mylist #main h1{
  margin-top: 10px;
  padding: 0 1em;
  height: 45px;
  line-height: 45px;
  background-color: #CBB15A;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: none;
}

#mylist #main .wpfp-span{
	padding:3em 0;	
}

#mylist #main .wpfp-span ul li{
	margin-bottom:2em;
		display:block;
		clear:both;
		position:relative;
		padding:1em;
		-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border:1px solid #999999;
}
#mylist #main .wpfp-span ul li:after,
#mylist #main .wpfp-span ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#mylist #main .wpfp-span ul li:before{
	content:"";
	width:16px;
	height:16px;
	display:block;
	background-image: url(../../../../plugins/wp-favorite-posts/img/star.png);
	background-size:cover;
	margin-right:0.5em;
	position:absolute;
	top:0;
	left:0;	
}
#mylist #main .wpfp-span ul li .right_box{
	width:70%;
	float:left;
	padding-left:1em;
	display:block;	
}
#mylist #main .wpfp-span ul li .right_box:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


#mylist #main .wpfp-span ul li a:nth-of-type(1){
	color:#003399;
	text-decoration:none;
	display:block;
	clear:both;
	padding-bottom:0.5em;
	font-weight:bold;	
}
#mylist #main .wpfp-span ul li a:nth-last-of-type(1){
    color: #FFFFFF;
    font-size: 12px;
    display: inline-block;
    padding:0.25em 0.5em;
	margin-left:1em;
    background-color: #D5B15D;
	position:absolute;
	right:0.5em;
	bottom:0.5em;
}

#mylist #main .wpfp-span ul li span{
	display: inline-block;
	margin-right:1em;
	padding-bottom:0.5em;
	line-height:1.25;
}

#mylist #main .wpfp-span a.wpfp-link{
	font-size:14px;
	color:#D5B15D;	
}
#mylist #main .wpfp-span a.wpfp-link:hover{
	text-decoration:underline;
}

#mylist #main .wpfp-span + p,
#mylist #main .wpfp-span p{
    font-size:16px;
    line-height: 1.5;
}

#mylist #main .wpfp-span ul li .thum{
	width:180px;
	min-width:180px;
	height:135px;
	display:block;
	float:left;
	margin-right:10px;
	overflow:hidden;	
}
#mylist #main .wpfp-span ul li .thum img{
	height:100%;
	width:auto;
	min-width:100%;
	object-fit: cover;
}
#mylist .navigation{
	clear:both;
	width:100%;
	margin-top:1em;	
}
#mylist .wpcf7{
	clear:both;
	margin-top:3em;	
}
#mylist .wpfp-img{
  width:16px;
	height:16px;
}

@media screen and (max-width:768px) {
	#mylist #main .wpfp-span ul li .thum{
	width:100%;
	min-width:100%;
	margin:0 auto;
	height:auto;
	max-height:30vh;
	min-height:30vh;
	float:none;
	text-align:center;
	overflow:hidden;
	display: flex;
  justify-content: center;
  align-items: center;
	}
#mylist #main .wpfp-span ul li .thum img{
	height:100%;
	max-height:none;
	min-height:30vh;
	width:auto;
	min-width:100%;
	max-width:none;
	object-fit: cover;
}
	
	#mylist #main .wpfp-span ul li .right_box{
	width:100%;
	float:none;
	clear:both;
	margin-top:1em;
	}
}
