@charset "utf-8";
/* CSS Document */

.search.search-no-results.stw .site-content{
padding: 100px 0;
}

.search.search-no-results.stw .site-content #primary #main {
    line-height:3;
}
.search.search-no-results.stw .site-content #primary #main h1{
margin-bottom: 3em;
}

#primary #main h1{
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    padding: 0.25em 0 0.25em 20px;
    border-left: 10px solid #3A1F0C;
    color: #3A1F0C;
    background-color: #F3EFDE;
}
#primary #main h2{
    font-size:18px;
    font-weight: 300;
    line-height: 1;
    padding:1em 0 0.25em 0;
	margin:1.5em 0 0.25em 0;
}
#primary #main h2 a{
color:#003399;
text-decoration:underline;	
}
#primary #main h2:before{
	content:"■ ";
	color:#D4B15B;
	text-decoration:none;
}

#primary #main{
	line-height:1.5;	
}

#primary #main hr{
	margin:1em 0 2em 0;
}