@charset "utf-8";
/* CSS Document */

header.entry-header h1.entry-title {
    font-size:20px;
    font-weight: 300;
    line-height: 1;
    padding: 0.25em 0 0.25em 20px;
    border-left: 10px solid #3A1F0C;
    color: #3A1F0C;
    background-color: #F3EFDE;
}
.entry-title .new_mark {
    font-size:14px !important;
}
#list_simplepage2 .entry-excerpt,
.entry-content p,
.entry-content,
.list_simple_box .entry-content {
	font-size:14px;
}
.entry-content p{
	margin:0;
	padding:0;	
}

.dpoint4{
    display: inline-block;
    clear: both;
    font-size: 18px;
    padding: 0 0.5em 0 0;
    margin: 0;
    font-weight: 700;
    color: #e30;
}


table.rooms:before{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
table.rooms{
	clear:both;
	width:100%;
	font-size:14px;
	margin-top:1em;
	border-collapse:collapse;
border-spacing:0;
empty-cells:show;
}
#list_simplepage2 .list_detail table.rooms.marg{
	margin-bottom:2em;	
}

table.rooms tr{
	border-top: 1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

#list_simplepage2 .list_detail>table th {
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: #f6f6f6;
}
#list_simplepage2 .list_detail>table.rooms th{
	background-color:#F7F7EF;
	padding:0.125em;
	text-align:center;	
}
#list_simplepage2 .list_detail>table.rooms td{
	padding:0.125em;	
	text-align:center;	
}
#list_simplepage2 .list_detail>table.rooms td:nth-last-of-type(1){
	font-size:10px;
	max-width:5em;	
}
#list_simplepage2 .list_detail>table.rooms td a{
	color:#FFFFFF;
	font-size:12px;
	display:inline-block;
	padding:0 0.125em;
	background-color:#D5B15D;	
}

#list_simplepage2 .list_simple_box .list_detail #list_add th,
#list_simplepage2 .list_detail>table tr td.list_price_others_th,
#list_simplepage2 .list_detail>table tr td.list_address_th{
	background-color:#F7F7EF;
	padding:0.25em;
	font-size:14px;
}
#list_simplepage2 .list_price table td,
#list_simplepage2 .list_simple_box .list_detail #list_add td,
#list_simplepage2 .list_detail>table td {
	padding:0.25em;
	font-size:14px;
}

table#list_add a.bukkenmei{
	color:#000099;
	font-weight:bold;
}
table#list_add a.bukkenmei span{
	color:#FFFFFF;
	padding:0 0.5em;
	margin-left:1em;
	font-weight:normal;
	background-color:#D5B464;
}

.list_detail_bottom_info {
    display: block;
    clear: both;
    padding:0;
	margin:0;
	text-align: right;
}
.list_detail time {
    font-size: 14px;
    line-height: 1.5;
    margin:0.5em;
    color: #CDB666;
    display: inline-block;
}
#list_simplepage2 .list_simple_box .list_detail #list_add td.td2,
#list_simplepage2 .list_simple_box .list_detail #list_add td.th2{
	width: 30%;
    padding: 5px;
    white-space: normal;
}

#list_simplepage2 .list_simple_box .list_detail #list_add td.th1,
#list_simplepage2 .list_simple_box .list_detail #list_add th.th1,
#list_simplepage2 .list_simple_box .list_detail #list_other th.th1{
    width: 21%;
    padding: 5px;
    text-align: left;
    font-weight: 400;
}

.list_price.rent table tr:nth-of-type(2) td dd,
.list_price.rent table tr:nth-of-type(2) td dt{
	font-size:12px;	
}
.list_price.rent table tr:nth-of-type(2) td dt:after{
	content:"：";
}
#list_simplepage2 .list_simple_box .list_detail dd {
    margin: 0 1em 0 0;
    padding: 0;
    color: #1f1f1f;
}

#toiawasesaki h3,
#contact_form h3 {
	font-size: 1.5rem;
	line-height: 1.225;
	margin-bottom: 1.05em;
}

#contact_form,
#toiawasesaki {
	margin-bottom: 1.5em;
	padding-top: 1.75em;
}
#toiawasesaki p{
	font-size:16px;	
}

span.wpfp-span{
	display:flex;
	justify-content:flex-start;
	align-items: center;	
	float:right;
	font-size:12px;
	color:#D5B464;		
}
span.wpfp-span a{
	color:#D5B464;
}
span.wpfp-span img{
	height:12px;
	width:auto;
}
span.wpfp-span:hover{
	text-decoration:underline;
}