/*=================== TBここから ==================*/
@media screen and (max-width: 999px) {
  /**************************************************
  2. 共通（レイアウト・見出し・その他・table・header・footer・ハンバーガー・btn・戻るボタン)
  ***************************************************/
  /*------------------------------
  基本スタイル ※変更不可
  ------------------------------*/
  .pc { display: none; }
  .sp { display: block; }
  
  /*------------------------------
  ヘッダー、Gナビ共通 ※変更不可
  ------------------------------*/
  #header-2 {
    display: block;
    width: 100%;
    height: 70px;
    background: #fff;
    position: relative;
    z-index: 800;
  }
  #header-2 .h-wrap{
    width: 95%;
  }
  #header-2 .h-wrap .logo{
    width: 160px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  #header-2 .h-wrap .logo{
    width: 160px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  
  
  /* マイリスト */
  #header-2 .mylist a {
    display: block;
    width: 150px;
    height: 50px;
    background: #d4b15b;
    position: relative;
    right: 50px;
    z-index: 910;
  }
  #header-2 .mylist img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 94px;
    height: auto;
  }
  /* 掲載物件数 */
  #header-2 .counter {
    width: 150px;
    height: 20px;
    background: #333;
    position: relative;
    right: 50px;
    z-index: 920;
  }
  #header-2 .counter p {
    height: 20px;
    line-height: 20px;
    color: #FFF;
    font-size: 8px;
    text-align: center;
  }
  /*------------------------------
  ヘッダー ※変更不可
  ------------------------------*/
  /*-------------
  sp-gnav
  -------------*/
  #sp-gnav {
    position: absolute;
    /* 開いてないときは画面外に配置 */
    top: -565px;/*変更不可*/
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 500;
  }
  #sp-gnav ul.menu  {
    margin: 40px 0 20px;
    list-style: none;
    position: static;
    right: 0;
    bottom: 0;
  }
  #sp-gnav ul li a {
    width: 100%;
    display: block;
    color: #333;
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
  }
  /*-------------
  Toggle Button
  -------------*/
  #nav-toggle {
    display: none;
    position: absolute;
    right: 0px;
    top: 20px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 950;
  }
  #nav-toggle {
    display: block;
  }
  #nav-toggle div {
      position: relative;
  }
  #nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #333;
    left: 0;
    -webkit-transition: .30s ease-in-out;
    -moz-transition: .30s ease-in-out;
    transition: .30s ease-in-out;
  }
  #nav-toggle span:nth-child(1) {
    top: 0;
  }
  #nav-toggle span:nth-child(2) {
    top: 11px;
  }
  #nav-toggle span:nth-child(3) {
    top: 22px;
  }
  /* #nav-toggle 切り替えアニメーション */
  .open #nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }
  /* #sp-gnav スライドアニメーション */
  .open #sp-gnav {
    position:fixed; 
    transform: translateY(671px);
    z-index: 500;
  }
  
  /**************************************************
  3. TOP 
  ***************************************************/
  /*------------------------------
  メイン画像
  ------------------------------*/
  /*キャッチコピー*/
  #top .catch {
    width: 400px;
  }
  #top .catch p{
    padding: 20px;
    font-size: 18px;
  }
  #top .catch p span{
    font-size: 38px;
  }
  /*検索枠*/
  #top .search-box1,
  #top .search-box1.wrap-s{
    max-width: 100%;
    width: 100%;
    padding: 40px 20px;
    position: static;
  }
  #top .search-box1 .widget-1{
    max-width: 800px;
    margin: 0 auto;
  }
  /*人気の検索条件で探す*/
  #top .search-box1 h2.widget-title {
    font-size:20px;
    position: relative;
  }
  #top .search-box1 h2.widget-title:before, 
  #top .search-box1 h2.widget-title:after {
      content: '';
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 50px;
      height: 1px;
      background-color: #fff;
  }
  /*------------------------------
  希望の条件から探す
  ------------------------------*/
  #top .search {
    padding: 50px 20px;
  }
  /*------------------------------
  PICKUP
  ------------------------------*/
  #top .pickup {
    padding: 50px 20px;
  }

  #top ul.grid-content li{
    display: block;
    width: 48%;
  }

  
  /**************************************************
  4. 不動下層 #primary共通
  ***************************************************/
  /*------------------------------
  underlayer全体
  ------------------------------*/
  #primary {
    width: 95%;
    margin: 0 auto;
  }
  #primary .fudo-ul-flex{
    display: block;
    width: 100%;
  }
  #primary .fudo-ul-contents,
  #primary .fudo-s-ul-contents{
    display: block;
    width: 100%;
    padding-bottom: 100px;
  }
  #primary #secondary{
    width: 100%;
    margin: 0 auto;
  }
  /**************************************************
  4. 下層固定 underlayer共通
  ***************************************************/
  /*------------------------------
  underlayer全体
  ------------------------------*/
  .underlayer {
    width: 95%;
    margin: 0 auto;
  }
  .underlayer .ul-flex{
    display: block;
    width: 100%;
  }
  .underlayer .ul-contents{
    display: block;
    width: 100%;
    padding-bottom: 100px;
  }
  .underlayer #secondary{
    width: 100%;
    margin: 0 auto;
  }




}/*=================== TBここまで ==================*/


/*=================== SPここから==================*/
@media screen and (max-width: 600px) {
  /**************************************************
  2. 共通（レイアウト・見出し・その他・table・header・footer・ハンバーガー・btn・戻るボタン)
  ***************************************************/
  /*------------------------------
  ヘッダー、Gナビ共通 ※変更不可
  ------------------------------*/
  #header-2 {
    height: 60px;
  }
  #header-2 .h-wrap .logo{
    width:90px;
  }
  /* マイリスト */
  #header-2 .mylist a {
    display: block;
    width: 170px;
    height: 40px;
    position: relative;
    right: 40px;
  }
  /* 掲載物件数 */
  #header-2 .counter {
    width: 170px;
    height: 20px;
    position: relative;
    right: 40px;
  }
  #header-2 .counter p {
    height: 20px;
    line-height: 20px;
    font-size: 10px;
  }
  /*------------------------------
  ヘッダー ※変更不可
  ------------------------------*/
  /*-------------
  sp-gnav
  -------------*/
  #sp-gnav ul li a {
    width: 100%;
    display: block;
    color: #333;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
  }
  /*-------------
  Toggle Button
  -------------*/
  #nav-toggle {
    display: none;
    position: absolute;
    right: 0px;
    top: 15px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 950;
  }
  #nav-toggle {
    display: block;
  }
  #nav-toggle div {
      position: relative;
  }
  #nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #333;
    left: 0;
    -webkit-transition: .30s ease-in-out;
    -moz-transition: .30s ease-in-out;
    transition: .30s ease-in-out;
  }
  #nav-toggle span:nth-child(1) {
    top: 0;
  }
  #nav-toggle span:nth-child(2) {
    top: 11px;
  }
  #nav-toggle span:nth-child(3) {
    top: 22px;
  }
  /* #nav-toggle 切り替えアニメーション */
  .open #nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }
  /* #sp-gnav スライドアニメーション */
  .open #sp-gnav {
    position:fixed; 
    transform: translateY(671px);
  }
  /*------------------------------
footer
------------------------------*/
#footer .f-wrap {
  padding: 50px 0 30px;
}
#footer .float-l,
#footer .float-r{
  float: none;
}
/* ft-logo */
#footer .logo{
  width: 200px;
  height: auto;
  margin: 0 auto 20px;
}
#footer .address {
  margin: 0 0 40px;
}
  #footer .address p{
  text-align:center;
}
#footer .address .tel{
  margin: 0 auto ;
}
/* sitemap */
#footer .sitemap{
  max-width: 100%;
  width: 100%;
}
#footer h2{
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #FFF;
  color: #FFF;
  font-size: 17px;
  font-weight: normal;
}
#footer .fnav{
  width: 100%;
}
#footer .fnav > ul{
  width: 50%;
  float: left;
}
#footer .fnav li {
  line-height: 2.5;
  font-size: 13px;
  font-weight: normal;
}
#footer .fnav .indent{
  margin-left: 10px;
}
#footer .fnav li a:before {
  content: "＞";
}
#footer .fnav li a:hover {
	text-decoration: underline;
	opacity: 0.8;
}
/* copyright */
.copyright{
  height: 40px;
  border-top: 1px solid #FFF;
  text-align: center;

}
.copyright small{
  display:block;
  margin: 15px auto;
  font-size: 10px;
}
.nendebcopy, 
svg{
  display: none;
}
  
  /*------------------------------
  dynamic_sidebar
  top_widget　共通？
  ------------------------------*/
  .widget .tagcloud a, 
  .widget.widget_tag_cloud a, 
  .wp_widget_tag_cloud a {
      font-size: 13px !important;
  }
/*------------------------------
.con-box　※変更不可
------------------------------*/
.con-box{
  padding: 30px 20px;
}
.con-box .con-btn a{
  margin: 10px auto 0;
}

  /**************************************************
  3. TOP 
  ***************************************************/
  /*------------------------------
  メイン画像
  ------------------------------*/
  /*キャッチコピー*/
  #top .catch {
    max-width: 300px;
    width: 80%;
    bottom: 60%;
  }
  #top .catch p{
    padding: 10px;
    font-size: 14px;
  }
  #top .catch p span{
    font-size: 28px;
  }
  /*検索枠*/
  #top .search-box1,
  #top .search-box1.wrap-s{
    padding: 40px 2.5%;
  }
  /*人気の検索条件で探す*/
  #top .search-box1 h2.widget-title {
    font-size:18px;
  }
  #top .search-box1 h2.widget-title:before, 
  #top .search-box1 h2.widget-title:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: #fff;
  }
  #top .search-box1 h2.widget-title:before {
    left:10%;
  }
  #top .search-box1 h2.widget-title:after {
    right:10%;
  }
  /*------------------------------
  希望の条件から探す
  ------------------------------*/
  #top .search {
    padding: 50px 2.5%;
  }
  #top .search h2 {
    font-size: 21px;
  }
  #top .search .widget{
    padding: 30px 5% 20px;
  }
  #top .search .widget h3 {
    font-size: 18px;
  }
  /*------------------------------
  PICKUP
  ------------------------------*/
  #top .pickup {
    padding: 50px 2.5%;
  }

  #top ul.grid-content li{
    display: block;
    width: 100%;
  }
  /**************************************************
  4. 不動下層 #primary共通
  ***************************************************/
  /*並べ替えのナビ*/
  #nav-above1,
  #nav-above1 .nav-next{
    display:block;
    width: 100%;
    height: 60px;
  }
  #nav-above1 .nav-previous{
    width: 100%;
    height: auto;
    padding: 0.5em 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #nav-above1 .nav-previous a {
    margin-right: 0.5em;
}
  #nav-above1 .nav-next{
    display:block;
    width: 100%;
    height: auto;
  }
  
  /**************************************************
4. 不動一覧 #list_simplepage
***************************************************/
/*見出し*/
#list_simplepage h2.entry-title {
  height: auto;
  padding: 5px 10px 40px;
  line-height: 1.5;
  background-color:#d4b15b;
  display:block;
  position: relative;
}
#list_simplepage h2.entry-title span:nth-of-type(1){
  display:block;
  width: 100%;
	padding:0;
}
#list_simplepage h2.entry-title span:nth-of-type(1) a{
  font-size:16px;
}
#list_simplepage h2.entry-title>a:nth-last-of-type(1){
  height: auto;
  line-height: 1.5;
  font-size:12px;
  padding: 0.5em 1em;
  position: absolute;
  right: 10px;
}
.entry-title .new_mark {
  font-size:14px !important;
}


#list_simplepage .list_picsam {
    overflow: hidden;
    width:100%;
    min-height: 225px;
    max-height: 225px;
    float:none;
    background-color: #EFEFEF;
    display: block;
    justify-content: center;
    align-items: center;
}
#list_simplepage .list_detail_stw {
    width:100%;
    display: block;
    float:none;
	clear:both;
	margin:1em auto;
}

#list_simplepage2 .list_simple_box .list_detail #list_other tr,
#list_simplepage2 .list_simple_box .list_detail #list_add tr {
	display:flex;
	justify-content:flex-start;
	align-items: stretch;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    clear: both;
    
    border-collapse:collapse;
border-spacing:0;
empty-cells:show;
border-bottom: none;
border-right: none;
}
#list_simplepage2 .list_simple_box .list_detail #list_other th,
#list_simplepage2 .list_simple_box .list_detail #list_add th {
width:30%;
}
#list_simplepage2 .list_simple_box .list_detail #list_other td,
#list_simplepage2 .list_simple_box .list_detail #list_add td {
width:70%;
}
dl.list_price.rent table td dt{
display:flex;
float: left;
width: 20%;
min-height: 40px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
clear: both;
}
dl.list_price.rent table td dd{
display: block;
float: left;
width:80%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin: 0;
}




/**************************************************
4. 物件概要 #list_simplepage2
   物件詳細 #list_simplepage2
***************************************************/
header.entry-header h1.entry-title {
  height: auto;
  padding: 5px 10px ;
  line-height: 1.5;
  background-color:#d4b15b;
  display:block;
  font-size:16px;
}
#list_simplepage2 .list_simple_box .list_detail dd {
    margin:0;
    padding: 0;
}

#list_simplepage2 .list_detail table.rooms th {
    padding:0.25em 0;
    width: 20%;
}
#list_simplepage2 .list_detail table.rooms td {
    padding:0.25em 0;
    width: 30%;
}

#list_simplepage .list_address table tr,
#list_simplepage table.rooms tr,
#list_simplepage .list_price_others table tr {
	display:flex;
	justify-content:flex-start;
	align-items: stretch;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    clear: both;
    
    border-collapse:collapse;
border-spacing:0;
empty-cells:show;
border-bottom: none;
border-left: 1px solid #ccc;
border-right:  1px solid #ccc;
}
#list_simplepage .list_address table:nth-of-type(1){
border-top: 1px solid #ccc;
}

#list_simplepage table.rooms td,
#list_simplepage table.rooms th {
padding:0.25em 0;
max-width: 25%;
min-width: 25%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
#list_simplepage table.rooms tr:nth-last-of-type(1){
border-bottom: 1px solid #ccc;
}

#list_simplepage .list_price_others table .list_price_others_th,
#list_simplepage .list_simple_box_stw .list_detail_stw .list_address 
table .list_address_th{
display: block;
float: left;
width: 25%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
#list_simplepage .list_price_others table .list_price_others_td,
#list_simplepage .list_simple_box_stw .list_detail_stw .list_address 
table .list_address_td{
display: block;
float: left;
width: 75%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 0.25em;
}

  /**************************************************
  4. 下層固定 underlayer共通
  ***************************************************/
  /*------------------------------
  underlayer見出し
  ------------------------------*/
  .underlayer h2.ul-title {
    font-size: 21px;
  }
  /* h3.ul-title01 */
  h3.ul-title01 {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 20px;
    line-height: 1.2;
  }
  h3.ul-title01::before {
    position: absolute;
    display: inline-block;
    left: 0;
    content: url(../images/common/h-deco3.png);
  }
  h3.ul-title01::after {
    position: absolute;
    display: inline-block;
    right: 0;
    content: url(../images/common/h-deco3.png);
  }
  /* h3.ul-title02*/
  h3.ul-title02 {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 20px;
  }
  h3.ul-title02 span {
    display: inline-block;
    position: relative;
    width: 26px;
    height: 26px;
    line-height: 26px;
    margin-right: 10px;
    font-size: 20px;
  }
  h3.ul-title02 span:after {
    content: '';
    position: absolute;
    top: 5px;
    right: -8px;
    margin: -5px 0 0 0;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 8px solid #d4b15b;
    border-bottom: 13px solid transparent;
  }
  /**************************************************
  6. 入居までの流れ
  ***************************************************/
  #flow.underlayer .flow-box>p{
    margin-left: 35px;
  }

  /*------------------------------
  .note
  ------------------------------*/
  #flow.underlayer .note{
    margin-left: 0;
    margin-top: 20px;
    padding: 30px 10px 20px;
    position: relative;
  }
  #flow.underlayer .note h4{
    position: absolute;
    top: -14px;
    width: 220px;
    font-size: 18px;
  }
  #flow.underlayer .note h5{
    font-size: 16px;
  }
  #flow.underlayer .note ul.list-s li{
    font-size: 16px;
  }
  /*------------------------------
  ul.list-l
  ------------------------------*/
  #flow.underlayer ul.list-l {
    margin: 0 0 0 35px ;
  }
  #flow.underlayer ul.list-l li{
    font-size: 16px;
  }
  /**************************************************
  7. 高級賃貸東京のQ&A
  ***************************************************/
  #qa.underlayer .qa-box>p{
    margin-left: 35px;
  }
  /*------------------------------
  .note
  ------------------------------*/
  #qa.underlayer .note{
    margin-left: 0;
    padding: 20px 10px;
  }
  #qa.underlayer .note ul.list-s li{
    font-size: 16px;
  }
  /**************************************************
  9. 会社概要
  ***************************************************/
  #company.underlayer table.ul-table tr{
    display: block;
    width: 100%;
    border-bottom: none;
  }
  #company.underlayer table.ul-table tr:last-child{
    border-bottom: 1px solid #333;
  }
  #company.underlayer table.ul-table th,
    #company.underlayer table.ul-table td{
    display: block;
    width: 100%;
  }
/**************************************************
10. プライバシーポリシー
***************************************************/
#privacypolicy.underlayer .pp-box>p{
  margin-left: 35px;
}
/*------------------------------
.note
------------------------------*/
#privacypolicy.underlayer .note{
  margin-left: 35px;
}
#privacypolicy.underlayer .note h4 {
  font-size: 17px;
}
/*------------------------------
.sign-box
------------------------------*/
#privacypolicy.underlayer .sign-box{
  float: right;
}
#privacypolicy.underlayer .sign-box h3{
  font-size: 17px;
}
#privacypolicy.underlayer .sign-box p{
  font-size: 15px;
}
  
/**************************************************
11.物件リクエスト・お問い合わせ（Contact Form 7）
***************************************************/
.contactfoam-box .table-foam tr,
.contactfoam-box .table-foam th,
.contactfoam-box .table-foam td{
  display: block;
  width: 100%;
}
.contactfoam-box .table-foam th{
  padding: 15px 0 10px;
}
.contactfoam-box .table-foam td{
  display: block;
  width: 100%;
  padding: 0 0 15px 0;
}
.contactfoam-box .table-foam td .font12{
  font-size: 11px;
}
  

/**************************************************
14. 物件検索
***************************************************/
  
#primary .fudo-s-ul-contents {
    padding: 10vw 0 0;
}
form#searchitem input[type=submit]#btn{
display: block;
margin: 1em auto;
clear: both;
}
  
}/*================== SPここまで ==================*/