@charset  "utf-8";
/* =
 * Twenty Seventeen
 * widget_fudo Style
 * style2017.css サイト基本の装飾
 * @package WordPress 5.0
 * Version: 5.0.0
*/
/* = common
-------------------------------------------------------------- */

/*
html,body,button,input,select,textarea {
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', 'メイリオ',Meiryo, '游ゴシック', YuGothic, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6,
.site-title{
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', 'メイリオ',Meiryo, '游ゴシック', YuGothic, Arial, Helvetica, sans-serif;
}
*/

/* = header
-------------------------------------------------------------- */
.site-header-fixed.header-top,
.site-header-hidden.header-top{
    z-index: 11;
}

/*
h1.site-title{
    clear:none;
}
*/


/* = 打ち消し・修正
-------------------------------------------------------------- */


/* ヘッダ下マージン */
.site-content{

}
/* メニュー 太文字 */
.navigation-top a,
.navigation-top a:visited{
    font-weight: 400;
}


/* ボーダー消し */
.entry-content a img,
.widget a img,

.cl_botton a:focus,
.cl_botton a:hover,
.entry-content a,
.entry-summary a,
.widget a,
.site-footer .widget-area a,
.posts-navigation a,
.widget_authors a strong{
    box-shadow: none !important;
}


.single-fudo .entry-footer {
    border-bottom: medium none;
    border-top: medium none;
    margin-top: 0;
}

label{
    display: inline;
}


/* selectbox */
select{
    height: auto;
}

/* textbox */
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea{
    padding: 0.3em;
}
/* 3= 汎用css
---------------------------------------------------------------------- */
.dpoint1 {
    font-size: 140%;
    font-weight: 700;
    float: left;
    padding: 4px 0;
    color: #c00;
}

.dpoint2 {
    font-size: 140%;
    font-weight: 700;
    padding: 4px 0;
    display: inline-flex;
}

.dpoint3 {
    font-size: 120%;
    font-weight: 700;
    display: inline;
}

.dpoint4 {
    font-size: 20px;
    font-weight: 700;
    display: inline;
}

.clearLeft {
    clear: left;
}

.clearRight {
    clear: right;
}


/* = 物件リストページ ナビ
---------------------------------------------------------------------- */
#nav-above1 {
    margin-bottom: 20px;
}

#nav-above1:after {
    display: block;
    clear: both;
    height: 0;
    content: '';
}

.nav-previous {
    float: left;
}

.nav-next {
    float: right;
}



/* 12= 物件リストページ #list_simplepage
---------------------------------------------------------------------- */

#list_simplepage h2.entry-title {
    font-size: 1.5rem;
}

/* うち消費税 */
#list_simplepage span.kakakuzei {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
}

body.search-no-results .page-header {
    border-top: 4px solid #1a1a1a;
    padding-top: 1.75em;
}

.archive-fudo h1.page-title {
    font-weight: 400;
    font-size: 1rem;
}

#list_simplepage article {
    margin-bottom: 1.5em;
}

#list_simplepage .list_simple_boxtitle .entry-title {
}

#list_simplepage .entry-title span img {
    float: right;
    margin: 7px;
}

.archive-fudo a img {
    display: inline;
}

#list_simplepage .list_simple_box:after {
    display: block;
    clear: both;
    height: 48px;
    content: '';
}

#list_simplepage .list_detail dl.list_address,
#list_simplepage .list_detail dl.list_price_others {
    margin: -1.5em 0 0;
}

#list_simplepage table,#list_simplepage th,#list_simplepage td {
    border-width: 0;
}

#list_simplepage .list_address table td {
    border-bottom: 1px solid #ccc !important;
}

#list_simplepage .list_detail table td {
    padding: 2px;
}

#list_simplepage .list_price_others table td {
    border-bottom: 1px solid #ccc;
    width: 25%;
}

#list_simplepage .list_simple_box .list_detail dt {
    font-weight: 400;
    display: inline;
    white-space: nowrap;
}

#list_simplepage .list_simple_box .list_detail .list_price {
    margin: 0;
}

#list_simplepage .list_simple_box .list_detail dd {
    display: inline;
    max-width: 320px;
/*    margin: 0 0 0 .3em; */
    padding: 0;
}

/* 左 Minimum */
#list_simplepage .list_simple_box .list_picsam {
    float: none;
    margin: 0 0 30px;
    padding: 0;
}

#list_simplepage .list_simple_box .list_picsam img {
    height: auto;
    margin: 0 2px 10px;
    border: 1px solid #333;

    max-width: 120px;

}


#list_simplepage .list_picsam .list_picsam_img:before {
    display: block;
    clear: both;
    height: 0;
    content: '';
}

#list_simplepage .list_simple_box .list_picsam_img {
    display: block;
}

/* 右 */
#list_simplepage .list_simple_box .list_detail {
    overflow: hidden;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.92rem;
}

/* 背景色 売買 */
#list_simplepage .list_price {
    background-color: #ebf6fc;
}
.colors-dark #list_simplepage .list_price {
    background-color: #222;
}



/* 背景色 賃貸 */
#list_simplepage .list_price.rent {
    background-color: #fdedf0;
}
.colors-dark #list_simplepage .list_price.rent {
    background-color: #222;
}


/* 抜粋 */
#list_simplepage .entry-excerpt {
    padding-bottom: 10px;
}

/* 戻るリンク */
.archive-fudo .pageback {
    float: right;
}

/* 物件の詳細を見るボタン */
#list_simplepage .list_simple_box .list_details_button {
    background: #007acc none repeat scroll 0 0;
    border: 2px solid #007acc;
    border-radius: 2px;
    color: #fff;
    font-family: Montserrat,"Helvetica Neue",sans-serif;
    font-weight: 700;
    letter-spacing: .046875em;
    line-height: 1;
    padding: .75em .875em .625em;
    text-transform: uppercase;
    text-align: center;
}

#list_simplepage .list_simple_box a > .list_details_button:active,#list_simplepage .list_simple_box a > .list_details_button:hover {
    background: transparent none repeat scroll 0 0;
    color: #007acc;
    outline: medium none;
}

/* maching mail botton */
#main #maching_mail a {
    background: #ce6166 none repeat scroll 0 0 !important;
    border-radius: 2px !important;
    color: #fff;
    display: block;
    font-size: 1rem !important;
    font-weight: 700;
    margin: 20px 0 !important;
    padding: 8px !important;
    text-align: center;
    text-decoration: none;
    width: 15em;
    box-shadow: 0 0 0 0 currentcolor;
    text-shadow: 0 0 0 #cc5559 !important;
}






/* 13= 物件詳細ページ #list_simplepage2
---------------------------------------------------------------------- */
body:not(.search-results) article:not(.type-page) .list_simple_box .entry-content {
    float: none;
    margin: 0 0 20px;
}

#content .entry-content ul:not(.wp-block-gallery){
    margin: 0 0 0 2.5em;
}

/* うち消費税 */
#list_simplepage2 span.kakakuzei {
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
}

.single-fudo h1.entry-title {
    font-size: 1.5rem;
}

.single-fudo .entry-title span img {
    float: right;
    margin: 7px;
}

#list_simplepage2 .entry-excerpt {
    padding-bottom: 10px;
    padding-left: 5px;
}

#list_simplepage2 {
    margin: 0;
    padding: 0;
}

#list_simplepage2 .list_simple_box .list_detail dt {
    font-weight: 400;
    display: inline;
    color: #1f1f1f;
}

#list_simplepage2 .list_simple_box .list_detail dd {
    display: inline;
    margin: 0 .6em 0 .4em;
    padding: 0;
    color: #1f1f1f;
}

#list_simplepage2 .list_simple_box:after {
    display: block;
    clear: both;
    height: 0;
    content: '';
}

#list_simplepage2 .list_detail table {
    margin: 0;
    padding: 0;
    border: none;
}


#list_simplepage2 .list_detail table#list_add{
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

#list_simplepage2 .list_detail table#list_other{
    border-right: 1px solid #e5e5e5;
}


#list_simplepage2 .list_detail table th {
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: #f6f6f6;
}

#list_simplepage2 .list_detail table td {
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}






/* 全枠 */
#list_simplepage2 .list_simple_box {
/*    margin:0 0 20px; */
}

/* 右枠 */
#list_simplepage2 .list_simple_box .list_detail {
    display: block;
    margin: 0;
}

/* 左枠 */
#list_simplepage2 .list_picsam {
    display: block;
    margin: 0;
}

#list_simplepage2 .list_picsam:after {
    display: block;
    clear: both;
    height: 1.5em;
    content: '';
}

/* 画像 1-10 min */
#list_simplepage2 .list_picsam img {
    height: auto;
    float: left;
    margin: 0 10px 10px 0;
    padding: 0;
    border: 1px solid #999;
    width: 45.3%;
}

/* 画像 11-30 */
#list_simplepage2 #second_img {
    padding: 10px 0;
}

#list_simplepage2 #second_img:after {
    display: block;
    clear: both;
    height: 1.5em;
    content: '';
}

#list_simplepage2 #second_img img {
    float: left;
    height: auto;
    margin: 0 10px 10px 0;
    padding: 0;
    border: 1px solid #999;
    width: 45.3%;
}

/* 背景色 売買 */
#list_simplepage2 .list_price {
    line-height: 2;
    margin-bottom: 1em;
    padding: 0 0 4px 1em;
    background: -moz-linear-gradient(left,#ebf6fc,#fff);
    background: -webkit-gradient(linear,left top,right top,from(#ebf6fc),to(#fff));
    background-color: #ebf6fc;
}

/* 背景色 賃貸 */
#list_simplepage2 .list_price.rent {
    background: -moz-linear-gradient(left,#fdedf0,#fff);
    background: -webkit-gradient(linear,left top,right top,from(#fdedf0),to(#fff));
    background-color: #fdedf0;
}

#list_simplepage2 .list_detail table td {
    border-right: medium none;
}

#list_simplepage2 .list_price table td {
    border: medium none;
}

#list_simplepage2 .list_simple_box .list_detail #list_add th {
    line-height: 1.4;
    padding: 5px;
    text-align: left;
    white-space: nowrap;
    width: 21%;
    font-weight: 400;
}

#list_simplepage2 .list_simple_box .list_detail #list_add td {
    line-height: 1.4;
    margin: 0;
    padding: .5em;
    white-space: normal;
}

#list_simplepage2 .list_simple_box .list_detail #list_other th {
    width: 21%;
    padding: 5px;
    text-align: left;
    font-weight: 400;
}

#main #content #list_simplepage2 .list_simple_box .list_detail #list_other th.th2 {
}

#list_simplepage2 .list_simple_box .list_detail #list_other td {
    width: 30%;
    padding: 5px;
    white-space: normal;
}

#list_simplepage2 .list_simple_box .list_detail #list_other {
    margin-bottom: 1.5em;
}

#toiawasesaki h3,
#contact_form h3 {
    font-size: 1.5rem;
    line-height: 1.225;
    margin-bottom: 1.05em;
}

#contact_form,
#toiawasesaki {
    margin-bottom: 1.5em;
    padding-top: 1.75em;
}

/* 担当者コメント entry-content */
#main #content .entry-content p {
    margin: 0;
    padding: 10px;
}

/* 表下部・現況優先但書 */
.list_detail_bottom_info {
    display: block;
    clear: both;
    padding: 10px;
    text-align: right;
}

/* for wp3.6 youtube */
#main #content .list_detail .entry-content p iframe {
    max-width: 470px;
}

/* places */
#content .list_detail .places {
    margin-top: -1.5em;
    padding: 5px 0;
    border-right: 1px solid #979797;
    border-bottom: 1px solid #979797;
    border-left: 1px solid #979797;
}

#content .list_detail .places:after {
    display: block;
    clear: both;
    height: 0;
    content: '';
}

#content .list_detail .places label {
    font-size: 85%;
    display: block;
    float: left;
    margin: 0 5px;
    font-weight: normal;
}

#list_simplepage2 #map_canvas {
    margin-bottom: 1.5em;
    width: 100% !important;
}


/* ふきだし内 */
#list_simplepage2 #map_canvas .gm-style-iw {
    width: auto !important;
    height: auto !important;
}

#list_simplepage2 #map_canvas table {
    overflow: hidden;
    width: 280px !important;
    margin: 8px;
    padding: 0;
    border-style: none;
}

#list_simplepage2 #map_canvas table {
    border-spacing: 2px;
    border-collapse: separate;
}

#list_simplepage2 #map_canvas td {
    font-size: 10px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    color: #3f3f3f;
    border-width: 0 !important;
    border-top: medium none !important;
}

#list_simplepage2 .gmapballoon img {
    width: 90px;
    height: auto;
    padding: 2px;
    border: 1px solid #ccc;
}

#list_simplepage2 .gmaptitle {
    font-size: 12px;
    font-weight: 700;
}

#list_simplepage2 .gmapkakaku {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px !important;
    font-weight: 700;
    color: #f30 !important;
    border-bottom: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

#list_simplepage2 .gmapmadori {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px !important;
    font-weight: 700;
    color: #333 !important;
    border-bottom: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}


/* Responsive images Fluid images for posts hack*/
.entry-content #map_canvas img {
    max-width: none;
    border-radius: 0;
    box-shadow: none;
}

/* 検索履歴 */
.single-fudo .widget_fudo_jsearch_history ul {
    margin-left: 1rem;
}



/* = 問い合わせ
-------------------------------------------------------------- */
#contact_form label {
    font-weight: 300;
    margin-bottom: 0;
}



/* = 物件検索 固定ページ用  .jsearch 新
---------------------------------------------------------------------- */

#page_jsearch_page{
/*    margin: 20px 0; */
}

.jsearch .entry-header,
.jsearch .entry-content {
    max-width: none;
    margin-right: 0;
}

.jsearch li {
    display: block;
    float: left;
    margin: 0 1em 0 0;
    padding: 0;
    list-style-type: none;
}

.jsearch .eki ul,
.jsearch .shiku ul {
    padding: 0 0 25px 10px;
}

table.form_jsearch {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
    border: 1px solid #e5e5e5;
}

table.form_jsearch th {
    font-weight: 400;
    width: 22%;
    padding: 20px 10px 10px !important;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #e5e5e5;
}

table.form_jsearch td {
    width: 78%;
    margin: 0;
    padding: 10px !important;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

table.form_jsearch h5 {
    font-size: 100%;
    font-weight: 400;
    margin: 10px 0 0 !important;
    color: #333;
}

table.form_jsearch ul {
    margin: 0 0 10px 20px;
    list-style-type: none;
    padding: 0;
}

table.form_jsearch select {
/*    color: #1f1f1f; */
}

table.form_jsearch ul input[type='checkbox'],
table.form_jsearch ul input[type='radio'] {
    margin: 0 5px 0 0;
}


table.form_jsearch td.in_cat ul,
table.form_jsearch td.setsubi ul,
table.form_jsearch td.madori ul,
table.form_jsearch td.hof ul,
table.form_jsearch td.shubetsu ul {
    margin: 10px 0 0;
}


table.form_jsearch ul li {
    margin: 0 10px 0 0;
}

table.form_jsearch td.setsubi ul li,
table.form_jsearch td.in_cat ul li,
table.form_jsearch td.shubetsu ul li,
table.form_jsearch td.bus ul li.busstop,
table.form_jsearch td.shiku ul li,
table.form_jsearch td.eki ul li,
table.form_jsearch td.hof ul li,
table.form_jsearch td.madori ul li,
table.form_jsearch ul li.j_choumei,
table.form_jsearch ul li.j_kouku {
    display: inline-block;
}

table.form_jsearch h5.j_kouku_shiku,
table.form_jsearch h5.j_choumei_shiku{
    margin: 0 0 0 15px;
}

table.form_jsearch td.bus ul {
    padding: 0 0 0 10px !important;
}
table.form_jsearch td.bus ul li ul li.buscorse,.jsearch table.form_jsearch td.bus ul li.buscorp {
    display: block;
    clear: both;
    margin-bottom: 5px;
}
table.form_jsearch td.bus ul li ul li.buscorse ul li.busstop {
    float: left;
    margin: 0;
}



/*  = 会員登録 会員ログイン page
---------------------------------------------------------------------- */
/* テーブル */
table.form_user_register,
table.form_register {
    border: 1px solid #E5E5E5;
    font-size: 92%;
    line-height: 18px;
    width: 100%;
}

table.form_register input[type="text"],
table.form_register input[type="email"],
table.form_register input[type="url"],
table.form_register input[type="password"],
table.form_register input[type="search"],
table.form_register input[type="tel"],
table.form_register input[type="number"],
table.form_register textarea {
    padding: 5px;
    width: 70%;
    display: inline;
}

table.form_user_register th,
table.form_register th {
    border-bottom: 1px solid #E5E5E5;
    font-weight: 400;
    width: 30%;
    padding: 15px;
    text-align: left;
    background: #f6f6f6;
}
.colors-dark table.form_user_register th,
.colors-dark table.form_register th {
    background: #333;
}


table.form_user_register td,
table.form_register td {
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    width: 70%;
    margin: 0;
    padding: 15px;
    font-size: 92%;
    line-height: 1.5;
}


table.form_user_register td a,
table.form_register td a {
    text-decoration:underline;
}

table.form_user_register td select{
    font-size: 92%;
}



table.form_user_register h4 {
    font-weight: 400;
    font-size: 92%;
    margin-bottom: 10px;
}

table.form_user_register h5,
table.form_register h5 {
    font-weight: 400;
    font-size: 1rem;
    margin: 5px 0 !important;
    color: #333;
}

.colors-dark table.form_user_register h5,
.colors-dark table.form_register h5 {
    color: #fff;
}




table.form_register ul {
    margin: 0 !important;
}

table.form_register select {
/*    color: #1f1f1f; */
}

table.form_user_register span{
    display: inline-block;
}

table.form_user_register ul.kouku,
table.form_user_register ul.eki,
table.form_user_register ul.chou {
    margin: 0 0 1.75em 1.25em !important;
    list-style: none;
}

table.form_user_register ul.kouku li,
table.form_user_register ul.eki li,
table.form_user_register ul.chou li {
    display: inline-block;
}

table.form_user_register input[type="checkbox"]{
    margin: 0 2px 0 10px;
}


#kaiin_kiyaku{
    margin: 0 0 20px 0;
}


.page_login li {
    display: inline-block;
}

/* 強度インジケータ */
#pass-strength-result {
    display: none;
    width: auto;
    margin: 5px 0;
    padding: 5px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd !important;
    background-color: #eee;
}

#pass-strength-result.bad {
    border-color: #ff853c !important;
    background-color: #ffb78c;
}

#pass-strength-result.good {
    border-color: #fc0 !important;
    background-color: #ffec8b;
}

#pass-strength-result.short {
    border-color: #f04040 !important;
    background-color: #ffa0a0;
}

#pass-strength-result.strong {
    border-color: #8dff1c !important;
    background-color: #c3ff88;
}

/* ボタン */
.page_login #maching_mail a {
    font-size: 14px;
    font-weight: 700;
    display: block;
    width: 150px;
    margin: 5px 0;
    padding: 5px 8px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #ff9b9d;
    text-shadow: 1px 1px 1px #cc5559;
}

.page_login #maching_mail a:hover {
    text-decoration: underline;
    background: #ff9b9d;
}

.page_login #maching_mail a:active {
    text-decoration: none;
    background: #faa8cd;
}

.page_login ul:after {
    display: block;
    clear: both;
    height: 0;
    content: '';
}

.page_register #kaiin_users_comment {
    margin: 10% 0 20px;
    padding: 10px;
    border: 1px solid #e5e5e5;
}

.page_register #kaiin_kiyaku {
    overflow: auto;
    width: 100%;
    height: 200px;
    margin: 10% 0 20px;
    padding: 10px;
    border: 1px solid #e5e5e5;
}

.page_login .login_error,
.page_register .login_error {
    margin: 0 0 16px !important;
    padding: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #c00;
    border-radius: 3px 3px 3px 3px;
    background-color: #ffebe8;
}

.page_login p.message,
.page_register p.message {
    margin: 0 0 16px !important;
    padding: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #e6db55;
    border-radius: 3px 3px 3px 3px;
    background-color: #ffffe0;
}

.page_register #first_name,.page_register #last_name {
    width: auto;
}


/* 物件管理 担当者 */
#list_simplepage2 #charge {
    clear: both;
    background: #f7f7f7 linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) repeat scroll 0 0;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 3.5em;
}

#list_simplepage2 #charge .role_kannri_tanto_pic {
    display: block;
    float: left;
    margin-right: 10px;
}

#list_simplepage2 #charge .role_kannri_tanto_pic img {
    width: 100px;
    height: auto;
}

#list_simplepage2 #charge .role_kannri_tanto_name {
    display: block;
    color: #000;
    margin-bottom: 10px;
}

#list_simplepage2 #charge .role_kannri_tanto_comment {
    display: block;
    line-height: 18px;
}


/*  = 物件一覧 条件検索 再検索
---------------------------------------------------------------------- */
.archive-fudo .site-main{
    position:relative;
}

#fudou_page_jyoken_in_archive label.j_open,
#fudou_page_jyoken_in_archive label.j_close{
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px 8px;
    position:absolute;
    right: 0;
    top: 20px;
}
#fudou_page_jyoken_in_archive label.j_close{
    top: -15px;
}

#fudou_page_jyoken_in_archive input[type="radio"]#j_open,
#fudou_page_jyoken_in_archive input[type="radio"]#j_close {
    display: none;
}

#fudou_page_jyoken_in_archive #page_jsearch_page {
    display: none;
}

#fudou_page_jyoken_in_archive #j_open:checked ~ #page_jsearch_page{
    display: block;
    margin: 34px 0;
}
#fudou_page_jyoken_in_archive #j_open:checked ~ .j_open{
    display: none;
}

#fudou_page_jyoken_in_archive #j_close:checked ~ #page_jsearch_page{
    display: none;
}

#fudou_page_jyoken_in_archive #j_close:checked ~ .j_close{
    display: none;
}




/* 0= Fudousan Plugin Copyright
---------------------------------------------------------------------- */

#nendebcopy {
    font-size: 0.8125rem;
    margin: -20px 0 0;
    position: absolute;
    right: 5px;
}

#nendebcopy a {
    text-decoration: none;
}



.single-fudo .edit-link{
    margin: 10px 0;
    text-align: right;
    display: block;
}



/* Gutenberg */

/* 画像はみ出し対策 IE11 */
@media all and (-ms-high-contrast: none) {
    *::-ms-backdrop,
        .wp-block-image .aligncenter > figcaption,
        .wp-block-image .alignleft > figcaption,
        .wp-block-image .alignright > figcaption,
        .is-resized.wp-block-image > figcaption,

        .wp-block-image .aligncenter,
        .wp-block-image .alignleft,
        .wp-block-image .alignright,
        .is-resized.wp-block-image{
            display: block !important;
        }
}

/* カバー画像内 文字位置 IE11 */
.wp-block-cover, .wp-block-cover-image{
/*    height: 100vh; */
    height: 430px;
    margin: 0 0 10px;
}



/* カバー画像内 aligncenter fix */
.wp-block-cover.aligncenter {
    display: flex;
}


/*figure{
    margin: 0;
}
*/


.entry-content p {
    margin: 0;
    padding: 0 0 10px 0;
}

blockquote {
    border-left: 4px solid #000;
    padding-left: 1em;
    margin: 0 0 20px 0;
}

figure blockquote {
    border-left: none;
}

cite, dfn, em, i {
    font-style: italic !important;
}

.wp-block-pullquote {
    border-bottom: 4px solid #555d66;
    border-top: 4px solid #555d66;
    color: #40464d;
}

/* */
