@charset "utf-8";
/* CSS Document */
/* 目次 
1. STWリセット
2. 共通（レイアウト・見出し・その他・table・header・footer・ハンバーガー・btn・戻るボタン)
3. TOP
4. 下層固定 underlayer共通
5. 高級賃貸東京について
6. 入居までの流れ
7. 高級賃貸東京のQ&A
8. 当サイトへの掲載依頼について
9. 会社概要
10.プライバシーポリシー
11.物件リクエスト・お問い合わせ
12.スタッフブログ（WP投稿 category-staffblog.php single-staffblog.php）
13.コメント欄
14.検索結果
15. 
30.WP共通
*/

/**************************************************
1. STWリセット
***************************************************/

* {
	margin: 0;
	padding: 0;
	line-height:1.0;}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {display: block;}

body {font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", Meiryo, Osaka, sans-serif;}

html,body{ margin:0; padding:0;}

table {border-collapse:collapse; border-spacing: 0;}

td,th {padding: 0;}

ul, ol{list-style: none;}

a {text-decoration: none; }

/*a:hover, a:active, a:focus {color: #33383f;}*/

img {vertical-align: bottom; border: 0;}

i, cite, em, var, address, dfn {font-style:normal;}

*, *:before, *:after {box-sizing: border-box;}

small { font-size: 12px;font-size: 1.2rem;}

button,select {text-transform: none;}

/* IE用 */

a {background-color: transparent;}

a:active,a:hover {outline: 0;}

button {overflow: visible;}

textarea {overflow: auto;}

/* firefox用リンクをクリックした後に表示される「枠線」を消す */

a,a:focus{outline: none;}

/* iOSでTEL link無効 */

a[href^="tel"]{
  color:inherit;
  text-decoration:none;
}

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

/* html */
/*スクロールバーの領域表示確保*/
html {overflow-y:scroll;}

/* body */
body{width:100%;}

/*スライダーの画像の右にできる余白を隠す*/
#container{overflow: hidden;}

/*タブ切り替え*/
.ChangeElem_Panel{display: none;}



/**************************************************
2. 共通（レイアウト・見出し・その他・table・header・footer・ハンバーガー・btn・戻るボタン)
***************************************************/
/*------------------------------
基本スタイル ※変更不可
------------------------------*/
.pc { display: block; }
.sp { display: none; }

/* clearfix */
.cf {
  clear: both;
}
.cf:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}
/* float */
.float-l{float: left;}
.float-r{float: right;}
/*画像*/
img {
	width:auto;
	height:auto;
}
a:hover img,
a:active img {opacity: 0.8;}
/* テキスト */
p,
#contact p,
#request p {
  font-size: 17px;
  line-height: 1.8;
  margin: 0 0 0.5em;
}
.bold {font-weight: 700;}
.txt-l{text-align:left;}
.txt-r{text-align:right;}
.txt-c{text-align:center;}

/* 一行目以降インデント */
.indentback{
  text-indent: -1em;
  padding-left: 1em;
}
.mincho,
h1, h2, h3, h4, h5, h6
{font-family: "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "MS PMincho", メイリオ, Meiryo, serif;}
.gothic {font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", Meiryo, Osaka, sans-serif;}
/*------------------------------
テキストリンク ※変更不可
------------------------------*/
a.text-link:link,
a.text-link:visited {
	text-decoration: none;
	color:#f48954;
}
a.text-link:hover,
a.text-link:active {
  text-decoration: underline;
}
/*------------------------------
レイアウト ※変更不可
------------------------------*/
.site-content{
  padding: 0;
}

/*wrap共通*/
.wrap{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
	padding:0;
}
.wrap-s{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
/*------------------------------
見出し h1-h6 ※変更不可
------------------------------*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
/*------------------------------
ヘッダー、Gナビ共通 ※変更不可
------------------------------*/
#header-2 {
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  background: linear-gradient(#f8f6f0 35%, transparent 35%, transparent 100%);
  box-shadow: 0px 0px 2px #ccc;
  position:relative;
  z-index: 800;
}
#header-2 .h-wrap{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#header-2 .h-wrap .logo{
  width: 174px;
  height:133px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* マイリスト */
#header-2 .mylist a {
  display: block;
  width: 150px;
  height: 50px;
  background: #d4b15b;
  position: relative;
}
#header-2 .mylist a:hover {
  background: #777;
}
#header-2 .mylist a:hover img {
  opacity: 1;
}
#header-2 .mylist img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 94px;
  height: auto;
}
/* 掲載物件数 */
#header-2 .counter {
  width: 150px;
  height: 20px;
  background: #333;
}
#header-2 .counter p {
  height: 20px;
  line-height: 20px;
  color: #FFF;
  font-size: 8px;
  text-align: center;
}

/* address */
#header-2 .address,
#header-2 p{
  margin: 0;
}
#header-2 .address p,
#header-2 .address a{
  height: 25px;
  line-height: 25px;
  float: right;
  color: #ca9b27;
  font-size: 12px;
  font-weight: 700;
  padding: 0 10px;
}

#header-2 .address .mail a:hover{
  color: #e39079;
}

/* gnav */
.gnav ul{
  list-style: none;
}
.gnav li > ul{
  margin: 0;
}
.gnav .menu {
  position: relative;
  height: 45px;
  margin: 0 auto;
  padding-right: 10px;
}
.gnav .menu > li {
  float: left;
  width: auto;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  font-size: 16px;
}
.gnav .menu > li a {
  display: block;
  height: 45px;
  line-height: 45px;
  color: #333;
  font-weight: 700;
}
.gnav .menu > li a:hover {
  color: #c29a38;
}
.gnav ul.menu__second-level {
  visibility: hidden;
  opacity: 0;
  z-index: 700;
}
.menu > li:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
}
.menu__second-level li {
  border-top: 1px solid #eee;
}

/* ドロップダウンメニュー */
.menu > li.menu__single {
  position: relative;
}
li.menu__single ul.menu__second-level {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 100%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
li.menu__single:hover ul.menu__second-level {
  top: 45px;
  visibility: visible;
  opacity: 1;
}
li.menu__single ul.menu__second-level li a{
  padding-left: 20px;
}

/*------------------------------
footer
------------------------------*/
#footer {
  margin-top:0px;
  width: 100%;
  background-image: url(/wp/wp-content/themes/stw/assets/images/common/foot-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#footer .f-wrap {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  padding: 75px 0;
  box-sizing: border-box;
}
#footer p,
#footer a,
#footer li,
#footer li > ul{
  color: #FFF;
  margin: 0;
}
/* ft-logo */
#footer .logo{
  width: 250px;
  height: auto;
  margin-bottom: 40px;
}
#footer .address p{
  font-size: 15px;
}
#footer .address .add{
  margin-bottom: 10px;
}
#footer .address .tel{
  display: block;
  width: 240px;
  height: 40px;
  line-height: 40px;
  background: #d4b15b;
  font-weight: 700;
  text-align: center;
}
/* sitemap */
#footer .sitemap{
  max-width: 450px;
  width: 50%;
}
#footer h2{
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #FFF;
  color: #FFF;
  font-size: 17px;
  font-weight: normal;
}
#footer .fnav{
  width: 100%;
}
#footer .fnav > ul{
  width: 50%;
  float: left;
}
#footer .fnav li {
  line-height: 2.5;
  font-size: 13px;
  font-weight: normal;
}
#footer .fnav .indent{
  margin-left: 10px;
}
#footer .fnav li a:before {
  content: "＞";
}
#footer .fnav li a:hover {
	text-decoration: underline;
	opacity: 0.8;
}
/* copyright */
.copyright{
  height: 40px;
  border-top: 1px solid #FFF;
  text-align: center;

}
.copyright small{
  display:block;
  margin: 15px auto;
  font-size: 10px;
}
.nendebcopy, 
svg{
  display: none;
}

/*------------------------------
pageTopボタン
------------------------------*/
#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 999;
}
#pageTop a:hover{
  opacity: 0.8;
}

/*------------------------------
ぱんくず ※変更不可
------------------------------*/
#breadcrumbs {
  width: 100%;
  padding: 40px 0;
  text-align: right;
}
#breadcrumbs ul{
  margin: 0;
}
#breadcrumbs li {
  display: inline;
  font-size: 12px;
}
#breadcrumbs li a span {
  display: inline-block;
  position: relative;
  padding-right: 1.5em;
  font-size: 12px;
  color: #333;
}
#breadcrumbs li a span:after{
  content: "";
  vertical-align: middle;
  position: absolute;
  top: calc(50% - 4px);
  right: -6px;
  width: 6px;
  height: 6px;
  margin: auto;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 1em;
}
#breadcrumbs li a:hover span,
#breadcrumbs li a:active span {
  text-decoration: underline;
}


/*------------------------------
dynamic_sidebar
top_widget　共通？
------------------------------*/
.widget .tagcloud a, 
.widget.widget_tag_cloud a, 
.wp_widget_tag_cloud a {
    border: 1px solid #fff !important;
    background: #fff;
    display: inline-flex;
    margin: 0 0 3px;
    font-size: 14px !important;
}
.widget .tagcloud a:hover, 
.widget.widget_tag_cloud a:hover, 
.wp_widget_tag_cloud a:hover {
  color: #c29a38;
}

input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="password"], 
input[type="search"], 
input[type="number"], 
input[type="tel"], 
input[type="range"], 
input[type="date"], 
input[type="month"], 
input[type="week"], 
input[type="time"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="color"], 
textarea, 
select {
  border-radius: 0px;
  background: #fff;
}

.search-form .search-submit {
  bottom: 0px;
  padding: 0.5em 1em;
  position: absolute;
  right: 0px;
  top: 0px;
}

button, 
input[type="button"], 
input[type="submit"] {
    background-color: #d4b15b;
    border: 0;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    line-height: 1;
    padding: 1em 2em;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}
.widget {
  padding-bottom:1em;
}
.memseki,
#searchitem_m div, 
#searchitem div {
  margin: 0;
  padding:0;
}
/*------------------------------
.con-box　※変更不可
------------------------------*/
.con-box{
  margin: 0 auto;
  border: 1px solid #333;
  padding: 40px;
}
.con-box p{
  text-align: center;
}
.con-box .con-btn a{
  display: block;
  width: 250px;
  height: 40px;
  margin: 20px auto 0;
  background: #d4b15b;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.con-box .con-btn a:hover {
  background: #e39079;
}

/**************************************************
3. TOP 
***************************************************/
/*------------------------------
メイン画像
------------------------------*/
#top .kv{
  position: relative;
}
#top .wp-custom-header{
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  #top .wp-custom-header{
    max-height: 90vh;}
}
/*キャッチコピー*/
#top .catch {
  width: 450px;
  margin: 0 auto;
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
}
#top .catch p{
  margin: 0;
  padding: 30px;
  border: 5px double #fff;
  line-height: 1.8;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
#top .catch p span{
  font-size: 40px;
}
/*検索枠*/
#top .search-box1{
  background: rgba(0,0,0,0.5);
  padding: 30px 50px;
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
}
#top .search-box1 .widget {
   padding-bottom: 0;
}
#top .search-box1 .widget-1{
  margin: 0;
}
#top .search-box1 .widget-1 form{
  display:flex;
  justify-content:flex-start;
  align-items: center;
}
/*人気の検索条件で探す*/
#top .search-box1 h2.widget-title {
  font-size:25px;
  font-weight: nomal;
  margin: 20px 0 10px;
  color: #fff;
  text-align:center;
}
#top .search-box1 h2.widget-title:before, 
#top .search-box1 h2.widget-title:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: #fff;
}
#top .search-box1 h2.widget-title:before {
    left:25%;
}
#top .search-box1 h2.widget-title:after {
    right:25%;
}
/*------------------------------
希望の条件から探す
------------------------------*/
#top .search {
  padding: 100px 0;
  background: url("../images/common/search-bg.png");
}
#top .search h2 {
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}
#top .search h2:after {
  content: '';
  position: absolute;
  bottom: -15px;
  display: block;
  width: 32px;
  height: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("../images/common/h-deco1.png") no-repeat;
}
#top .search .widget{
  border: 1px solid #fff;
  padding: 40px 5% 30px;
  position: relative;
}
#top .search .widget h3 {
  display: inline-block;
  padding: 10px;
  background-color: #333;
  line-height:1;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: -20px;
  left: 20px;
}
/*エリア*/
#top .search .widget{
  margin-bottom: 40px;
}
#top #fudo_r_c-2 ul li{
  list-style:none;
}
#top #fudo_r_c-2 ul li a{
  display: inline-block;
  padding: 0.25em 0.5em;
  border:1px solid #CCCCCC;
  background: #fff;
}
#top #fudo_r_c-2 ul li a:hover,
#top #fudo_r_c-2 ul li a:active{
	opacity: 0.8;
}
#top #fudo_r_c-2 ul.children{
  width: 100%;
  margin-top: 10px;
  display:flex;
  justify-content:flex-start;
  flex-wrap: wrap;
}
#top #fudo_r_c-2 ul.children li {
  margin: 5px;
  padding: 0;
}
/*条件絞り込み*/
#top form#searchitem div{
	width:100%;
	margin-bottom:1em;
}
#top form#searchitem div:nth-of-type(3),
#top form#searchitem div:nth-of-type(1){
	width:100%;
	margin-bottom:10px;
	color:#d4b15b;
}
#top form#searchitem span,
#top form#searchitem #madori_cb span label,
#top form#searchitem #setsubi_cb span label,
#top form#searchitem #memseki,
#top form#searchitem #kakaku_c{
  color: #fff;
}

#top form#searchitem input[type=submit]{
  clear:both;
  display:block;
  width: 200px;
  margin: 30px auto 0;
  padding: 1em 2em;
}

/*------------------------------
PICKUP
------------------------------*/
#top .pickup {
  padding: 100px 0;
  background: #f8f6f0;
}
#top .pickup h2 {
  display: block;
  width: 240px;
  margin: 0 auto 20px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #333;
  letter-spacing: 3px !important;
  position: relative;
}
#top .pickup h2::before {
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  content: url(../images/common/h-deco2.png);
}
#top .pickup h2::after{
  display: block;
  position: absolute;
  top: -5px;
  right: 0;
  content: url(../images/common/h-deco2.png);
}
#top #fudo_top_r-2{
  margin-top:50px;
}
#top ul.grid-content{
  display:flex;
  justify-content: space-between;
  align-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#top ul.grid-content li{
  display: block;
  width: 31%;
  height: auto;
  margin: 0 0 30px 0!important;
  padding: 0 !important;
  border: 1px solid #333 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px #ddd;
  background: #fff;
  list-style-type: none;
  line-height:1;
  position: relative;
}
#top ul.grid-content li .up_mark, 
#top ul.grid-content li .new_mark {
  display: block;
  width: 46px !important;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background: url(../images/common/new.png) no-repeat;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 10px;
  left: 10px;
}

/*------------------------------
トップページャー
------------------------------*/
.search-reslult-pager{
	display: flex;
  justify-content:flex-start;
  align-items: center;
  padding:1em 0;	
}
.search-reslult-pager span,
.search-reslult-pager a{
	display:block;
	padding:0.5em;
	margin:0;
}
.search-reslult-pager span{
	font-weight:bold;	
}
	
	



/*------------------------------
おすすめなどアイコン
------------------------------*/
#top ul.grid-content li .attention_icon{
	position:absolute;
	top:-20px;
	right:-20px;
	display:flex;
  justify-content: center;
  align-items: center;
  width:80px;
  height:80px;
  background-image:url(../images/common/icon_bg_giza.png);
  background-size:100% 100%;  
	padding:0.125em 0.5em;
	transform: rotate(15deg);
}
#top ul.grid-content li .attention_icon:before{
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;	
}
#top ul.grid-content li .attention_icon.osusume:before{
	content:"おすすめ";
}
#top ul.grid-content li .attention_icon.tyumoku:before{
	content:"注目！";
}
#top ul.grid-content li .attention_icon.ichioshi:before{
	content:"一押し";
}
#top ul.grid-content li .attention_icon.gentei:before{
	content:"期間限定";
}






#top ul.grid-content li>a:nth-of-type(1){
  display: block;
  width: 100%;
  height: 250px;
  margin: 0;
  z-index: 300;
  overflow: hidden;
}
#top ul.grid-content li>a:nth-of-type(1) .box1image {
  width:100%;
  height:auto;
  min-height:250px;  
  margin:0;
  float: none;
  object-fit: cover;
}
#top ul.grid-content li div.right_box{
  display: block;
  width: 100%;
  padding: 10px 10px 20px;
  float: none;
  position: relative;
}
#top ul.grid-content li h4.top_title{
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background: #d4b15b;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: -30px;
  left: 0;
}
#top ul.grid-content li p{
  margin:0;
  padding:0;
}
#top ul.grid-content li p.bukkenshubetsu{
  font-size:12px;
  line-height: 1.5;
  padding: 0.25em 0 0 0;
}
#top ul.grid-content li span.top_price {
  display: inline-block;
  font-size: 18px;
  padding: 0 0.5em 0 0;
  margin:0;
  font-weight: 700;
  color:#d34924;
}
#top ul.grid-content li span.top_kaiin,
#top ul.grid-content li span.top_kotsubus,
#top ul.grid-content li span.top_kotsu,
#top ul.grid-content li span.top_shozaichi,
#top ul.grid-content li span.top_menseki,
#top ul.grid-content li span.top_madori {
  padding: 0 0.5em 0 0;
  font-size: 12px;
  overflow: hidden;
}
#top ul.grid-content li p.gaiyo{
  padding: 0 0.5em 0 0;
  font-size: 12px;
  height: 5em;
  overflow: hidden;
}
#top ul.grid-content li div.under_box{
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  background-color: #333;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index:200;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#top ul.grid-content li .fudo_kaiin_type_logo{
	height:18px;	
}
#top ul.grid-content li .fudo_kaiin_type_logo img{
	height:100%;
	width:auto;
}

#top ul.grid-content li div a{
	font-size: 12px;
	color:#fff;
}
#top ul.grid-content li div a:before{
	content:">> ";
}
#top ul.grid-content li div a:active,
#top ul.grid-content li div a:hover{
	color:#ddd;
}
/**************************************************
4. 不動下層 #primary共通
***************************************************/
/*------------------------------
#primary全体
------------------------------*/
.blog:not(.has-sidebar) #primary article, 
.archive:not(.page-one-column):not(.has-sidebar) #primary article, 
.search:not(.has-sidebar) #primary article, 
.error404:not(.has-sidebar) #primary .page-content, 
.error404.has-sidebar #primary .page-content, 
body.page-two-column:not(.archive) #primary .entry-content, 
body.page-two-column #comments {
  float: none;
  width: 100%;
}
#primary {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
#primary .fudo-ul-flex {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
#primary .fudo-ul-contents{
  width: 70%;
}
#primary .fudo-s-ul-contents{
  width: 70%;
  padding: 100px 0 0;
}
#primary #secondary{
  width: 25%;
  padding: 100px 0 0;
}
/*ぱんくず*/
.archive-fudo h1.page-title{
  font-size: 12px;
  padding: 40px 0;
  color:#222;
  text-align: right;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", Meiryo, Osaka, sans-serif;
}
/*並べ替えのナビ*/
#nav-above1 {
  clear:both;
  padding: 5px;
  margin-bottom: 20px;
  background-color:#f8f6f0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#nav-above1:nth-of-type(n+2){
  clear:both;
  margin: 20px 0;
}
#nav-above1:after {
  display:none;
  clear: both;
  height: 0;
  content: '';
}
#nav-above1 .nav-previous {
  padding: 0.125em 0;
  margin: 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top:none;
  border-bottom:none;
}

/**************************************************
4. 不動一覧 #list_simplepage
***************************************************/
#list_simplepage .list_simple_boxtitle_stw:nth-child(n+2){
  clear:both;
  margin-top:3em;
}
/*見出し*/
#list_simplepage h2.entry-title {
  height: 45px;
  line-height: 45px;
  background-color:#d4b15b;
  font-size:18px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
#list_simplepage h2.entry-title span:nth-of-type(1){
	padding:0 1em;
}
#list_simplepage h2.entry-title span:nth-of-type(1) a{
  font-size:18px;
  color:#FFFFFF;
  text-decoration:none;
  font-weight: 700;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255,0);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255,0);	
}

#list_simplepage h2.entry-title>a:nth-last-of-type(1){
  height: 45px;
  line-height: 45px;
  font-size:14px;
  font-weight:normal;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255,0);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255,0);
  background-color:#2D2D2D;
  color:#FFFFFF;
  padding: 0 1em;
}
#list_simplepage h2.entry-title>a:nth-last-of-type(1):after{
  content:" ＞";
}
.entry-title .new_mark {
  font-size:16px !important;
}
/*概要*/
#list_simplepage .list_simple_box_stw{
  margin-top:1em;
  clear:both;
}
#list_simplepage .list_simple_box_stw:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/*左ブロック*/
#list_simplepage .list_picsam{
  overflow:hidden;
  width:40%;
  min-height:225px;
  max-height:225px;
  float:left;
  background-color:#EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
}
#list_simplepage .list_picsam img{
  width:100%;
  height:auto;
  min-height:225px;
  object-fit: cover;
}
/*右ブロック*/
#list_simplepage .list_detail_stw{
  width:58%;
  display:block;
  float:right;
}
#list_simplepage .list_detail_stw p.gaiyo{
	font-size:12px;
	padding:0.25em;
}
#list_simplepage .list_price_others table tr td.list_price_others_th,
#list_simplepage .list_address table tr td.list_address_th{
	background-color:#f8f6f0;
	padding:0.25em;
}
#list_simplepage .list_address table td {
	padding:0.25em;
}
/*rooms*/
table.rooms:before{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
table.rooms{
  clear:both;
  width:100%;
  font-size:14px;
  margin: 0;
  border-collapse:collapse;
  border-spacing:0;
  empty-cells:show;
}
table.rooms tr{
	border-top: 1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
table.rooms tr:last-of-type{
	border-bottom: 1px solid #ccc;
}
table.rooms th{
	background-color:#FAECEC;
	padding: 0.5em 0.125em;
	text-align:center;
  font-size:13px;
}
table.rooms td{
	padding: 0.5em 0.125em;
	text-align:center;
  font-size:13px;
}
table.rooms td a{
	color:#FFFFFF;
	font-size:12px;
	display:inline-block;
	padding: 0.3em;
	background-color:#D5B15D;	
}

/**************************************************
4. 物件概要 #list_simplepage2
   物件詳細 #list_simplepage2
***************************************************/
header.entry-header h1.entry-title {
  padding: 0 1em;
  height: 45px;
  line-height: 45px;
  background-color:#d4b15b;
  font-size:20px;
  font-weight: 700;
  color:#FFFFFF;
  border-left: none;
}
.entry-title .new_mark {
  font-size:14px !important;
}
/*マイリスト*/
span.wpfp-span{
	display:flex;
	justify-content:flex-start;
	align-items: center;	
	float:right;
	font-size:12px;
	color:#D5B464;		
}
span.wpfp-span a{
	color:#D5B464;
}
span.wpfp-span img{
	height:12px;
	width:auto;
}
span.wpfp-span:hover{
	text-decoration:underline;
}
/*物件金額*/
#list_simplepage2 .list_price.rent,
#list_simplepage2 .list_price.price{
  background: #FAECEC;
  padding: 0 0 0 1em;
  margin-bottom: 0;
}
#list_simplepage2 .list_price.rent tr,
#list_simplepage2 .list_price.price tr{
  background: #FAECEC;
  padding: 0 0 0 1em;
  border: none;
}
#list_simplepage2 .list_price.rent table th, 
#list_simplepage2 .list_price.rent table td,
#list_simplepage2 .list_price.price table th, 
#list_simplepage2 .list_price.price table td{
  border: none;
}
/*rooms*/
#list_simplepage2 .list_detail table.rooms tr{
	border-top: 1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
#list_simplepage2 .list_detail table.rooms tr:last-of-type{
	border-bottom: 1px solid #ccc;
}
#list_simplepage2 .list_detail table.rooms th{
	background-color:#FAECEC;
	padding: 0.5em 0.125em;
	text-align:center;
  font-size:13px;
}
#list_simplepage2 .list_detail table.rooms td{
	padding: 0.5em 0.125em;
	text-align:center;
  font-size:13px;
}
/*更新日*/
.list_detail_bottom_info {
  padding: 40px 0 0;
  text-align: left;
}
.list_detail_bottom_info p.bukkenbango{
  margin: 0;
  padding: 0.5em 1.5em;
  background: #333;
  color: #fff;
  float: left;
  font-size:14px;
}
.list_detail_bottom_info time{
  line-height: 1.8;
  padding: 0.5em 0;
  float: right;
  font-size:12px;
}
/*詳細*/
#list_simplepage2 .list_detail table#list_add {
    border-top: 1px solid #ccc;
}
#list_simplepage2 .list_detail tr {
    border-bottom: 1px solid #ccc;
  border-right:1px solid #ccc;
}
#list_simplepage2 .list_detail table th {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f8f6f0;
  font-size: 14px;
}
#list_simplepage2 .list_detail table td {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
  font-size: 14px;
}
/*etc*/
#list_simplepage2 .list_detail .etc .bukken-blog,
#list_simplepage2 .list_detail .etc .remarks{
  padding: 50px 0 0;
}
#list_simplepage2 .list_detail .etc h2{
  width: 200px;
  margin-bottom: 20px;
  border-bottom: 2px solid #d4b15b;
  font-size: 20px;
  color: #222;
  position: relative;
}
#list_simplepage2 .list_detail .etc h2:after{
  position: absolute;
  bottom: -10px;
  right: -27px;
  content: url(../images/common/h-deco4.png);
}
/*問合せ先・問合せフォーム*/
#toiawasesaki,
div#contact_form {
  margin: 0;
  padding: 50px 0 0;
  background-color: #fff;
}
#toiawasesaki h3,
#contact_form h3 {
  max-width: 400px;
  min-width: 280px;
  margin: 0 auto 20px;
  padding: 0.5em 0;
  border-left: none;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background-color: #fff;
  line-height: 1;
  font-size: 20px;
  font-weight: 700;
  color: #222;
  text-align:center;
  
}
#contact_form h3:before {
    content: " ";
}
/**************************************************
4. マイリスト #mylist
***************************************************/
#mylist #main h1{
  margin-top: 10px;
  padding: 0 1em;
  height: 45px;
  line-height: 45px;
  background-color: #d4b15b;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: none;
}

#mylist #main .wpfp-span{
	padding:3em 0;
}

#mylist #main .wpfp-span ul li{
	margin-bottom:2em;
		display:block;
		clear:both;
		position:relative;
		padding:1em;
		-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border:1px solid #999999;
}
#mylist #main .wpfp-span ul li:after,
#mylist #main .wpfp-span ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#mylist #main .wpfp-span ul li:before{
	content:"";
	width:16px;
	height:16px;
	display:block;
	background-image: url(../../../../plugins/wp-favorite-posts/img/star.png);
	background-size:cover;
	margin-right:0.5em;
	position:absolute;
	top:0;
	left:0;	
}
#mylist #main .wpfp-span ul li .right_box{
	width:70%;
	float:left;
	padding-left:1em;
	display:block;	
}
#mylist #main .wpfp-span ul li .right_box:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#mylist #main .wpfp-span ul li a:nth-of-type(1){
  display:block;
  clear:both;
  padding-bottom:0.25em;
  border-bottom: 1px solid #d4b15b;
  margin-bottom: 0.5em;
  text-decoration:none;
  font-weight:bold;
  color:#e39079;
}
#mylist #main .wpfp-span ul li a:nth-last-of-type(1){
  color: #FFFFFF;
  font-size: 12px;
  display: inline-block;
  padding:0.25em 0.5em;
  margin-left:1em;
  background-color: #d4b15b;
  position:absolute;
  right:0.5em;
  bottom:0.5em;
}
#mylist #main .wpfp-span ul li span{
	display: inline-block;
	margin-right:1em;
	padding-bottom:0.5em;
	line-height:1.25;
}

#mylist #main .wpfp-span a.wpfp-link{
	font-size:14px;
	color:#D5B464;
}
#mylist #main .wpfp-span a.wpfp-link:hover{
	text-decoration:underline;
}
#mylist #main .wpfp-span + p,
#mylist #main .wpfp-span p{
    font-size:16px;
    line-height: 1.5;
}
#mylist #main .wpfp-span ul li .thum{
	width:29%;
	height:135px;
	display:block;
	float:left;
	margin-right:1%;
	overflow:hidden;	
}
#mylist #main .wpfp-span ul li .thum img{
	height:100%;
	width:auto;
	min-width:100%;
	object-fit: cover;
}
#mylist .navigation{
	clear:both;
	width:100%;
	margin-top:1em;	
}
#mylist .wpcf7{
	clear:both;
	margin-top:3em;	
}
#mylist .wpfp-img{
  width:16px;
	height:16px;
}
/**************************************************
4. 下層固定 underlayer共通
***************************************************/
/*------------------------------
underlayer全体
------------------------------*/
.underlayer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.underlayer .ul-flex{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.underlayer .ul-contents{
  width: 70%;
}
.underlayer #secondary{
  width: 25%;
}
/*------------------------------
underlayer見出し
------------------------------*/
.underlayer h2.ul-title {
  margin-bottom: 40px;
  padding: 10px 0;
  font-size: 26px;
  font-weight: 700;
  color: #333;
  border-bottom: solid 2px #d4b15b;
  position: relative;
}
.underlayer h2.ul-title:after {
  content: "";
  display: block;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 30%;
  border-bottom: 2px solid #777;
}
/* h3.ul-title01 */
h3.ul-title01 {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  padding: 0 30px;
  line-height: 1.0;
  font-size: 20px;
  color: #333;
  font-weight: 700;
}
h3.ul-title01::before {
  position: absolute;
  display: inline-block;
  left: 0;
  content: url(../images/common/h-deco3.png);
}
h3.ul-title01::after{
  position: absolute;
  display: inline-block;
  right: 0;
  content: url(../images/common/h-deco3.png);
}
/* h3.ul-title02*/
h3.ul-title02 {
  display: inline-block;
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}
h3.ul-title02 span {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 20px;
  background: #d4b15b;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
h3.ul-title02 span:after {
    content: '';
    position: absolute;
    top: 5px;
    right: -10px;
    margin: -5px 0 0 0;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 10px solid #d4b15b;
    border-bottom: 15px solid transparent;
}
/*------------------------------
underlayer画像
------------------------------*/
.underlayer img{
  width: 100%;
  height: auto;
}


/**************************************************
5. 高級賃貸東京について
***************************************************/
#about.underlayer .about-box{
  margin-bottom: 50px;
}
#about.underlayer .about-box:last-of-type{
  margin-bottom: 0;
}

/**************************************************
6. 入居までの流れ
***************************************************/
#flow.underlayer .flow-box{
  margin-bottom: 50px;
}
#flow.underlayer .flow-box:last-of-type{
  margin-bottom: 0;
}
#flow.underlayer .flow-box>p{
  margin-left: 50px;
}

/*------------------------------
.note
------------------------------*/
#flow.underlayer .note{
  margin-left: 50px;
  margin-top: 20px;
  padding: 30px 20px 20px;
  border: 1px solid #d4b15b;
  position: relative;
}
#flow.underlayer .note h4{
  position: absolute;
  top: -14px;
  left: 0;
  right: 0; 
  margin: auto;
  width: 250px;
  background: #fff;
  font-size: 20px;
  font-weight: 700;
  color: #d4b15b;
  text-align: center;
}
#flow.underlayer .note h5{
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}
#flow.underlayer .note ul.list-s {
  margin: 0;
}
#flow.underlayer .note ul.list-s li{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 5px;
}
#flow.underlayer .note ul.list-s li:last-child{
  margin-bottom: 0;
}
/*------------------------------
ul.list-l
------------------------------*/
#flow.underlayer ul.list-l {
  margin: 0 0 0 50px ;
}
#flow.underlayer ul.list-l li{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
}
#flow.underlayer ul.list-l li:last-child{
  margin-bottom: 0;
}
/**************************************************
7. 高級賃貸東京のQ&A
***************************************************/
#qa.underlayer .qa-box{
  margin-bottom: 50px;
}
#qa.underlayer .qa-box:last-of-type{
  margin-bottom: 0;
}
#qa.underlayer .qa-box>p{
  margin-left: 50px;
}
/*------------------------------
.note
------------------------------*/
#qa.underlayer .note{
  margin-left: 50px;
  padding: 20px;
  border: 1px solid #d4b15b;
  position: relative;
}
#qa.underlayer .note ul.list-s {
  margin: 0;
}
#qa.underlayer .note ul.list-s li{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 5px;
}
#qa.underlayer .note ul.list-s li:last-child{
  margin-bottom: 0;
}
/**************************************************
8. 当サイトへの掲載依頼について
***************************************************/
#published.underlayer .publi-box{
  margin-bottom: 50px;
}
#published.underlayer .publi-box h4 {
  margin: 20px 0 5px;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}
/**************************************************
9. 会社概要
***************************************************/
#company.underlayer table.ul-table tr{
  border: 1px solid #333;
}
#company.underlayer table.ul-table th{
  padding: 10px 15px;
  background: #f8f6f0;
  line-height: 1.5;
  font-size: 16px;
}
#company.underlayer table.ul-table td{
  padding: 10px 15px;
  line-height: 1.5;
  font-size: 16px;
}
/**************************************************
10. プライバシーポリシー
***************************************************/
#privacypolicy.underlayer .privacypolicy01{
  padding-top: 50px;
}
#privacypolicy.underlayer .pp-box{
  margin-bottom: 50px;
}
#privacypolicy.underlayer .pp-box:last-of-type{
  margin-bottom: 0;
}
#privacypolicy.underlayer .pp-box>p{
  margin-left: 50px;
}
/*------------------------------
.note
------------------------------*/
#privacypolicy.underlayer .note{
  margin-left: 50px;
  padding: 0;
}
#privacypolicy.underlayer .note h4 {
  margin: 20px 0 5px;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}
#privacypolicy.underlayer .note ol.list-s {
  margin: 0;
}
#privacypolicy.underlayer .note ol.list-s li{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 5px;
}
#privacypolicy.underlayer .note ol.list-s li:last-child{
  margin-bottom: 0;
}
/*------------------------------
.sign-box
------------------------------*/
#privacypolicy.underlayer .sign-box{
  float: right;
}
#privacypolicy.underlayer .sign-box h3{
  font-size: 18px;
}
#privacypolicy.underlayer .sign-box p{
  font-size: 16px;
}

/**************************************************
11.物件リクエスト・お問い合わせ（Contact Form 7）
***************************************************/
.contactfoam-box .table-foam tr {
  border-bottom: 1px solid #ccc;
}
.contactfoam-box .table-foam th {
  width: 26%;
  padding: 15px 0 15px 0;
  font-weight: 700;
}
.contactfoam-box .table-foam th .required{
  font-size: 14px;
  color: #db1919;
  vertical-align: middle;
}
.contactfoam-box .table-foam td {
  width: 74%;
  padding: 15px 0;
}
.contactfoam-box .table-foam td .float-l{
  float: left;
}
.contactfoam-box .table-foam td .font12{
  font-size: 12px;
}
input.wpcf7-form-control.wpcf7-submit{
  display:block;
  width: 200px;
  margin: 30px auto 0;
  padding: 1em 2em;
}
/**************************************************
12.スタッフブログ（WP投稿 category-staffblog.php single-staffblog.php）
***************************************************/
#staffblog dl.blog-list,
#staffblog .blog-content{
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
#staffblog dl.blog-list dt{
  width: 100%;
  font-weight: normal;
  margin: 0;
}
#staffblog dl.blog-list dd{
  width: 100%;
  margin: 10px 0 0;
}
#staffblog .blog-content .day{
  font-size: 14px;
  margin-bottom: 20px;
}
/*------------------------------
.tablenav
------------------------------*/
.tablenav{
  margin: 50px auto;
  text-align: center;
  line-height: 1;
}
.tablenav .page-numbers{
  padding: 6px;
  background-color: #d4b15b;
  color: #fff;
  font-size: 14px;
}
.tablenav .page-numbers.current{
  background-color: #e39079;
}
.tablenav .page-numbers.next,
.tablenav .page-numbers.prev{
  border: none;
  color: #ca9b27;
  font-size: 14px;
  background-color: #fff;
}
.tablenav a:hover.page-numbers{
  background-color: #767676;
}
.tablenav a:hover.page-numbers.next,
.tablenav a:hover.page-numbers.prev{
  background-color: #fff;
  color: #ca9b27;
}
/*------------------------------
.back-btn
------------------------------*/
.back-btn a{
  display: block;
  width: 200px;
  height: 40px;
  margin: 50px auto 0;
  background: #d4b15b;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.back-btn a:hover {
  background: #767676;
}


/**************************************************
12.コメント欄
***************************************************/

#comment_area{
	background-color:#F8F6F0;
	padding:5% 2%;
	-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#comment_area h3,
#comment_area input,
#comment_area textarea,
#comment_area p{
font-size:16px;
line-height:1.2;	
}


#comment_area p.form-submit input,
#comment_area a{
	font-size:12px;
}

#comment_area h3.comment-reply-title,
#comment_area h3#comments {
	margin:0 0 1em 0;
	padding:0;
	line-height:1.5;
	background-color:#D4B15B;
	color:#FFFFFF;
	font-size:18px;
}

#comment_area input::-webkit-input-placeholder {
    color:#ccc;
}
#comment_area input:-ms-input-placeholder {
   color:#ccc;
}
#comment_area input::placeholder{
 color:#ccc
}
#comment_area textarea::-webkit-input-placeholder {
    color:#ccc;
}
#comment_area textarea:-ms-input-placeholder {
   color:#ccc;
}
#comment_area textarea::placeholder{
 color:#ccc
}

#comment_area h3.comment-reply-title>a:after,
#comment_area cite.fn:after{
	content:"様";	
}
#comment_area .comment-meta.commentmetadata{
	text-align:right;
	display:inline-block;
	float:right;
}
#comment_area ol.commets-list li{
	border-bottom:1px solid #666;
	padding:0 0 1em 0;
	margin:0 0 1em 0;
	clear:both;
	display:block;	
}
#comment_area .reply{
	display:block;
	clear:both;
	padding:0;
	margin:0;
	text-align:right;	
}
#comment_area .reply a{
	display:inline-block;
	background-color:#666;
	color:#FFFFFF;
	padding:0 0.5em;
	line-height:1.5;
	font-size:12px;
}
#comment_area .reply a:hover{
	background-color:#CCC;
	color:#666;
}
#comment_area ul.children{
	margin:1em 0 1em 1em;
	padding:1em;
	background-color:#ECECEC;
}
#comment_area textarea{
	border:1px solid #666;
	width:100%;	
}
#comment_area cite.fn{
	font-style:normal !important;	
}
#comment_area h3#reply-title small{
	float:right;
	display:block;
}

#comment_area #respond{
	margin-top:2em;	
}

/**************************************************
14. 検索結果ページ
***************************************************/
body.search #page .site-content-contain{
padding-top: 100px;
}
