@charset "UTF-8";

/* =========================================================
p-post - style
============================================================*/
#tinymce {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    counter-reset: h2-num;


}
