@charset "UTF-8";

.p-post {
    &Cont {}
}

/* 記事ページ - メイン
--------------------------------------------------------- */
.p-postSingle {
    background-color: $base-color01;
}

/* 記事ページ - サイド
--------------------------------------------------------- */
.p-postSide {
    .o-form {
        background-color: $base-color01;

        &Input {
            width: 100%;
        }
    }

    /*wordpressの機能*/

    .widget {
        padding: 0;
        margin-bottom: $margin03;
    }

    .widget-title {
        @include fs-p;
        margin-bottom: $margin01;
    }

    //検索のみタイトル削除
    .widget_search {
        .widget-title {
            display: none;
        }
    }

    //人気記事
    .wpp-list {
        @include mq-xl {
            display: flex;
            flex-wrap: wrap;
            margin-left: -.4rem;
            margin-right: -.4rem;
        }
        @include mq-md {
            display: block;
            margin-left: 0;
            margin-right: 0;
        }
    }
    &_rank {
        &List {
            display: flex;
            margin-bottom: $margin00;
            @include mq-xl {
                width: 50%;
                padding-left: .4rem;
                padding-right: .4rem;
            }
            @include mq-md {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }

        &Thumb {
            margin-right: $margin00;
            flex-shrink: 0;

            &,
            .wpp-thumbnail {
                width: 10rem;
                height: 8rem;
                object-fit: cover;

            }
        }

        &Info {
            .wpp-post-title {
                @include fs-mid;
                font-weight: bold;
                display: block;
                margin-bottom: $margin00;
            }

            .wpp-meta {
                display: flex;
                justify-content: space-between;
                @include fs-tiny;
                color: $sub-color01;

                .wpp-date,
                .wpp-category {
                    color: $text-color01;
                }
            }
        }
    }

    //カテゴリー
    .widget_categories {
        .cat-item {
            padding: 0;
            padding-bottom: $padding00;
            transition: $transition01;
            @include fs-mid;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: $text-color01;
                display: flex;
                align-items: center;

                &:before {
                    content: "";
                    height: 2px;
                    width: .8rem;
                    background-color: $text-color03;
                    transition: $transition01;
                    margin-right: $margin00;
                }

                &:hover {
                    text-decoration: none;
                    color: $text-color03;

                    &:before {
                        transform: translateX(-.4rem);
                        background-color: $accent-color03;
                    }
                }
            }

        }
    }

}

/* 記事ページ - コンテンツのヘッダー / sns / フッター
--------------------------------------------------------- */
.p-post {
    margin-top: $margin02;
    counter-reset: h2-num;

    //記事ヘッダー
    &Header {
        margin-bottom: $margin02;

        &_meta {
            font-weight: normal;
            font-family: $font-family02;
            letter-spacing: 2px;
            margin-bottom: $margin00;

            @include mq-md {
                margin-bottom: 0;
            }
        }

        &_cat {
            @include fs-tiny;
            font-weight: bold;
            letter-spacing: 0px;
            color: rgba($accent-color01, 1);

            a {
                font-weight: normal;
                color: rgba($accent-color01, 1);

                &:first-child {
                    font-weight: bold;
                    margin-right: 6px;
                }
            }
        }

        &_title {
            margin-bottom: 0.5rem;
            @include fs-large;
        }


        &_date {
            margin-bottom: $margin00;
            @include fs-tiny;
        }
    }

    //記事サムネイル
    &Thumb {
        float: right;
        max-width: 320px;
        margin-left: $margin02;
        margin-bottom: $margin02;
        @include mq-md {
            max-width: inherit;
            float: none;
            margin-left: inherit;
        }
    }

    //記事のSNS - ヘッダーとフッター
    &Sns {
        margin-bottom: $margin02;
        margin-top: $margin02;

        &_item {
            line-height: 0!important;
            margin-right: $margin00!important;
            margin-bottom: .4rem!important;
            padding-left: 0!important;

            &:before {
                content: none!important;
            }
            &:last-child {
                margin-right: 0;
            }

            &.fb {
                iframe {
                    margin-bottom: 0;
                }
            }

            &.pk {
                iframe {
                    width: 88px;
                }
            }

            //フッター
            &.__footer {
                margin-bottom: $margin03;
            }

        }
    }

    //フッター
    &Footer {
        &_meta {
            margin-bottom: $margin03;
        }

        &_cat {
            margin-right: $margin01;

            a {
                @include fs-mid;
                font-weight: bold;
                color: $accent-color01;
                border: 1px solid $accent-color01;
                padding: $padding00 $padding01;

                &:hover {
                    background-color: $accent-color01;
                    color: $text-color02;
                }
            }
        }

        &_date {
            a {
                @include fs-min;
                font-weight: bold;
                color: $text-color01;
                padding: $padding00 $padding01;
                border: 1px solid $sub-color02;
                margin-right: $margin00;

                &:hover {
                    background-color: $base-color01;
                }
            }
        }
    }

    //著者情報
    &Author {
        padding-top: $padding03;
        border-top: 1px solid $sub-color02;
        margin-bottom: $margin04;

        &_img {
            margin-right: $margin01;
        }

        &_title {
            font-weight: bold;
            @include fs-p;
            margin-bottom: $margin00;
        }

        &_desc {
            @include fs-mid;
        }
    }

}


/* =========================================================
 記事内容のスタイル - 全体
============================================================*/
.p-postCont {
    margin-bottom: $garter02;
    counter-reset: h2-num;

    //全体の共通設定

    p,
    table,
    ul,
    ol {
        @include fs-p;
        letter-spacing: 1px;
        margin-bottom: 3rem;
        word-break: break-word;
    }
    img {
        margin-bottom: $margin01;
    }


    h2,
    h3,
    h4 {
        clear: both;
        font-weight: bold;
        letter-spacing: 2px;
        margin-top: $garter02;
        margin-bottom: 3rem;
    }

    h5,
    h6 {
        margin-top: $garter01;
        margin-bottom: 2rem;
        @include fs-p;
    }

    //別ページでの記事スタイル継承
    &.__singleroom {
        margin-bottom: 0;
        p,
        table,
        ul,
        ol,
        li{
            @include fs-p;
            letter-spacing: 1px;
            margin-bottom: $garter00;
            word-break: break-word;

            @include mq-xl {
                @include fs-mid;
            }

        }

        h2,
        h3,
        h4,
        h5 {
            @include fs-p;
            font-weight: bold;
            letter-spacing: 2px;
            margin-top: $garter00;
            margin-bottom: $garter00;
            @include mq-xl {
                @include fs-mid;
            }
        }
        h3 {
            margin-left: 0;
            margin-right: 0;
        }

        h5,
        h6 {
            @include fs-p;
            @include mq-xl {
                @include fs-mid;
            }
        }
    }


    //パーツごとの設定

    a {
        color: $accent-color05;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    img {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;

        &.no-mb {
            margin-bottom: -$garter02;
        }
    }

    p {
        line-height: 1.7;
    }

    li {
        @include fs-p;
        position: relative;
        margin-bottom: 1.5%;
        padding-left: 2.3rem;
        list-style: none;

        @include mq-sm {
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content: "\f00c";
            font-family: $font-awesome;
            position: absolute;
            left: 0;
            top: 0;
            color: $accent-color01;
            font-weight: bold;

            @include mq-sm {
                font-size: 1.4rem;
                top: 3px;
            }
        }
    }

    ol {
        counter-reset: ol-num;

        li {
            &:before {
                top: -1px;
                content: counter(ol-num)"";
                font-family: $font-family02;
                color: $accent-color01;
                counter-increment: ol-num;
                font-size: 1.5rem;
                font-weight: 900;

                @include mq-sm {
                    top: 2px;
                }
            }
        }
    }

    table {
        @include mq-sm {
            font-size: 1.6rem !important;
        }
        p,li,ul,ol {
            @include fs-mid;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }


    //タイトルの設定
    h2 {
        @include fs-big;
        line-height: 1.4;
        border-top: 2px solid $sub-color05;
        padding-top: $padding02;
        &:first-child {
            margin-top: 0!important;
        }
    }

    h3 {
        @include fs-title;
        padding: $padding01 2rem;
        color: $text-color01;
        background-color: $sub-color02;
        border-radius: 2px;
        @include mq-md {
            margin-left: -2rem;
            margin-right: -2rem;
        }
    }

    h4 {
        @include fs-title;
        position: relative;
        padding-left: $padding03;
        margin-top: $garter01;

        &:before {
            content: "";
            position: absolute;
            top: 1.4rem;
            left: 0px;
            height: 1px;
            width: 1.6rem;
            background-color: $sub-color05;
        }
    }

    blockquote {
        clear: both;
        position: relative;
        border-left: 2px solid $sub-color05;
        @include fs-p;
        padding: 0 0 0 $padding02;
        margin-bottom: $margin02;
        p,ul {
            margin-bottom: 1rem!important;

        }
        .__link {
            font-size: 1.1rem;
            text-align: right;
            color: $accent-color05;
            text-decoration: underline;
            margin-bottom: 0;
        }

        &:before {
            content: '“';
            font-family: $font-family01;
            font-size: 6rem;
            font-weight: normal;
            position: absolute;
            line-height: 1;
            height: 32px;
            top: -10px;
            left: -15px;
            margin: auto;
            padding-right: 12px;
            background-color: $base-color01;
        }
    }

    table {
        clear: both;
        width: 100%;
        border-radius: 2px;
        margin-bottom: 3rem;
        font-size: 1.3rem !important;

        &.scroll {
            position: relative;
            overflow-x: auto;
            width: 100%;
            -webkit-overflow-scrolling: touch;
            display: block;
            white-space: nowrap;
            padding-top: 32px;

            &:before {
                content: "⇦ 左右にスクロールしていただけます ⇨";
                position: absolute;
                top: 6px;
                left: 0;
                right: 0;
                margin: auto;
                font-size: 1.3rem;
                font-weight: bold;
                text-align: center;
            }
        }

        &.sp-scroll {
            @include mq-md {
                position: relative;
                overflow-x: auto;
                width: 100%;
                -webkit-overflow-scrolling: touch;
                display: block;
                white-space: nowrap;
                padding-top: 32px;

                &:before {
                    content: "⇦ 左右にスクロールしていただけます ⇨";
                    position: absolute;
                    top: 6px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    font-size: 1.3rem;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }

        &.a-1 {}

        tr {
            border-bottom: 1px solid rgba($sub-color02, 0.2);

            &:last-child {
                border-bottom: none;
            }
        }

        th,
        td {
            padding: 0.8rem 1rem;
            border: 1px solid rgba($sub-color02, 1);
            letter-spacing: 1px;
        }

        thead {
            th {
                color: #fff;
                background-color: $sub-color05;
            }
        }

        th {
            font-weight: bold;
            min-width: 120px;
            text-align: center;
            vertical-align: top;
            background-color: $sub-color01;
            vertical-align: middle;
            border-bottom: 1px solid rgba($sub-color02, 0.2);

            &:last-child {
                border-bottom: none;
            }

            @include mq-md {
                min-width: 80px;
            }
        }

        td {
            text-align: left;
        }
    }
    .rp4wp-related-posts {
        display: none;
    }

    /* コンタクトフォーム7
    --------------------------------------------------------- */
    .wpcf7 {
        padding: $padding04;
        background-color: $base-color01;
        box-shadow: 0 0 17px rgba($sub-color06,0.1);
        @include mq-md {
            padding: $garter00;
        }
        .wpcf7-submit {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            @include fs-p;
            padding: $padding02 $padding01;
            color: $text-color02;
            border-radius: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            text-align: center;
            position: relative;
            z-index: 5;
            background-color: $sub-color03;
            transition: $transition01;
            &,.o-icon:before {
                color: $text-color02;
            }
            &:hover {
                box-shadow: 0 0 17px rgba($accent-color03,0.5);
            }
        }
    }
}

/* =========================================================
記事内容の個別パーツ
============================================================*/
//共通スタイル
.p-postAttention,
.p-postBox,
.p-postChat,
.p-postVoice,
.p-postFaq {
    clear: both;
    position: relative;
    @include fs-p;
    padding: $padding02 $padding02;
    margin-bottom: $garter01;

    p,
    table,
    ul,
    ol,
    li {
        @include fs-p;
        margin-top: 0;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.su-note {
    margin-bottom: $garter01;
}

.p-post {

    //囲みボックス
    &Attention {
        @include fs-p;

        &_title {
            font-weight: 900;
            margin-bottom: $margin00;
        }

        &.__a1 {
            border: 3px solid $sub-color01;
        }

        &.__a2 {
            border: 1px solid $sub-color06;
        }

        &.__a3 {
            background-color: $sub-color06;

            p,
            li {
                color: $text-color02;
            }
        }
    }

    //ボタン
    &Btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-align: center;
        position: relative;
        z-index: 5;
        margin-bottom: $garter00;
        padding: $padding01;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        color: $text-color02 !important;
        text-decoration: none !important;

        &:hover {
            box-shadow: 0 0 10px rgba($accent-color03, 0.5);
        }

        &.__b1 {
            background-color: $sub-color03;
        }

        &.__b2 {
            background-color: $sub-color05;
        }
    }

    //関連記事
    &Related {
        display: flex;
        margin-bottom: $margin02;
        @include mq-md {
            margin-left: 2rem;
            margin-right: 2rem;
        }
        &:hover {
            .p-postRelated_link {
                color: $accent-color01!important;
                transform: translateX(-2px);
            }
        }
        .rp4wp-related-posts {
            width: 100%;
        }
        p {
            margin-bottom: 0!important;
        }
        &_mark {
            font-size: 1.1rem !important;
            font-weight: 900;
            color: $text-color02;
            padding: .4rem $padding00;
            background-color: $sub-color05;
            margin-right: $margin01;
            border-radius: 1px;
            word-break: keep-all!important;
            display: flex;
            align-items: center;
        }

        &_link {
            display: block;
            font-weight: 900;
            text-decoration: none!important;
            transition: $transition01;
            color: $text-color01 !important;
        }
    }

    //レビュー
    &Review {
        display: flex;
        align-items: flex-start;
        margin-bottom: $margin02;
        &_img {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $sub-color01;
            padding: $padding01;
            text-align: center;
            margin-right: $margin01;
            margin-bottom: 0!important;
            @include mq-md {
                margin-left: -$garter00;
            }
        }
        &_image {
            width: 40px;
            min-width: 40px;
            margin-bottom: 0!important;
        }

        &_cont {margin-top: 1rem;}

        &_title {
            font-size: 1.5rem!important;
            font-weight: bold;
            margin-bottom: .3rem !important;
        }

        &_star {
            color: $accent-color01;
            font-weight: 900;
            font-family: $font-family02;
            margin-left: $margin01;
            font-size: 1.3rem !important;
        }

        &_text {
            font-size: 1.5rem!important;
            margin-bottom: 0!important;
        }
    }
}


//部屋紹介機能 - 他CSSとの兼ね合いで o-room に記載
body.single .p-postCont {
    .p-postRoom {
    }
}

.video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin-bottom: 2em;

    iframe {
        position: absolute;
        top: 0;
        right: 0;
        width: 100% !important;
        height: 100% !important;
    }
}


.p-postBtn {
    margin-bottom: 3rem;
    text-decoration: none;
    border-radius: 1px !important;

    span {
        border: none !important;
    }
}


// 囲い系全体のスタイル
.p-post.attention {
    padding: $garter01 $garter02 5% !important;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        display: block;
        z-index: -1;
        top: 3px;
        left: 3px;
        width: 100%;
        height: 100%;
        border: 1px solid $sub-color01;
    }

    &.style01 {
        border: none;
        background-color: $sub-color01;

        li:before {
            color: $sub-color05;
        }
    }

    &.style02 {
        background-color: #fff;
        border: 1px solid $sub-color05;

        &:before {
            border: 1px solid $sub-color05;
        }

        li {
            &:before {
                color: $accent-color01;
            }
        }
    }

    &.style03 {
        background-color: #fff;
        border: 1px solid $accent-color01;

        &:before {
            border: 1px solid $accent-color01;
        }

        li {
            &:before {
                color: $accent-color04;
            }
        }
    }

    .attention-title {
        font-weight: bold;
    }
}

// マーカースタイル
.f-marker- {
    &p {
        background: linear-gradient(transparent 70%, rgba($accent-color03, 0.3) 0%) !important;
    }

    &y {
        background: linear-gradient(transparent 70%, rgba($accent-color02, 1.0) 0%) !important;
    }

    &g {
        background: linear-gradient(transparent 70%, rgba($accent-color04, 0.3) 0%) !important;
    }

    &w {
        background: linear-gradient(transparent 70%, rgba($accent-color01, 0.3) 0%) !important;
    }
}

.p-post.marker {
    &.style01 {
        background: linear-gradient(transparent 00%, rgba($accent-color01, 0.3) 0%) !important;
    }

    &.style02 {
        background: linear-gradient(transparent 00%, rgba($accent-color03, 0.1) 0%) !important;
    }

    &.style03 {
        background: linear-gradient(transparent 00%, rgba($accent-color02, 0.2) 0%) !important;
    }
}

// ボタンスタイル
.p-post.btn {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: $transition01;
        cursor: pointer;
        @include fs-min;
        font-weight: bold;
        letter-spacing: 1px;
        border: 1px solid $accent-color01;
        padding: $garter00;
        text-decoration: none;
        color: $accent-color01;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $garter02;

        &:after {
            content: "";
            position: absolute;
            right: -2px;
            bottom: 3px;
            width: 12px;
            height: 1px;
            background-color: $accent-color01;
            transform: rotate(-45deg);
        }

        &:hover {
            transform: translateY(-2px);

            &:before {
                animation-duration: 2s;
                animation-name: btnBar;
                animation-iteration-count: infinite;
            }
        }
    }

    &.style01 {
        a {
            color: $accent-color01 !important;
            border: 1px solid $accent-color01;

            &:hover {}
        }
    }

    &.style02 {
        a {
            background-color: $accent-color01 !important;
            color: $text-color02;
            border: 1px solid $accent-color01;

            &:hover {
                background-color: darken$accent-color01 !important;
            }
        }
    }
}

// 記事ボックスのスタイル
.p-post {
    &.postlink {
        cursor: pointer;
        position: relative;
        transition: $transition02;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: -16px;
            margin: auto;
            width: 32px;
            height: 1px;
            display: block;
            overflow: hidden;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: -16px;
            margin: auto;
            width: 32px;
            height: 1px;
            background: $sub-color01;
            display: block;
        }

        &:hover {
            &:before {
                animation-duration: 2s;
                animation-name: btnBar;
                animation-iteration-count: infinite;
            }

            .__title {
                color: $accent-color01;
            }

            img {
                transform: translate(-4px, -4px);
            }
        }

        .__link {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: $transition01;
        }

        .__img {
            width: 160px;
            height: 80px;
            margin-right: $garter01;
            flex: none;
            background-color: $accent-color01;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: $transition01;
            }
        }

        .__title {
            position: relative;
            display: flex;
            align-items: center;
            @include fs-p;
            font-weight: bold;
            margin-bottom: 0;
            padding-right: $garter01;
            line-height: 1.6;
            transition: $transition01;

            &:after {
                content: "\f08e";
                font-family: $font-awesome;
                margin-left: 6px;
            }
        }

        .__desc {
            margin: 0;
            @include fs-min;
        }
    }
}



// レビューボックス
.p-postVoice {
    position: relative;
    border: 1px solid $sub-color03;

    &:before {
        content: "";
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
        width: 100%;
        height: 3px;
        margin: auto;
        background-color: $sub-color03;
    }

    .p-postVoice__img {
        max-width: 64px;
        width: 100%;
        margin-right: 1rem;

        img {
            margin: 0 0 0.5rem;
        }
    }

    .title {
        font-weight: bold;
    }

    .star {
        color: $accent-color02;
        font-weight: bold;
        font-family: $font-family02;
    }

    &.style02 {
        border: 1px solid $sub-color04;

        &:before {
            background-color: $sub-color04;
        }
    }
}

//comment
.p-post.comment {


    &.commentItem {
        display: flex;
        justify-content: flex-end;
        align-items: top;

        &.final {
            margin-bottom: $garter02;

            .commentContents {
                width: 100%;

                &:after {
                    content: none;
                }
            }
        }

        p {
            @include fs-mid;
            margin-bottom: $garter00;
            line-height: 1.6;
        }
    }

    .commentUser {
        width: 60px;
        min-width: 60px;
        text-align: center;
    }

    .commentImg {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    .commentCaption {
        @include fs-tiny;
        padding: 4px 0;
        background-color: #fff;
    }

    .commentContents {
        width: 100%;
        min-height: 80px;
        position: relative;
        @include fs-mid;
        margin: 8px 0 0 16px;
        padding-bottom: $garter01;

        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: -48px;
            right: 0;
            width: 3px;
            height: 100%;
            border-left: 3px double rgba($sub-color02, 0.5);
        }

    }

}

//step
.p-post.step {
    &.stepItem {
        display: flex;
        justify-content: flex-end;
        align-items: top;
        counter-increment: stepnum;

        p {
            @include fs-mid;
            margin-bottom: $garter00;
            line-height: 1.6;
        }

        &.final {
            margin-bottom: $garter02;

            .stepNum {
                &:after {
                    content: none;
                }
            }
        }
    }

    .stepNum {
        @include fs-mid;
        text-align: center;
        margin: 0;
        position: relative;
        white-space: nowrap;

        &:after {
            content: "";
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 3px;
            height: 65%;
            border-left: 3px double rgba($sub-color02, 0.5);
        }
    }

    .stepContents {
        font-weight: normal;
        width: 100%;
        position: relative;
        margin: 0 0 0 16px;
        padding-bottom: 4%;
    }

    .stepTitle {
        @include fs-mid;
        font-weight: bold;
        margin: 0;
        margin-bottom: $garter00;
    }
}

//faq
.p-post.faq {
    padding: 0 !important;
    border: 1px solid $sub-color05;

    .faqQuestion {
        position: relative;
        margin: $garter01 40px;
        padding-bottom: 2%;
        margin-bottom: 2%;
        border-bottom: 1px solid $sub-color05;

        &:before {
            content: "Q";
            position: absolute;
            color: #fff;
            font-weight: bold;
            background-color: $sub-color04;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px 10px 8px;
            left: -56px;
            font-size: 13px;
        }
    }

    .faqAnswer {
        padding: 0 40px 24px;

        p {
            @include fs-min;
            line-height: 1.6;
        }
    }

    .faqTitle {
        margin: 0;
        color: $accent-color01;
        margin-bottom: $garter00;
    }
}

.p-post {
    &.voice {
        background-color: $base-color01;
        box-shadow: 0 0 16px $shadow-color01;
        border-radius: 8px;

        .__wrap {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: -1%;
                left: -1%;
                transform: rotate(-10deg);
                font-size: 1.3rem;
                font-weight: bold;
                z-index: 2;
            }
        }

        .__img {
            position: relative;
            width: 60px;
            height: 60px;
            overflow: hidden;
            border-radius: 100px;
            margin-right: $garter01;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .__title {
            font-size: 1.6rem;
            font-weight: bold;
            margin-bottom: 0;
        }

        .__desc {
            font-size: 1.4rem;
        }
    }

    &.male {
        .__wrap:before {
            color: $accent-color01;
        }
    }

    &.female {
        .__wrap:before {
            color: rgba($accent-color03, 0.5);
        }

    }

    &.good {
        .__wrap:before {
            content: "GOOD!!";
        }
    }

    &.normal {
        .__wrap:before {
            content: "NORMAL";
            display: none;
        }
    }

    &.bad {
        .__wrap:before {
            content: "BAD...";
        }
    }
}





















// ボーダーボックス
.p-postBorderbox {
    border: 2px dashed $sub-color05;

    .__title {
        font-weight: bold;
        margin: -1.7rem -2.2rem 0;
        padding: 1rem 2.2rem;
        border-radius: 8px 8px 0 0;
        font-size: 14px;
    }

    .__content {
        margin-top: 1rem;
        padding: 0;
    }

    &.style01 {
        border: 2px dashed $sub-color05 !important;

        .__title {
            background-color: $sub-color05 !important;
        }
    }

    &.style02 {
        border: 2px dashed $sub-color02 !important;

        .__title {
            background-color: rgba($sub-color02, 0.3) !important;
        }
    }

    &.style03 {
        border: 2px dashed $sub-color01 !important;

        .__title {
            background-color: rgba($sub-color01, 0.3) !important;
        }
    }
}

// 特殊ボックス
.p-postBox {
    border: 1px solid $text-color01;
    background-color: #fff;

    &:before {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        right: -4px;
        bottom: -4px;
        margin: auto;
        border-radius: 8px;
        border: 1px solid $text-color01;
        z-index: -1;
        transition: all 0.2s ease-in-out;
    }

    .__icon {
        position: absolute;
        top: -14px;
        left: 2rem;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        font-weight: bold;
        z-index: 10;
        background-color: #fff;

        svg {
            position: relative;
            margin-right: 0.5rem;
            z-index: 11;
            border-radius: 100px;
            border: 1px solid $text-color01;
            width: 24px;
            height: 24px;
            padding: 0.42rem;
            color: #fff;
            background-color: rgba($text-color01, 0.7);
        }
    }

    .__title {
        font-weight: bold;
    }

}

//shortcode
.p-postCont {
    //引用
    .su-note {
        border: none;
        .su-note-inner {
            background-color: transparent!important;
            color: $text-color01!important;
            border: none;
            border-left: 2px solid $sub-color05!important;
            border-right: 2px solid $sub-color05!important;
            span,p {
                color: $text-color01!important;
            }
            a {
                color: $link-color01!important;
                text-decoration: underline!important;
            }
        }
    }
}




// 目次のスタイル
#toc_container {
    position: relative;
    width: 100% !important;
    border: none;
    padding: 0;
    background-color: #fff;
    z-index: 1;

    .toc_title {
        font-size: 14px;
        padding: 0.5rem;
        background-color: $sub-color01;
    }

    li {
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;

        a {
            color: $text-color01;

            &:hover {
                color: $accent-color01;
            }
        }

        &:before {
            content: none;
        }

        &:last-child {
            display: none;
        }
    }

    .toc_list {

        > li {
            margin-bottom: 1.5rem;

            > a {
                font-weight: bold;
                margin-bottom: 0.5rem;
                padding-bottom: 0.5rem;
                display: block;
                border-bottom: 1px solid $sub-color03;
            }

            ul {
                margin-top: 0.75rem;
                margin-bottom: 1.5rem;
            }
        }
    }
}

#toc_container p.toc_title + ul.toc_list {
    margin-top: 1.5rem;
}

/* =========================================================
p-post - form
============================================================*/
.p-post {
    .wpcf7 {
        br {
            display: none;
        }

        padding: $garter02 $garter03;
        border: 3px solid $sub-color01;

        @include mq-md {
            padding: $garter00;
        }

        form input[type="text"],
        form input[type="email"],
        form input[type="url"],
        form input[type="tel"],
        form input[type="number"],
        form input[type="date"],
        form textarea {
            background-color: $sub-color01;
            border-bottom: 2px solid $sub-color02;
            outline: none;
            box-sizing: border-box;
            @include prefixes(transition, all 0.2s);

            &:focus {
                border-bottom: 2px solid $accent-color01;
            }

            &.wpcf7-not-valid {
                border-bottom: 2px solid rgba($accent-color02, 1);
            }
        }



        //チェックボックスのcss
        .wpcf7-list-item {
            .wpcf7-list-item-label {
                border: 1px solid $sub-color02;
                transition: $transition01;

                &:hover {
                    border: 1px solid $accent-color01;
                    color: $accent-color01;
                }
            }

            // Time to add some life to it
        }

        input[type="checkbox"] {
            display: none; // hide the system checkbox

            // Let's add some effects after the checkbox is checked

            &:checked {

                + span {
                    font-weight: bold;
                    color: $accent-color01;
                    background-color: rgba($accent-color01, 0.1);
                    border: 1px solid $accent-color01;

                }

            }
        }
    }

}
