@charset "utf-8";
/*
Theme Name:GENSEN
Theme URI:
Description:WordPressテーマ「GENSEN」
Author:Design Plus
Author URI:http://design-plus1.com/tcd-w/
Version:1.10.1
Text Domain:tcd-w
*/


/* --------------------------------------------------------------------------------
 web fonts　ウェブフォントファイルを変更した場合はv=1.0の数字を変更（キャッシュ対策）
-------------------------------------------------------------------------------- */
@font-face {
  font-family: 'design_plus';
  src: url('fonts/design_plus.eot?v=1.4');
  src: url('fonts/design_plus.eot?v=1.4#iefix') format('embedded-opentype'),
       url('fonts/design_plus.woff?v=1.4') format('woff'),
       url('fonts/design_plus.ttf?v=1.4') format('truetype'),
       url('fonts/design_plus.svg?v=1.4#design_plus') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* ----------------------------------------------------------------------
 reset css
---------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
 { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
audio, canvas, video { display:inline-block; max-width:100%; }
html { overflow-y:scroll; overflow-x:hidden; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
ul, ol { list-style:none; }
blockquote , q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a:focus { outline:none; }
ins { text-decoration:none; }
mark { font-style:italic; font-weight:bold; }
del { text-decoration:line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; width:100%; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
button, input, select, textarea { outline:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; font-size:100%; }
input, textarea { background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); -webkit-appearance:none; border-radius:0; /* Removing the inner shadow, rounded corners on iOS inputs */ }
input[type="checkbox"]{ -webkit-appearance:checkbox; }
input[type="radio"]{ -webkit-appearance:radio; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
img { -ms-interpolation-mode:bicubic; }

/* clearfix */
.clearfix:after { content:"."; display:block; clear:both; height:0; font-size:0.1em; line-height:0; visibility:hidden; overflow:hidden; }
.clearfix { display:inline-block; }
/* exlude MacIE5 \*/
* html .clearfix { height:1% }
.clearfix { display:block; }
/* end MacIE5 */


/* ----------------------------------------------------------------------
 基本設定
---------------------------------------------------------------------- */
body { font-family:Arial,sans-serif; font-size:14px; color:#000; line-height:1; width:100%; min-width:1330px; background:#fff; overflow-x:hidden; }
a { color:#000; text-decoration:none; }
a, a .caption, input {
  -webkit-transition-property:background-color, color, border-color; -webkit-transition-duration:0.2s; -webkit-transition-timing-function:ease;
  -moz-transition-property:background-color, color, border-color; -moz-transition-duration:0.2s; -moz-transition-timing-function:ease;
  -ms-transition-property:background-color, color, border-color; -ms-transition-duration:0.2s; -ms-transition-timing-function:ease;
  -o-transition-property:background-color, color, border-color; -o-transition-duration:0.2s; -o-transition-timing-function:ease;
  transition-property:background-color, color, border-color; transition-duration:0.2s; transition-timing-function:ease;
}
a:hover { color:#b69e84; text-decoration:none; }
.clear { clear:both; }
.hide { display:none; }

/* レイアウト */
.inner { width:100%; max-width:1200px; margin:0 auto; position:relative; }
#main_contents { width:100%; position:relative; }
#main_col {
  max-width:1200px; margin:50px auto 3rem; padding:0;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
}
#left_col { width:860px; float:left; }
#side_col { width:300px; float:right; }
#left_col > :last-child, #side_col > :last-child { margin-bottom:0; }


/* ----------------------------------------------------------------------
 ヘッダー
---------------------------------------------------------------------- */
#header { width:100%; }
#header_top { background:#000; }
#header_top .inner { min-height:68px; }

/* ロゴ */
#header_logo, #header_logo_fix { max-height:68px; float:left; position:relative; z-index:21; }
#header_logo a, #header_logo_fix a { color:#fff; text-decoration:none; }
#header_logo .logo, #header_logo_fix .logo { display:inline-block; margin:0; line-height:68px; font-weight:300; }
#header_logo #logo_text .logo, #header_logo_fix #logo_text_fixed .logo { font-size:36px; }
#header_logo img, #header_logo_fix img { display:inline-block; max-height:60px; vertical-align:middle; }
#header_logo .desc, #header_logo_fix .desc { padding:0 0 0 20px; font-size:14px; vertical-align:middle; }

/* グローバルメニュー */
a.menu_button { display:none; }
#global_menu { position:relative; z-index:20; margin:0 -28px 0 0; }
#global_menu a { color:#fff; text-decoration:none; }
#global_menu > ul { font-size:0; position:relative; text-align:right; margin:0 auto; }
#global_menu > ul > li { font-size:1%; position:relative; display:inline-block; }
#global_menu > ul > li > a {
  font-size:14px; text-decoration:none; height:68px; line-height:68px; display:block; padding:0 28px;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
}
#global_menu ul ul { display:none; }

@media only screen and (min-width:1025px) {
  #global_menu { display:block !important; }
  #global_menu .child_menu_button { display:none; }
  #global_menu > ul > li:hover > a { opacity:0.5;
    -webkit-transition-property:opacity; -webkit-transition-duration:.3s;
    -moz-transition-property:opacity; -moz-transition-duration:.3s;
    -ms-transition-property:opacity; -ms-transition-duration:.3s;
    -o-transition-property:opacity; -o-transition-duration:.3s;
    transition-property:opacity; transition-duration:.3s;
  }
  #global_menu ul ul { display:block; visibility:hidden; margin:0; padding:0; width:auto; width:200px; position:absolute; top:68px; left:30px; z-index:2; opacity:0;
    -webkit-transition-property:opacity,left; -webkit-transition-duration:.3s; -webkit-transition-timing-function:ease;
    -moz-transition-property:opacity,left; -moz-transition-duration:.3s; -moz-transition-timing-function:ease;
    -ms-transition-property:opacity,left; -ms-transition-duration:.3s; -ms-transition-timing-function:ease;
    -o-transition-property:opacity,left; -o-transition-duration:.3s; -o-transition-timing-function:ease;
    transition-property:opacity,left; transition-duration:.3s; transition-timing-function:ease;
  }
  #global_menu ul ul ul { left:230px; top:0; bottom:auto; }
  #global_menu ul ul li { display:block; margin:0; padding:0; text-align:left;  position:relative; }
  #global_menu ul ul a { display:block; margin:0; padding:9px 28px; font-size:14px; line-height:1.6; background:#b69e84; position:relative; text-align:left; }
  #global_menu ul ul a:hover { background:#92785f; text-decoration:none; }
  #global_menu ul ul li.menu-item-has-children > a:before { margin:0; display:block; right:10px; position:absolute; content:"\e910"; font-family:"design_plus"; font-size:86%; }
  #global_menu > ul > li:hover > ul { visibility:visible; left:0; opacity:1; z-index:3; }
  #global_menu > ul > li li:hover > ul { visibility:visible; opacity:1; top:0; left:200px; z-index:3; }
}

/* ヘッダー固定 */
#logo_image_fixed, #logo_text_fixed { display:none; }
@media only screen and (min-width:1025px) {
  .fix_top.header_fix #header_top {
    position:fixed; width:100%; min-width:1330px; top:0px; left:0px; z-index:200; background:rgba(0,0,0,1);
    -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); transform:translate3d(0,0,0);
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
    -webkit-animation:slideDown 0.5s ease; -moz-animation:slideDown 0.5s ease; -ms-animation:slideDown 0.5s ease; animation:slideDown 0.5s ease;
  }

  /* ロゴ */
  .fix_top.header_fix #logo_image_fixed, .fix_top.header_fix #logo_text_fixed { display:block; }
  .fix_top.header_fix #logo_image, .fix_top.header_fix #logo_text { display:none; }

  /* グローバルメニュー */
  .fix_top.header_fix #global_menu a { color:#fff; }
  .fix_top.header_fix #global_menu > ul > li > a { height:70px; line-height:70px; }
  .fix_top.header_fix #global_menu > ul > li:hover > ul { top:70px; }
}

@-webkit-keyframes slideDown {
  0% { -webkit-transform:translate3d(0,-100%,0); -moz-transform:translate3d(0,-100%,0); -ms-transform:translate3d(0,-100%,0); -o-transform:translate3d(0,-100%,0); transform:translate3d(0,-100%,0); }
  100% { -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); transform:translate3d(0,0,0); }
}
@keyframes slideDown {
  0% { -webkit-transform:translate3d(0,-100%,0); -moz-transform:translate3d(0,-100%,0); -ms-transform:translate3d(0,-100%,0); -o-transform:translate3d(0,-100%,0); transform:translate3d(0,-100%,0); }
  100% { -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); transform:translate3d(0,0,0); }
}

.header_fix { padding-top:68px; }

/* アドミンバー */
.admin-bar { padding-top:32px; }
@media only screen and (min-width:1025px) {
  .fix_top.header_fix.admin-bar { padding-top:100px; }
  .fix_top.header_fix.admin-bar #header_top { top:32px; }
}
@media only screen and (max-width:1024px) {
  .mobile_fix_top.header_fix.admin-bar { padding-top:92px; }
  .mobile_fix_top.header_fix.admin-bar #header { top:32px; }
}
@media only screen and (max-width:782px) {
  .admin-bar { padding-top:46px; }
  .mobile_fix_top.header_fix.admin-bar { padding-top:106px; }
  .mobile_fix_top.header_fix.admin-bar #header { top:46px; }
}
@media only screen and (max-width:600px) {
  .mobile_fix_top.header_fix.admin-bar { margin-top:46px; padding-top:60px; }
  .mobile_fix_top.header_fix.admin-bar #header { top:0; }
}

/* ヘッダー検索 */
#header_top a.search_button { display:none; }
#header_search, #index_header_search { display:block; padding:25px 0; background:#222; }
@media only screen and (min-width:1025px) {
  #header_search { display:block !important; }
}
#header_search form, #index_header_search form { display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -ms-flex-pack:flex-end; -webkit-justify-content:flex-end; justify-content:flex-end }
.header_search_inputs { width:25%; margin-right:1.66%; }
.header_search_button { width:20.02%; margin-right:0; }
form.columns-5 .header_search_inputs { width:20%; }
form.columns-5 .header_search_button { width:14.36%; }
.header_search_inputs input, .header_search_inputs select { width:100%; height:50px; padding:18px 16px; font-size:14px; line-height:1; color:#000; background:#fff; border:none; border-radius:3px; }
.header_search_inputs select { padding:15px 16px; }
.header_search_inputs select option { width:100%; color:#000; }
.header_search_inputs select:focus { color:#92785f; }
#header_search_submit { padding:0; color:#fff; background:transparent; border:1px solid #fff; border-radius:25px; cursor:pointer; }
#header_search_submit:hover { background-color:#92785f; }
.header_search_keywords { position:relative; }
.header_search_keywords #header_search_keywords { padding-right:57px; }
.header_search_keywords ul.search_keywords_operator { display:none; }
.header_search_keywords ul.search_keywords_operator { width:42px; height:50px; overflow:hidden; border-radius:0 3px 3px 0; position:absolute; top:0; right:0; }
.header_search_keywords ul.search_keywords_operator li { height:25px; line-height:25px; font-size:12px; text-align:center; color:#000; background:#fff; border-left:1px solid #ccc; cursor:pointer;
 -webkit-user-select:none; -moz-user-select:-moz-none; -ms-user-select:none; user-select:none;
}
.header_search_keywords ul.search_keywords_operator li.active { color:#fff; background:#ccc; }
.header_search_inputs .chosen-container { font-size:14px; }
.header_search_inputs .chosen-with-drop .chosen-single span { color:#92785f; }
.header_search_inputs .chosen-results li[data-option-array-index="0"] { color:#fff; background:#b69e84 !important; border-color:#b69e84; margin:-1px -1px 0 -1px; position:relative; left:-1px; }

/* for ie */
.chosen-container.chosen-container-single.chosen-container-single-nosearch{ clip:rect(0,0,0,0) !important; }
.chosen-container.chosen-container-single.chosen-container-single-nosearch.chosen-with-drop.chosen-container-active{ clip:auto !important; }
.chosen-container .chosen-drop{ clip:inherit !important; }

/* パンくずリンク */
#breadcrumb { width: 100%; height:65px; line-height:65px; overflow:hidden; border-bottom:1px solid #ddd; }
#breadcrumb ul { color:#999; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
#breadcrumb li a { color:#000; }
#breadcrumb li a:hover { color:#b69e84; }
#breadcrumb li { display:inline; margin:0; padding:0; font-size:14px; color:#000; vertical-align:middle; position:relative; }
#breadcrumb li:after {
  font-family:'design_plus'; content:'\e910'; font-size:10px; display:inline; padding:0 0.3em 0 0.6em; position:relative; bottom:1px;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
}
#breadcrumb li:last-child:after { content:''; padding:0; }
#breadcrumb li.home a span { display:none; }
#breadcrumb li.home a:before { content:'\e90c'; font-family:'design_plus'; color:#000;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
}
#breadcrumb li.home a:hover { text-decoration:none; }
#breadcrumb li.home a:hover:before { color:#b69e84; }
#breadcrumb li.last { color:#b69e84; }


/* ----------------------------------------------------------------------
 トップページ
---------------------------------------------------------------------- */
.home-default #main_col { margin-top:80px; padding:0; width:100%; max-width:inherit; }

/* スライダー */
#header_slider { width:100%; position:relative; margin:0 auto; }
#header_slider img { width:100%; height:auto; display:block; }
#header_slider .item { width:100%; position:relative; overflow:hidden; }
#header_slider .item:nth-child(n+2) { display:none; }
#header_slider.slick-initialized .item:nth-child(n+2) { display:block; }
#header_slider .slick-arrow {
  width:60px; height:60px; padding:0; overflow:hidden; text-align:center; font-family:'design_plus'; color:#fff; font-size:26px; line-height:60px; margin-top:-30px; position:absolute; top:50%; z-index:2; cursor:pointer; background:transparent; border:none; opacity:0.8;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
  -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -ms-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
  -webkit-animation:fadeIn 1.5s ease both 4s; animation:fadeIn 1.5s ease both 4s;
}
#header_slider .slick-prev { left:0; text-align:left; padding-left:22px; }
#header_slider .slick-next { right:0; text-align:right; padding-right:22px; }
#header_slider .slick-arrow:hover { color:#92785f; opacity:1; }
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

/* スライダーキャプション */
#header_slider .caption {
  margin:auto; padding:30px 60px; width:100%; max-height:100%; overflow:hidden; text-align:center; position:absolute; top:50%; left:0; right:0; z-index:3;
  -webkit-transform:translate3d(0,-50%,0); -moz-transform:translate3d(0,-50%,0); -ms-transform:translate3d(0,-50%,0); -o-transform:translate3d(0,-50%,0); transform:translate3d(0,-50%,0);
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
}
#header_slider .caption .headline { margin:0; font-size:47px; line-height:1.4; color:#fff; }
#header_slider .caption .catchphrase { margin:5px 0 0 0; line-height:2.2; color:#fff; }
#header_slider .caption .button {
  display:inline-block; margin:16px 0 0 0; padding:0 48px; min-width:240px; height:48px; line-height:48px; font-size:14px; color:#fff; text-decoration:none; border:1px solid #fff; border-radius:25px; position:relative;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
}
#header_slider .caption .button:after {
  font-family:'design_plus'; content:'\e910'; margin-top:-0.5em; font-size:16px; line-height:1; color:#fff; position:absolute; top:50%; right:18px;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
}
#header_slider .caption .button, #header_slider .caption .button:after {
  -webkit-transition-property:background-color, color, border-color; -webkit-transition-duration:0.2s; -webkit-transition-timing-function:ease;
  -moz-transition-property:background-color, color, border-color; -moz-transition-duration:0.2s; -moz-transition-timing-function:ease;
  -ms-transition-property:background-color, color, border-color; -ms-transition-duration:0.2s; -ms-transition-timing-function:ease;
  -o-transition-property:background-color, color, border-color; -o-transition-duration:0.2s; -o-transition-timing-function:ease;
  transition-property:background-color, color, border-color; transition-duration:0.2s; transition-timing-function:ease;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
}
#header_slider .caption > :first-child { margin-top:0; }

/* スライダーキャプションのアニメーション */
#header_slider .caption > :nth-child(-n+3) {
  opacity:0;
}
#header_slider .item.slick-active .caption > :nth-child(1),
#header_slider.slider_video_mobile .caption > :nth-child(1) {
  -webkit-animation:sliderCaptionAnimation 1s ease forwards 1s; animation:sliderCaptionAnimation 1s ease forwards 1s;
}
#header_slider .item.slick-active .caption > :nth-child(2),
#header_slider.slider_video_mobile .caption > :nth-child(2) {
  -webkit-animation:sliderCaptionAnimation 1s ease forwards 2s; animation:sliderCaptionAnimation 1s ease forwards 2s;
}
#header_slider .item.slick-active .caption > :nth-child(3),
#header_slider.slider_video_mobile .caption > :nth-child(3) {
  -webkit-animation:sliderCaptionAnimation 1s ease forwards 3s; animation:sliderCaptionAnimation 1s ease forwards 3s;
}
#header_slider.slider_video .caption > :nth-child(1) {
  -webkit-animation:sliderCaptionAnimation 1s ease forwards 6s; animation:sliderCaptionAnimation 1s ease forwards 6s;
}
#header_slider.slider_video .caption > :nth-child(2) {
  -webkit-animation:sliderCaptionAnimation 1s ease forwards 8s; animation:sliderCaptionAnimation 1s ease forwards 8s;
}
#header_slider.slider_video .caption > :nth-child(3) {
  -webkit-animation:sliderCaptionAnimation 1s ease forwards 10s; animation:sliderCaptionAnimation 1s ease forwards 10s;
}
@-webkit-keyframes sliderCaptionAnimation {
  0% { opacity:0; -webkit-transform:translate3d(0, 30px, 0); transform:translate3d(0, 30px, 0); }
  100% { opacity:1; -webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); }
}
@keyframes sliderCaptionAnimation {
  0% { opacity:0; -webkit-transform:translate3d(0, 30px, 0); transform:translate3d(0, 30px, 0); }
  100% { opacity:1; -webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); }
}

@-webkit-keyframes headerCaptionAnimation {
  0% { opacity:0; -webkit-transform:translate3d(0, 30px, 0); transform:translate3d(0, 30px, 0); }
  100% { opacity:1; -webkit-transform:translate3d(0, -50%, 0); transform:translate3d(0, -50%, 0); }
}
@keyframes headerCaptionAnimation {
  0% { opacity:0; -webkit-transform:translate3d(0, 30px, 0); transform:translate3d(0, 30px, 0); }
  100% { opacity:1; -webkit-transform:translate3d(0, -50%, 0); transform:translate3d(0, -50%, 0); }
}

/* video, youtube */
.slider_video_wrapper { width:100%; position:relative; }
.slider_video_wrapper:before { content:''; display:block; padding-top:56.25%; /* aspect 16:9 */ }
.slider_video_wrapper .slider_video_container { width:100%; height:100%; position:absolute; top:0; left:0; }

/* スライダー上に表示 */
@media only screen and (min-width:1025px) {
  .has_header_content #header { position:absolute; z-index:5; }
  .has_header_content #header_top { background:transparent; border-bottom:1px solid rgba(255,255,255,0.3); }
  .has_header_content.fix_top.header_fix #header_top { border-bottom:none; }
  .has_header_content #index_header_search { margin-top:-100px; background:rgba(0,0,0,0.6); position:relative; z-index:4; }
}

/* お知らせ・ニュースティッカー */
#index_news_mobile { display:none; }
#index_news { margin:0; height:65px; line-height:65px; overflow:hidden; position:relative; border-bottom:1px solid #ddd; position:relative; }
#index_news ol { margin:0; padding:0; position:absolute; }
#index_news ol li { margin:0; padding:0; height:65px; font-size:14px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
#index_news ol li a { display:block; padding:0; text-decoration:none; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
#index_news .entry-date { display:inline-block; margin:0 18px 0 0; font-size:12px; color:#b69e84; text-decoration:none !important; }
#index_news .archive_link { margin:0; text-align:right; position:absolute; top:0; right:0; }
#index_news .archive_link a { display:inline-block; text-decoration:none; }
#index_news .archive_link a:after { content:'\e910'; font-family:'design_plus'; display:inline-block; padding:0 0 0 8px;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
}

/* コンテンツビルダー */
.cb_content { margin:0 0 80px 0; }
.cb_content:last-child { margin-bottom:0 !important; }
.cb_content .cb_headline { margin:-0.1em 0 10px 0; padding:0; font-size:42px; line-height:1.2; text-align:center; }
.cb_content .cb_desc { margin:0; padding:0; font-weight:300; line-height:2.2; text-align:center; }

/* 紹介コンテンツ */
.cb_content-introduce { margin-bottom:80px; }

/* カルーセルスライダー */
.cb_content-carousel { padding:40px 0; background:#000; }
.cb_content-carousel .cb_headline, .cb_content-carousel .cb_desc { color:#fff; }
.cb_content-carousel .carousel { margin:36px 0 0 0; padding:0 20px; }
.cb_content-carousel .item { margin:0 20px; width:30.35%; }
.cb_content-carousel .item:nth-of-type(n+2) { display:none; }
.cb_content-carousel .slick-initialized .item:nth-of-type(n+1) { display:block; }
.cb_content-carousel .slick-list { -webkit-clip-path:inset(0 20px 0 20px); clip-path:inset(0 20px 0 20px); }
.cb_content-carousel .slick-arrow {
  width:40px; height:40px; padding:0; overflow:hidden; text-align:center; font-family:'design_plus'; color:#fff; font-size:20px; line-height:40px; margin-top:-30px; position:absolute; top:43%; z-index:2; cursor:pointer; background:transparent; border:none;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
  -webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -ms-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
}
.cb_content-carousel .slick-prev { left:0; text-align:left; }
.cb_content-carousel .slick-next { right:0; text-align:right; }
.cb_content-carousel .slick-arrow:hover { color:#92785f; }

.cb_content-carousel .image { width:100%; height:0; overflow:hidden; padding-top:64.285%; position:relative; }
.cb_content-carousel .image img { display:block; width:100%; height:auto; min-height:100.2%; position:absolute; top:0; left:0; z-index:1; }
.cb_content-carousel .image .title { display:block; margin:0; padding:12px 18px; width:100%; line-height:1.7; font-size:16px; font-weight:400; color:#fff; background:rgba(0,0,0,0.5); position:absolute; bottom:-0.5px; left:0; z-index:2;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
  -webkit-transform:translate3d(0,0,0); /* for chrome bug */
}
.cb_content-carousel .excerpt { margin:16px 0 0 0; padding:0; line-height:1.7; color:#fff; }

/* カテゴリーリスト */
.cb_content-category_list { margin-bottom:68px; }
.cb_content-category_list ul { display: flex; justify-content: flex-start; flex-wrap: wrap; margin:32px 0; padding:0; }
.cb_content-category_list ul li { flex-basis: 20%; padding:0; transition: .2s all ease-in-out; /*float:left;*/ }
#cb_3.cb_content-category_list ul li {
    flex-basis: 25%;
}
.cb_content-category_list ul li:nth-child(3n) { margin-right:0; }
.cb_content-category_list ul li a { display:block; height:160px; background:#f7f7f7; overflow:hidden; position:relative; }
.cb_content-category_list ul li a:hover { background:#eee; }
.cb_content-category_list ul li .info { padding:2rem; position: absolute;  left: 0;  bottom: 0; text-align: left; display: flex; justify-content: center; align-items: center; z-index: 2;/*width:100%; line-height:1.7; color:#000; position:absolute; top:50%; left:0;
  -webkit-transform:translate3d(0,-50%,0); -mox-transform:translate3d(0,-50%,0); -ms-transform:translate3d(0,-50%,0); -o-transform:translate3d(0,-50%,0); transform:translate3d(0,-50%,0);
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;*/
}
.cb_content-category_list ul li .info h3 { padding:0; font-size:94.285%; font-weight:700; line-height:1.7; color: #fff; text-shadow: 0 0 10px #000;}
.cb_content-category_list ul li.has_image .image { display:block; /*float:left; width:150px; height:150px;*/ height: 160px; overflow:hidden; position:relative; }
.cb_content-category_list ul li.has_image .image:before {
    content: "";
    background: linear-gradient(to bottom, rgba(13,30,47,0.4) 50%, rgba(13,30,47,0.9));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    transition: .2s all ease-in-out;
    border: 1px solid rgba(255,255,255,0.4);
}
.cb_content-category_list ul li.has_image:hover .image:before {
    opacity: 0.7;
    transition: .2s all ease-in-out;
}
.cb_content-category_list ul li.has_image .image img { display:block; width:100%; height:100%; object-fit:cover; }
/*.cb_content-category_list ul li.has_image .info { left:150px; width:50%; width:-webkit-calc(100% - 150px); width:calc(100% - 150px); }*/

/* ブログ記事一覧 */
.cb_content-blog_list #post_list { margin:0px 0 0 0; display: flex; flex-wrap: wrap; }
.cb_content-blog_list .archive_link { margin:16px 0 0 0; text-align:center; }
.cb_content-blog_list .archive_link a { display:inline-block; padding:0 42px; min-width:114px; line-height:50px; text-decoration:none; color:#fff; background:#aaa; position:relative; }
.cb_content-blog_list .archive_link a:after { content:'\e910'; font-family:'design_plus'; line-height:1; margin-top:-0.5em; position:absolute; top:50%; right:14px;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
}
.cb_content-blog_list .archive_link a:hover { background:#92785f; }


/* ----------------------------------------------------------------------
 固定ページ
---------------------------------------------------------------------- */
/* ヘッダー画像 */
#header_image { width:100%; margin:0; position:relative; overflow:hidden; }
#header_image img { display:block; width:100%; height:auto; }
#header_image .caption { margin:0; width:100%; padding:0 20px; line-height:1.5; text-align:center; font-size:32px; color:#fff; position:absolute; top:50%; left:0;
  -webkit-transform:translate3d(0,-50%,0); -mox-transform:translate3d(0,-50%,0); -ms-transform:translate3d(0,-50%,0); -o-transform:translate3d(0,-50%,0); transform:translate3d(0,-50%,0);
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
  -webkit-animation:headerCaptionAnimation 1s ease both 1s; animation:headerCaptionAnimation 1s ease both 1s;
}
#header_image .caption_bar { margin:0; padding:14px 20px; width:100%; line-height:1.2; text-align:center; font-size:42px; color:#fff; background:rgba(73,36,13,0.7); position:absolute; bottom:0; left:0;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
}


/* ----------------------------------------------------------------------
 アーカイブページ
---------------------------------------------------------------------- */
.no_post { margin:50px 0; }

#archive_headline { margin:0; padding:0; font-size:42px; line-height:1.2; color:#b69e84; text-align:center; }
#archive_desc { font-size:16px; margin:12px 0 0 0; padding:0; line-height:2.2; text-align:center; }

/* 一覧 */
#post_list { margin:70px 0 0 0; padding:0; font-size:0; }
#post_list .article { width:23.333%; margin:0 2.222% 48px 0; display:inline-block; vertical-align:top; }
#post_list .article:nth-child(4n) { margin-right:0; }
#post_list .article a { display:block; text-decoration:none; }
#post_list .article .image { width:100%; height:0; overflow:hidden; padding-top:64.285%; position:relative; }
#post_list .article .image img { display:block; width:100%; height:auto; position:absolute; top:0; left:0; }
#post_list .article .title { margin:10px 0 0 0; padding:0; font-size:16px; line-height:1.7; font-weight:400; height:3.4em; overflow:hidden; }
#post_list .article .meta { margin:10px 0 0 0; padding:0; }

/* 共通カテゴリー・日付 */
ul.meta { margin:0 6px 4px 0; padding:0; }
ul.meta li { display:inline-block; margin:0 6px 0 0; padding:0; font-size:12px; }
ul.meta li.cat a, ul.meta li.cat span { display:inline-block; margin:0 6px 4px 0; padding:0 13px; min-width:50px; line-height:26px; text-align:center; text-decoration:none; border-radius:13px; color:#fff; background:#000; }
ul.meta li.cat > :last-child { margin-right:0; }
ul.meta li.date { display:block; margin:10px 0 0 0; color:#999; line-height:1; }

/* ページング */
.page_navi { margin:0 0 50px 0; }
ul.page-numbers { margin:0; font-size:0; text-align:center; }
ul.page-numbers li { display:inline-block; margin:0 2px 0 0; padding:0; font-size:12px; float:left; }
ul.page-numbers a, ul.page-numbers span { display:inline-block; margin:0; min-width:40px; font-size:12px; line-height:40px; text-align:center; color:#fff; vertical-align:top; background:#bbb; }
ul.page-numbers a:hover { background:#000; text-decoration:none; }
ul.page-numbers span.dots {}
ul.page-numbers span.current { background:#000; }
ul.page-numbers .prev, ul.page-numbers .next { font-family:"design_plus"; font-size:12px; }
ul.page-numbers li.disable { display:none; }
.page_navi p.back { margin:0; }
.page_navi p.back a { text-decoration:none; display:inline-block; min-width:200px; height:50px; line-height:50px; text-align:center; padding:0 20px; color:#fff; background:#bbb; }
.page_navi p.back a:hover { background:#000; text-decoration:none; }
.page_navi2 { display:none; margin:10px 0 15px 0; padding:0; min-height:40px; position:relative; }
.page_navi2 p { float:left; /*margin:0 0 5px 0;*/ margin:0; padding:0 10px; line-height:38px; font-size:14px; border:1px solid #ddd; }
.page_navi2 ul.page-numbers { float:right; }
.page_navi2 ul.page-numbers li { margin:0 0 5px 2px; }


/* ----------------------------------------------------------------------
 カテゴリーアーカイブ
---------------------------------------------------------------------- */
.archive_header { padding:19px 0; border-bottom:1px solid #ddd; }
.archive_header .inner { display:-ms-flexbox; display:-webkit-flex; display:flex; -ms-flex-align:center; -webkit-align-items:center; align-items:center; }
.archive_header .headline { margin:0; padding:0 30px 0 0; font-size:42px; line-height:1.2; color:#b69e84; }
.archive_header .desc { font-size: 16px; margin:0; line-height:2; }

.archive_filter { display:block; margin:0 0 50px 0; padding:30px 38px; background:#f7f7f7; border:1px solid #ddd; border-radius:5px; }
.archive_filter_headline { margin:0; padding:0; font-size:24px; line-height:1.2; color:#b69e84; }
.archive_filter_headline:after { color: #888; display:inline-block; font-size: 18px; margin-left:10px; }
.archive_filter.is-open .archive_filter_headline:after { font-family:'design_plus'; content:'\e92c'; vertical-align: 1px; }
.archive_filter.is-close .archive_filter_headline:after { font-family:'design_plus'; content:'\e147'; vertical-align: 2px; }
.archive_filter.is-open .archive_filter_headline, .archive_filter.is-close .archive_filter_headline { cursor:pointer; }
.archive_filter_headline2 { margin:0 0 14px 0; }
.archive_filter_headline2 span { display:inline-block; margin:0; padding:0 18px; min-width:54px; line-height:26px; font-size:12px; text-align:center; color:#fff; background:#000; border-radius:13px; }
.archive_filter_toggle { margin:20px 0 6px; }
.archive_filter label { display:inline-block; float:left; padding:0 18px 18px 0; min-width:16.66%; line-height:1.7; cursor:pointer;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
}
.archive_filter label input { margin:0 4px 0 0; }
.archive_filter .button { margin:10px auto 0; width:200px; position:relative; }
.archive_filter .button:after {
  font-family:'design_plus'; content:'\e910'; margin-top:-0.5em; line-height:1; color:#fff; position:absolute; top:50%; right:18px;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
}
.archive_filter .button input { width:100%; height:50px; color:#fff; background:#000; border:none; border-radius:25px; }
.archive_filter .button input:hover { background:#b69e84; }

.archive_sort { margin:0 0 50px 0; }
.archive_sort dt, .archive_sort dd { float:left; width:25%; text-align:center; }
.archive_sort dt { color:#fff; background:#b69e84; line-height:52px; }
.archive_sort dd a { display:block; line-height:50px; color:#000; text-decoration:none; border:1px solid #ddd; border-left:none; }
.archive_sort dd a.active, .archive_sort dd a:hover { background:#f7f7f7; }

.custom_search_results .page_navi2 { display:block; margin:25px 0 20px 0; }

/* 一覧 */
#post_list2 { margin:25px 0; }
#post_list2 .article { border:1px solid #ddd; border-top:none; }
#post_list2 .article:first-child { border-top:1px solid #ddd; }
#post_list2 .article a { display:block; padding:30px; text-decoration:none; }
#post_list2 .article .image { float:left; width:35.087%; overflow:hidden; position:relative; }
#post_list2 .article .image:before { content:''; display:block; padding-top:64.285%; }
#post_list2 .article .image img { display:block; width:100%; height:auto; position:absolute; top:0; left:0; }
#post_list2 .article .info { float:right; width:61.15%; color:#000; }
#post_list2 .article .meta { margin:0 0 16px 0; padding:0; }
#post_list2 .article .title { margin:0 0 12px 0; padding:0; font-size:16px; line-height:1.7; font-weight:700; }
#post_list2 .article .excerpt { margin:0 0 -0.5em 0; padding:0; line-height:2; }


/* ----------------------------------------------------------------------
 記事
---------------------------------------------------------------------- */
#article { margin:0; position:relative; }
#article > :last-child { margin-bottom:0; }
#article_header { margin:0; padding:0 0 25px; background:#f7f7f7; }

/* カテゴリー */
#post_meta_top { margin:0 0 10px 0; padding:0; width:100%; }

/* 記事タイトル */
#post_title { margin:0 0 28px; padding:0; font-size:30px; line-height:1.2; }
#article_header #post_title { margin:0; }

/* 日付 */
#post_date { margin:9px 0 4px 0; font-size:12px; color:#999; line-height:1; }

/* アイキャッチ画像 */
#post_image { margin:-1px 0 44px 0; padding:0; }
#post_image img { width:100%; height:auto; display:block; margin:0; }

/* 記事本文 */
.post_content { font-size:14px; line-height:2.4; }
.post_content a { color:#b69e84; text-decoration:none; }
.post_content a:hover { text-decoration:underline; }
.post_content > :last-child { margin-bottom:0; }

/* SNSボタン */
#single_share_top { margin:50px 0 40px 0; }
#single_share_bottom { margin:40px 0 30px 0; }

/* ページ分割 */
#post_pagination { margin:50px 0 0 0; clear:both; }
#post_pagination a, #post_pagination p { float:left; display:inline-block; margin:0 2px 0 0; min-width:40px; line-height:40px; text-align:center; text-decoration:none; color:#fff; font-size:12px; background:#999; }
#post_pagination a + a { border-left:none; }
#post_pagination p { background:#b69e84; color:#fff; }
#post_pagination a:hover { background:#b69e84; color:#fff; text-decoration:none; }

/* メタ情報 */
#post_meta_bottom { margin:50px 0; padding:25px; background:#f7f7f7; }
#post_meta_bottom li { display:inline-block; margin:0 10px 0 0; padding:0 15px 0 20px; border-right:1px solid #ddd; font-size:12px; line-height:1.8; position:relative; }
#post_meta_bottom li:last-child { border:none; margin:0; }
#post_meta_bottom li:before {
  font-family:'design_plus'; color:#aaa; font-size:13px; display:block; position:absolute;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
}
#post_meta_bottom li.post_category:before { content:'\e92f'; top:-4px; left:0px; }
#post_meta_bottom li.post_tag:before { content:'\e935'; top:-3px; left:0px; }
#post_meta_bottom li.post_author:before { content:'\e90d'; top:-3px; left:0px; }
#post_meta_bottom li.post_comment:before { content:'\e916'; font-size:16px; top:-6px; left:0px; }

/* 次の記事、前の記事 */
#previous_next_post_image { margin:50px 0; }
#previous_next_post_image .prev_post { float:left; width:50%; }
#previous_next_post_image .next_post { float:right; width:50%; }
#previous_next_post_image a { display:block; height:124px; line-height:1.6; color:#000; border:1px solid #ddd; position:relative; }
#previous_next_post_image a:hover { color:#000; background:#f7f7f7; text-decoration:none; }
#previous_next_post_image .prev_post + .next_post a { border-left:none; }
#previous_next_post_image .title { padding:0 8%; max-height:4.8em; overflow:hidden; position:absolute; top:50%;
  -webkit-transform:translate3d(0,-50%,0); -moz-transform:translate3d(0,-50%,0); -ms-transform:translate3d(0,-50%,0); -o-transform:translate3d(0,-50%,0); transform:translate3d(0,-50%,0);
}
#previous_next_post_image .prev_post .title { padding-left:60px; }
#previous_next_post_image .next_post .title { padding-right:60px; }
#previous_next_post_image a:before {
  font-family:'design_plus'; color:#999; font-size:18px; line-height:1; display:block; margin:-0.5em 0 0 0; width:20px; position:absolute; top:50%;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
}
#previous_next_post_image .prev_post a:before { content:'\e90f'; left:28px; text-align:left; }
#previous_next_post_image .next_post a:before { content:'\e910'; right:28px; text-align:right; }
#previous_next_post_image .image { width:100px; height:100px; overflow:hidden; position:absolute; top:12px; }
#previous_next_post_image .image img { display:block; width:100%; height:auto; min-height:100%; }
#previous_next_post_image .prev_post.has_image .title { padding-left:172px; }
#previous_next_post_image .next_post.has_image .title { padding-right:172px; }
#previous_next_post_image .prev_post.has_image .image { left:12px; }
#previous_next_post_image .next_post.has_image .image { right:12px; }
#previous_next_post_image .prev_post.has_image a:before { left:140px; }
#previous_next_post_image .next_post.has_image a:before { right:140px; }

/* 広告 */
#single_banner_area { margin:50px 0; text-align:center; }
#single_banner_area .single_banner_left { display:inline-block; margin:0 10px 0 0; }
#single_banner_area .single_banner_right { display:inline-block; margin:0 0 0 10px; }
#single_banner_area img { max-width:100%; height:auto; display:block; }
#single_banner_area.one_banner .single_banner_left { float:none; margin:0 auto; }
#single_banner_area.one_banner img { margin:0 auto; }

/* 広告（ページ下部） */
#single_banner_area_bottom { margin:50px 0; text-align:center; }
#single_banner_area_bottom .single_banner_left { display:inline-block; margin:0 10px 0 0; }
#single_banner_area_bottom .single_banner_right { display:inline-block; margin:0 0 0 10px; }
#single_banner_area_bottom img { max-width:100%; height:auto; display:block; }
#single_banner_area_bottom.one_banner .single_banner_left { float:none; margin:0 auto; }
#single_banner_area_bottom.one_banner img { margin:0 auto; }

/* 広告（ショートコードver） */
#single_banner_area2 { margin:0 0 50px 0; text-align:center; }
#single_banner_area2 .single_banner_left { display:inline-block; margin:0 10px 0 0; }
#single_banner_area2 .single_banner_right { display:inline-block; margin:0 0 0 10px; }
#single_banner_area2 img { max-width:100%; height:auto; display:block; }
#single_banner_area2.one_banner .single_banner_left { float:none; margin:0 auto; }
#single_banner_area2.one_banner img { margin:0 auto; }

/* 関連記事 */
#related_post { margin:50px 0 0 0; }
#related_post .headline { margin:0 0 14px 0; font-size:24px; font-weight:300; line-height:1.2; color:#b69e84; }
#related_post ol { margin:0; padding:0; position:relative; font-size:0; border-left:1px solid #ddd; }
#related_post li { display:inline-block; width:33.3333%; vertical-align:top; border-bottom:1px solid #ddd; border-right:1px solid #ddd;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
}
#related_post li:nth-child(-n+3) { border-top:1px solid #ddd; }
#related_post li a { display:block; padding:20px 8% 14px; text-decoration:none; }
#related_post li .image { margin:0 0 10px 0; display:block; width:100%; height:0; overflow:hidden; padding-top:64.2857%; position:relative; }
#related_post li .image img { width:100%; height:auto; position:absolute; top:0; left:0; }
#related_post li .title { font-size:14px; line-height:1.7; font-weight:400; height:3.4em; overflow:hidden; }


/* ----------------------------------------------------------------------
 紹介
---------------------------------------------------------------------- */
/* 紹介ヘッダー */
#introduce_header { margin:72px 0 30px 0; }
#introduce_header .headline { margin:0 0 8px 0; padding:0; font-size:18px; font-weight:700; line-height:1.7; color:#b69e84; }
#introduce_header p { margin:0; line-height:2.2; }
#introduce_header .post_col { margin-bottom:29px; }
#introduce_header .post_col-3:nth-child(3n+1) { clear:both; }

/* 紹介一覧 */
#introduce_list { margin:72px 0 0 0; }
#introduce_header + #introduce_list { margin-top:42px; }
.introduce_list_row { margin:0; }
.introduce_list_col { width:23.333%; margin:0 2.222% 26px 0; float:left; overflow:hidden; position:relative;
  -webkit-transition:width 0.5s ease; -moz-transition:width 0.5s ease; -ms-transition:width 0.5s ease; -o-transition:width 0.5s ease; transition:width 0.5s ease;
}
.introduce_list_row:last-child .introduce_list_col { margin-bottom:0; }
.introduce_list_col:last-child { margin-right:0; }
.introduce_list_col a { display:block; height:280px; overflow:hidden; text-decoration:none; position:relative; }
.introduce_list_col .image { display:block; width:100%; height:0; overflow:hidden; padding-top:100%; position:relative; }
.introduce_list_col .image img { display:block; width:auto; min-width:100%; height:100%; position:absolute; top:0; left:50%;
  -webkit-transform:translate3d(-50%,0,0); -moz-transform:translate3d(-50%,0,0); -ms-transform:translate3d(-50%,0,0); -o-transform:translate3d(-50%,0,0); transform:translate3d(-50%,0,0);
}
.introduce_list_col .info { display:none; height:280px; position:absolute; top:0; right:0; }
.introduce_list_col .info .meta { margin-bottom:11px; }
.introduce_list_col .info .title { margin:0 0 13px 0; padding:0; font-size:16px; font-weight:600; line-height:1.7; color:#b69e84; }
.introduce_list_col .info .excerpt { margin:0; padding:0; line-height:2; color:#000; }
.introduce_list_col .info .more { margin:0; padding:22px 0 0 0; width:100%; line-height:1; text-align:right; border-top:1px solid #ddd; position:absolute; bottom:0; right:0; }
.introduce_list_col .info .more:after { content:'\e910'; font-family:'design_plus'; display:inline-block; padding:0 0 0 8px; font-size:86%;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
}
.introduce_list_col.show_info { width:48.888%; }
.introduce_list_col.show_info .image { width:47.728%; padding-top:47.728%; }
.introduce_list_col.show_info .info { display:block; width:47.728%; }

#infscr-loading { margin:24px 0 0 0; text-align:center; }
#infscr-loading div { display:inline-block; margin-left:1em; }
/* #load_post { display:none; margin:24px 0 0 0; text-align:center; } */
#load_post a { display:inline-block; padding:0 20px; min-width:180px; line-height:50px; text-decoration:none; color:#fff; background:#aaa; }
#load_post a:hover { background:#92785f; }

/* 紹介詳細 */
.introduce_shoulder_copy { display:block; margin:0 0 40px 0; padding:14px 22px; font-size:16px; line-height:1.7; color:#fff; text-decoration:none;background:#000; }
#introduce_slider { margin:0 0 50px 0; position:relative; }
#introduce_slider img { width:100%; height:auto; display:block; }
#introduce_slider .item { width:100%; position:relative; }
#introduce_slider .item:nth-child(n+2) { display:none; }
#introduce_slider.slick-initialized .item:nth-child(n+2) { display:block; }
#introduce_slider .item .caption { margin:0; padding:15px 22px; line-height:1.6; background:#f7f7f7; border:1px solid #ddd; }
#introduce_slider .slick-dots { height:12px; text-align:right; position:absolute; bottom:16px; right:16px; z-index:3; opacity:0; }
#introduce_slider .slick-dots li { display:inline-block; margin:0 0 0 6px; }
#introduce_slider .slick-dots li button { display:inline-block; padding:0; width:12px; height:12px; overflow:hidden; text-indent:-400px; background:#ccc; border:none; border-radius:100%; opacity:0.6; }
#introduce_slider .slick-dots li button:hover { background:#b69e84; opacity:0.7; }
#introduce_slider .slick-dots li.slick-active button { background:#b69e84; opacity:1; }
.single-introduce #article #post_image { margin:0 0 50px 0; }
.introduce_shoulder_copy + #introduce_slider, .single-introduce #article .introduce_shoulder_copy + #post_image { margin-top:-40px; }
.single-introduce #article #post_title { margin:0 0 50px 0; }
.single-introduce #article #post_date { margin:-40px 0 46px 0; }
.introduce_archive_banner_link { margin:50px 0; }
.introduce_archive_banner_link a { display:block; color:#fff; background:#000; text-decoration:none; }
.introduce_archive_banner_link a:hover { color:#b69e84; }
.introduce_archive_banner_link span { display:block;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
}
.introduce_archive_banner_link .catch { margin:0; padding:20px 36px; font-size:27px; line-height:1.4; font-weight:400; }
.introduce_archive_banner_link .image {}
.introduce_archive_banner_link .image img { display:block; width:100%; height:auto; }
.introduce_archive_banner_link-2col a { height:160px; overflow:hidden; display:-ms-flexbox; display:-webkit-flex; display:flex; -ms-flex-align:center; -webkit-align-items:center; align-items:center; position:relative; }
.introduce_archive_banner_link-2col a span { width:50%; }
.introduce_archive_banner_link-2col .catch { padding:0 36px; }
.introduce_archive_banner_link-2col .image { height:100%; overflow:hidden; position:relative; }
.introduce_archive_banner_link-2col .image img { width:initial; width: auto; min-width:100%; height:100%; position:absolute; top:0; bottom:0; left:50%;
  -webkit-transform:translate3d(-50%,0,0); -moz-transform:translate3d(-50%,0,0); -ms-transform:translate3d(-50%,0,0); -o-transform:translate3d(-50%,0,0); transform:translate3d(-50%,0,0);
}
.introduce_archive_banner_link-text { text-align:center; }

/* ----------------------------------------------------------------------
 お知らせ
---------------------------------------------------------------------- */
/* お知らせ一覧 */
#recent_news { margin:0 0 30px 0; }
#recent_news .headline { margin:0 0 14px 0; font-size:24px; font-weight:500; line-height:1.2; color:#b69e84; }
#recent_news ol { margin:0; padding:0; border:1px solid #ddd; border-bottom:none; }
#recent_news li { border-bottom:1px solid #ddd; }
#recent_news li a { display:block; padding:18px 24px 17px 24px; line-height:1.7; color:#000; text-decoration:none; position:relative; }
#recent_news li a:hover { color:#b69e84; text-decoration:none; }
#recent_news li .title { font-weight:300; }
#recent_news .show_date li a { padding-right:108px; }
#recent_news .show_date li .date { display:block; margin:-0.5em 0 0 0; color:#999; font-size:12px; line-height:1; position:absolute; top:50%; right:18px; }
.post-type-archive-news ul.page-numbers { text-align:left; }

/* お知らせ詳細 */
.article_inner { padding:44px 36px; border:1px solid #ddd; }
.single-news #article #post_date { margin:-20px 0 28px 0; }
.single-news #article #single_share_top { margin-top:0; }
.single-news #recent_news { margin-top:50px; }
.single-news #recent_news .archive_link { margin:28px 0 0 0; text-align:right; }
.single-news #recent_news .archive_link a { text-decoration:none; }
.single-news #recent_news .archive_link a:after { content:'\e910'; font-family:'design_plus'; display:inline-block; padding:0 0 0 8px;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
}

/* 次の記事、前の記事 */
#previous_next_post { margin:50px 0; }
#previous_next_post .prev_post { float:left; width:50%; }
#previous_next_post .next_post { float:right; width:50%; }
#previous_next_post a { display:block; height:92px; line-height:1.6; color:#000; border:1px solid #ddd; position:relative; }
#previous_next_post a:hover { color:#000; background:#f7f7f7; text-decoration:none; }
#previous_next_post .prev_post + .next_post a { border-left:none; }
#previous_next_post .title { padding:0 8%; max-height:4.8em; overflow:hidden; position:absolute; top:50%;
  -webkit-transform:translate3d(0,-50%,0); -moz-transform:translate3d(0,-50%,0); -ms-transform:translate3d(0,-50%,0); -o-transform:translate3d(0,-50%,0); transform:translate3d(0,-50%,0);
}
#previous_next_post .prev_post .title { padding-left:14%; }
#previous_next_post .next_post .title { padding-right:14%; }
#previous_next_post a:before {
  font-family:'design_plus'; color:#999; font-size:18px; line-height:1; display:block; margin:-0.5em 0 0 0; width:20px; position:absolute; top:50%;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
}
#previous_next_post .prev_post a:before { content:'\e90f'; left:6.5%; text-align:left; }
#previous_next_post .next_post a:before { content:'\e910'; right:6.5%; text-align:right; }


/* ----------------------------------------------------------------------
 サイドコンテンツ
---------------------------------------------------------------------- */
/* 基本設定 */
.side_widget { margin:0 0 48px 0; font-size:14px; line-height:1.7; position:relative; }
.side_widget:last-child, .side_widget:only-child { margin:0; }
.side_headline { margin:0 0 14px 0; font-size:24px; font-weight:300; line-height:1.4; color:#b69e84; }
.side_widget + .side_widget .side_headline { margin-top:-6px; }
.side_widget ul { margin:0; }
.side_widget li { margin:0 0 10px 0; padding:0; line-height:1.7; }
.side_widget li:last-child { margin-bottom:0; }
.side_widget li ul { margin:10px 0 0 10px; }
.side_widget a { }
.side_widget a:hover { }
.side_widget img { display:block; height:auto; max-width:100%; }

/* 広告 */
.ml_ad_widget { border:none; padding:0; background:none; }
.ml_ad_widget img { height:auto; max-width:100%; margin:0 auto; display:block; }

/* カレンダー */
.widget_calendar { border:1px solid #ddd; padding:15px; }
.widget_calendar .side_headline { font-size:20px; position:relative; text-align:center; }
#wp-calendar { margin:0 auto; width:100%; font-size:11px; border-collapse:separate; table-layout:fixed; }
#wp-calendar th, #wp-calendar td { color:#333; padding:2px; line-height:3.4; text-align:center; }
#wp-calendar td a { display:block; margin:0; padding:0; text-decoration:none; color:#333; background-color:#eee; }
#wp-calendar td a:hover { text-decoration:none; color:#fff; background:#ccc; }
#wp-calendar caption { padding:7px 0; }
#wp-calendar thead th, #wp-calendar tfoot td { border:none; padding:0; line-height:2; }
#wp-calendar #prev, #wp-calendar #next { line-height:3; }
#wp-calendar #prev a, #wp-calendar #next a { text-decoration:none; background:none; color:#333; }
#wp-calendar #prev a:hover, #wp-calendar #next a:hover { color:#fff; background:#ccc; }
#wp-calendar td#today { font-weight:bold; }

/* デザインされた記事一覧１ */
.styled_post_list1 { margin:0; padding:0; display:none; background:#fff; border:1px solid #ddd; border-bottom:none; }
.styled_post_list1 li { margin:0; padding:10px; border-bottom:1px solid #ddd; }
.styled_post_list1 li a { display:block; text-decoration:none; position:relative; }
.styled_post_list1 .image { float:left; width:100px; height:100px; overflow:hidden; }
.styled_post_list1 .image img { display:block; width:100%; min-width:100%; }
.styled_post_list1 .info { margin:0 0 0 120px; padding:5px 0 0 0; height:95px; overflow:hidden; position:relative; }
.styled_post_list1 .title { font-size:1em; margin:0; padding:0; display:block; font-weight:400; text-decoration:none; max-height:5.1em; overflow:hidden; }
.styled_post_list1 .date { font-size:0.86em; color:#999; display:block; position:absolute; left:0; bottom:0; }
.styled_post_list1_tabs { margin:0 0 -1px 0; padding:0; display:-ms-flexbox; display:-webkit-flex; display:flex; border-left:1px solid #ddd; position:relative; }
.styled_post_list1_tabs li { margin:0; padding:0; width:50%; line-height:1.4; background:#f7f7f7; border-top:1px solid #ddd; border-right:1px solid #ddd; }
.styled_post_list1_tabs li label { display:block; margin:0; padding:18px 9px; text-align:center; cursor:pointer; border-bottom:1px solid #ddd; }
.styled_post_list1_widget .tab-radio { display:none; }
.styled_post_list1_widget .tab-radio-recent_post:checked ~ .styled_post_list1_tabs .tab-label-recent_post,
.styled_post_list1_widget .tab-radio-recommend_post:checked ~ .styled_post_list1_tabs .tab-label-recommend_post,
.styled_post_list1_widget .tab-radio-recommend_post2:checked ~ .styled_post_list1_tabs .tab-label-recommend_post2 { background:#fff; }
.styled_post_list1_widget .tab-radio-recent_post:checked ~ .styled_post_list1_tabs .tab-label-recent_post label,
.styled_post_list1_widget .tab-radio-recommend_post:checked ~ .styled_post_list1_tabs .tab-label-recommend_post label,
.styled_post_list1_widget .tab-radio-recommend_post2:checked ~ .styled_post_list1_tabs .tab-label-recommend_post2 label { border-bottom-color:#fff; }
.styled_post_list1_widget .tab-radio-recent_post:checked ~ .tab-content-recent_post,
.styled_post_list1_widget .tab-radio-recommend_post:checked ~ .tab-content-recommend_post,
.styled_post_list1_widget .tab-radio-recommend_post2:checked ~ .tab-content-recommend_post2 { display:block; }

/* 検索 */
.widget_search label { display:none; }
.widget_search #search-box, .widget_search #s, .widget.google_search #s { width:85%; height:40px; margin:0; border:1px solid #ddd; background:#fff; padding:0 10px; }
.widget_search #search-btn input, .widget_search #searchsubmit { width:15%; height:40px; background:#f7f7f7 url(img/common/icon_search.png) no-repeat center; border:1px solid #ddd; border-left:none; cursor:pointer; display:block; float:right; text-indent:-300%; overflow:hidden; }
.widget.google_search #searchsubmit { font-family:'design_plus'; color:#aaa; font-size:14px; border:none; width:15%; height:40px; background:#f7f7f7; border:1px solid #ddd; border-left:none; cursor:pointer; display:block; float:right; overflow:hidden; }
.widget_search #search-btn input:hover, .widget_search #searchsubmit:hover, .widget.google_search #searchsubmit:hover { background-color:#000; border-color:#000; }

/* アーカイブ、カテゴリードロップダウンメニュー */
.widget_archive select, .widget_categories select, .tcdw_archive_list_widget select { margin:0; padding:12px 10px; width:100%; background:#fff; border:1px solid #ddd; border:1px solid #ddd; }
.widget_archive select { padding:12px; }
.widget_archive label, .widget_categories label { display:none; }
.widget_archive select option, .widget_categories select option, .tcdw_archive_list_widget option { background:#fff; color:#333; }

/* バナーリスト */
ul.banner_list, .widget ul.banner_list { margin:0; padding:0; }
ul.banner_list li, .widget ul.banner_list li { margin:0 0 14px 0; padding:0; width:100%; position:relative; }
ul.banner_list li:last-child, .footer_widget ul.banner_list li:last-child { margin-bottom:0; }
ul.banner_list li img { display:block; width:100%; height:auto; }
ul.banner_list li .caption { width:100%; padding:0 16px; font-size:22px; font-weight:600; line-height:1.4; text-align:center; color:#fff !important; position:absolute; top:50%; left:0; z-index:2;
  -webkit-transform:translate3d(0,-50%,0); -moz-transform:translate3d(0,-50%,0); -ms-transform:translate3d(0,-50%,0); -o-transform:translate3d(0,-50%,0); transform:translate3d(0,-50%,0);
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
}
ul.banner_list li a:hover .caption { color:#b69e84; }

/* ランキング */
.tcdw_ranking_list_widget ol { margin:0; padding:0; }
.tcdw_ranking_list_widget li { margin:0; padding:18px 0; border-bottom:1px solid #ddd; }
.tcdw_ranking_list_widget li:first-child { padding-top:0; }
.tcdw_ranking_list_widget li:last-child { padding-bottom:0; border-bottom:none; }
.tcdw_ranking_list_widget li a { display:block; text-decoration:none; position:relative; }
.tcdw_ranking_list_widget .image { float:left; width:100px; height:100px; overflow:hidden; }
.tcdw_ranking_list_widget .image img { display:block; width:100%; min-width:100%; }
.tcdw_ranking_list_widget .info { margin:0 0 0 118px; height:100px; overflow:hidden; }
.tcdw_ranking_list_widget .title { font-size:1em; margin:0; padding:0; display:block; font-weight:400; text-decoration:none; max-height:5.1em; overflow:hidden; }
.tcdw_ranking_list_widget .rank { margin:0 0 7px; width:80px; height:26px; line-height:26px; font-size:0.86em; color:#fff; text-align:center; background:#aaa; border-radius:13px; overflow:hidden; }

/* アイコンメニュー */
.tcdw_icon_menu_list_widget ol { margin:1px 0 0 0; padding:0; border-left:1px solid #ddd; font-size:0; }
.tcdw_icon_menu_list_widget li { display:inline-block; margin:-1px 0 0 0; padding:0; width:100%; height:48px; line-height:48px; font-size:14px; overflow:hidden; border:1px solid #ddd; border-left:none; position:relative;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
}
.tcdw_icon_menu_list_widget li a { display:block; padding:0 12px 0 18px; text-decoration:none; }
.tcdw_icon_menu_list_widget li a:hover { color:#000; background:#f7f7f7; }
.tcdw_icon_menu_list_widget li.width-half { width:50%; }
.tcdw_icon_menu_list_widget li.has-menu-icon a { padding-left:42px; }
.tcdw_icon_menu_list_widget li.has-menu-icon:before { font-family:'design_plus'; display:inline-block; width:42px; text-align:center; position:absolute; top:0; left:0; }
.tcdw_icon_menu_list_widget li.menu-icon-spa:before { content:'\e929'; }
.tcdw_icon_menu_list_widget li.menu-icon-crown:before { content:'\e926'; }
.tcdw_icon_menu_list_widget li.menu-icon-users:before { content:'\e91e'; }
.tcdw_icon_menu_list_widget li.menu-icon-add_circle:before { content:'\e147'; }
.tcdw_icon_menu_list_widget li.menu-icon-marker2:before { content:'\e8b4'; }
.tcdw_icon_menu_list_widget li.menu-icon-loyalty:before { content:'\e89a'; }
.tcdw_icon_menu_list_widget li.menu-icon-notifications:before { content:'\e7f4'; }
.tcdw_icon_menu_list_widget li.menu-icon-restaurant:before { content:'\e56c'; }
.tcdw_icon_menu_list_widget li.menu-icon-smile:before { content:'\e813'; }
.tcdw_icon_menu_list_widget li.menu-icon-work:before { content:'\e8f9'; }
.tcdw_icon_menu_list_widget li.menu-icon-flag2:before { content:'\e902'; }
.tcdw_icon_menu_list_widget li.menu-icon-clock:before { content:'\e94e'; }
.tcdw_icon_menu_list_widget li.menu-icon-chat:before { content:'\e0b7'; }
.tcdw_icon_menu_list_widget li.menu-icon-mode_edit:before { content:'\e254'; }
.tcdw_icon_menu_list_widget li.menu-icon-favorite:before { content:'\e87d'; }
.tcdw_icon_menu_list_widget li.menu-icon-star:before { content:'\f005'; }
.tcdw_icon_menu_list_widget li.menu-icon-star-o:before { content:'\f006'; }
.tcdw_icon_menu_list_widget li.menu-icon-tag:before { content:'\f02b'; }
.tcdw_icon_menu_list_widget li.menu-icon-lightbulb:before { content:'\f0eb'; }
.tcdw_icon_menu_list_widget li.menu-icon-live_help:before { content:'\e0c6'; }
.tcdw_icon_menu_list_widget li.menu-icon-spinner:before { content:'\f110'; }
.tcdw_icon_menu_list_widget li.menu-icon-cube:before { content:'\f1b2'; }
.tcdw_icon_menu_list_widget li.menu-icon-check:before { content:'\f00c'; }
.tcdw_icon_menu_list_widget li.menu-icon-search-plus:before { content:'\f00e'; }


/* ----------------------------------------------------------------------
 フッター
---------------------------------------------------------------------- */
#footer {
    margin-top: 10rem;
}

#footer_contents { background:#222; color:#fff; text-align:center; }
#footer_contents a { color:#fff; }
#footer_contents a:hover { color:#92785f; text-decoration:none; }

#footer_info { padding:43px 30% 44px; position:relative; }

/* logo */
#footer_logo { margin:0; }
#footer_logo .logo { display:inline-block; margin:0; font-size:36px; line-height:1.2; }

/* footer bottom menu */
#footer_bottom_menu { display:inline-block; margin:12px 0 0 0; }
#footer_bottom_menu ul { display:inline; font-size:0; }
#footer_bottom_menu li { display:inline-block; font-size:12px; line-height:2; }
#footer_bottom_menu li:after { content:"|"; display:inline-block; padding:0 0.5em; }
#footer_bottom_menu li:last-child:after { content:""; }

/* SNSボタン */
#footer_social_link { width:30%; text-align:left; position:absolute; left:0; top:50%;
  -webkit-transform:translate3d(0,-50%,0); -moz-transform:translate3d(0,-50%,0); -ms-transform:translate3d(0,-50%,0); -o-transform:translate3d(0,-50%,0); transform:translate3d(0,-50%,0);
}
#footer_social_link li { display:inline-block; margin:0 8px 0 0; position:relative; z-index:1; }
#footer_social_link li a {
  display:block; text-indent:-200px; overflow:hidden; width:14px; height:14px; position:relative; z-index:2;
  -webkit-transition-property:none; -moz-transition-property:none; -o-transition-property:none; transition-property:none;
}
#footer_social_link li:before {
  font-family:'design_plus'; color:#fff; font-size:14px; display:block; position:absolute; top:0; left:0; z-index:1;
  width:14px; height:14px; line-height:14px;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
}
#footer_social_link li:hover:before { color:#fff; }
#footer_social_link li.twitter:before { content:'\e904'; }
#footer_social_link li.facebook:before { content:'\e902'; }
#footer_social_link li.insta:before { content:'\ea92'; margin-top:1px; }
#footer_social_link li.rss:before { content:'\e90b'; }

/* コピーライト */
#copyright { width:30%; font-size:12px; line-height:1.6; text-align:right; position:absolute; right:0; top:50%;
  -webkit-transform:translate3d(0,-50%,0); -moz-transform:translate3d(0,-50%,0); -ms-transform:translate3d(0,-50%,0); -o-transform:translate3d(0,-50%,0); transform:translate3d(0,-50%,0);
}

/* ページ上部へ戻るボタン */
#return_top { display:none; position:fixed; bottom:20px; right:20px; z-index:990; }
#return_top a { display:block; width:55px; height:55px; text-decoration:none; background:#b69e84; border-radius:50%; opacity:0.8; }
#return_top a:before {
  font-family:'design_plus'; color:#fff; font-size:16px; line-height:1; display:block; position:absolute; top:50%; left:50%; margin:-0.5em 0 0 -0.5em;
  -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
}
#return_top a:before { content:'\e911'; }
#return_top a:hover { opacity:1; }
#return_top a span { display:none; }

/* フッターウィジェット */
#footer_widget { padding:50px 0 12px; text-align:center; border-bottom:1px solid #444;
  display:-ms-flexbox; display:-webkit-flex; display:flex; -ms-flex-pack:justify; -webkit-justify-content:space-between; justify-content:space-between;
  -webkit-flex-wrap:wrap; -ms-flex-wrap:wrap; flex-wrap:wrap;
}
.footer_widget { display:inline-block; font-size:12px; line-height:2.2; text-align:left; width:300px; overflow:hidden; margin:0 0 30px 0; padding:0; vertical-align:top; position:relative; }
.footer_widget.widget_nav_menu { width:200px; }
.footer_headline { margin:0 0 14px 0; font-size:24px; color:#b69e84; line-height:1.4; }
.footer_widget ul { margin:0; }
.footer_widget li { margin:0 0 10px 0; padding:0; line-height:2.4; }
.footer_widget li:last-child { margin-bottom:0; }
.footer_widget li ul { margin:10px 0 0 10px; }
.footer_widget a { color:#fff; text-decoration:none; }
.footer_widget a:hover { color:#b69e84; }
.footer_widget img { height:auto; max-width:100%; }

#footer_widget.footer_widget_type2 { -webkit-flex-wrap:none; -ms-flex-wrap:none; flex-wrap:none; }
#footer_widget.footer_widget_type2 .ml_ad_widget { width:25%; /*margin-right:2%;*/margin-right:8%; }
#footer_widget.footer_widget_type2 .widget_nav_menu { /*width:20%;*/ width:17%; }
#footer_widget.footer_widget_type2 .tcdw_banner_list_widget { width:30.666%; }

.footer_widget .collapse_category_list { border-top:1px solid #ddd; }
.footer_widget .styled_post_list1 li { margin:0; padding:10px; }
.footer_widget .styled_post_list1_tabs li { margin:0; padding:0; }
.footer_widget ul.banner_list li { margin:0 0 28px 0; }
.footer_widget.widget_nav_menu li { margin-bottom:0; }

/* エリア・カテゴリーメニュー */
#footer_nav { padding:50px 0 40px 0; background:#f7f7f7; }
#footer_nav .footer_nav_cols .footer_nav_1 { width:49%; float:left; }
#footer_nav .footer_nav_cols .footer_nav_2 { width:49%; float:right; }
#footer_nav .headline { display:inline-block; margin:0 0 15px 0; padding:0 18px; min-width:54px; font-size:12px; line-height:26px; text-align:center; color:#fff; background:#000; border-radius:13px; }
#footer_nav a { text-decoration:none; }
#footer_nav a:hover { color:#92785f; text-decoration:none; }
#footer_nav ul { margin:0; padding:0; }
#footer_nav li { margin:0; padding:0; font-size:12px; line-height:2.4; }
#footer_nav li ul { display:inline; }
#footer_nav li li { display:inline-block; }
#footer_nav li li:before { content:'|'; padding:0 0.5em; }
#footer_nav .footer_nav_type1 li { display:inline-block; float:left; padding-right:1.5em; min-width:12.5%;
  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
}
#footer_nav .footer_nav_cols .footer_nav_type1 li { min-width:25%; }
#footer_nav .footer_nav_type2 > ul > li > a { font-weight:700; }


/* ----------------------------------------------------------------------
 コメント
---------------------------------------------------------------------- */
/* 基本設定 */
#comments { font-size:12px; margin:0; }
#comment_headline { margin:0 0 14px 0; font-size:24px; font-weight:300; line-height:1.2; color:#b69e84; }
#comment_area, #trackback_area { margin:15px 0 20px; padding:0 0 5px 0; }
#trackback_area { display:none; }

/* コメント・トラックバックのタブ */
#comment_header { position:relative; margin:50px 0 25px; }
#comment_header ul { margin:0; }
#comment_header ul li { float:left; text-align:center; margin:0; width:50%; }
#comment_header ul li a, #comment_header ul li p {
  font-size:11px; padding:10px 15px; line-height:1.8; display:block; color:#666; text-decoration:none; border:1px solid #ccc; }
#comment_header ul li a:hover { color:#fff !important; background:#b69e84; }
#comment_header ul li.comment_switch_active a, #comment_header #comment_closed p { color:#fff; position:relative; background:#b69e84; border-color:#b69e84; }
#comment_header ul li.comment_switch_active a:after, #comment_header #comment_closed p:after { position:absolute; bottom:-17px; left:50%; margin-left:-5px; content:""; width:0; height:0; border-width:10px; border-style:solid; border-color:#b69e84 transparent transparent transparent; }

/* コメントの基本部分 */
.commentlist { list-style-type:none; margin:0; padding:0; }
.comment { border:1px solid #ccc; color:#777; margin:0 0 15px; padding:15px 20px 0; background:#fff; }
#comments .comment_content { margin:20px 0 0; padding:0; background:none; }
.admin-comment { }

/* コメントの情報部分 */
.comment-meta { position:relative; margin:0 0 10px 0; }
.comment-meta-left { float:left; width:100%; }
#comments .avatar { float:left; margin:0 10px 0 0; background:#fff; width:40px; height:40px; }
.comment-name-date { padding:3px 0 0 0; height:37px; }
a.admin-url { text-decoration:underline; }
a.guest-url { text-decoration:underline; }
.comment-name-date { margin:0; }
.comment-date { font-size:11px; color:#757676; margin:10px 0 0 0; }
.comment-act { background:url(img/common/arrow3.gif) no-repeat left; font-size:11px; position:absolute; right:0px; padding:0 0 0 10px; margin:5px 0 0 0; }
.comment-act li { display:inline; margin:0; }
.comment-reply a, .comment-reply a:visited { border-right:1px solid #aaa; padding:0 10px 0 0; margin:0 6px 0 0; }
.comment-edit a, .comment-edit a:visited { border-left:1px solid #aaa; padding:0 0 0 10px; margin:0 0 0 6px; }

/* コメント本文 */
#comments .comment_content p { margin:0 0 15px 0; }
#comments .comment_content blockquote span { margin:0 0 -1em 0; display:block; }

/* メッセージ、警告文 */
.comment-note { display:block; font-size:11px; margin:0 0 1em 0; color:#33a8e5; border:1px solid #94ddd4; padding:10px 15px; background:#d6f4f0; }
.comment_closed { border:1px solid #ccc; text-align:center; margin:0 35px 15px 0; padding:15px; background:#fefefe; }
.no_comment { padding-bottom:15px; }

/* トラックバック */
.trackback_time { font-size:11px; color:#757676; margin:0 0 7px 0px; }
.trackback_title { margin:2px 0 8px 0; margin:0 0 10px 0px; line-height:1.6; }
#trackback_url_area { margin:0; }
#trackback_url_area label { display:block; margin:0 0 10px 0; font-size:11px; }
#trackback_url_area input { border:1px solid #ccc; background:#fafafa; padding:10px; width:100%; font-size:11px; }

/* ページナビ */
#comment_pager { margin:0 0 10px; height:24px; }
#comment_pager a, #comment_pager span { display:inline; float:left; margin:0 10px 0 0; }
#comment_pager .current { text-decoration:underline; }

/* コメントフォーム */
.comment_form_wrapper { border:1px solid #ccc; margin:0 0 0px; padding:15px; background:#fff; }
.comment .comment_form_wrapper { margin:0 0 20px; }
#cancel_comment_reply { background:url(img/common/arrow3.gif) no-repeat left center; margin:0 0 1em 0; padding:0 0 0 10px; }
#comment_user_login p { padding:0 0 0 1px; margin:0; line-height:1; }
#comment_user_login span { margin:0 0 0 40px; }
#comment_login { margin:0; padding:3px 30px 10px 30px; }
#comment_login p { margin:0; padding:12px 0 11px 36px; line-height:1; }
#comment_login a { margin:0 0 0 20px; padding:0 0 0 20px; background:url(img/common/arrow3.gif) no-repeat 10px 3px; }
#guest_info { padding:0; width:100%; }
#guest_info div { margin:0 0 12px 0; text-align:left; }
#guest_info input { margin:0; padding:5px 0; border:1px solid #ccc; width:100%; background:#fff; color:#777; }
#guest_info input:focus { border:1px solid #b69e84; }
#guest_info label { display:block; margin:0 0 5px 0; padding:0 0 0 0; font-size:11px; color:#888; }
#guest_info span { color:#666; margin:0 10px 0 0; }
#comment_textarea textarea { margin:15px 0 0; width:100%; height:150px; border:1px solid #ccc; background:#fff; color:#777; font-size:11px; overflow:auto; }
#comment_textarea textarea:focus { border:1px solid #b69e84; }
#submit_comment_wrapper { text-align:center; }
#submit_comment {
  background:#999; border:none; cursor:pointer; color:#fff; font-size:14px; width:200px; height:50px; margin:15px auto 0; display:block;
  -webkit-transition:background-color 200ms ease-in-out;
  -moz-transition:background-color 200ms ease-in-out;
  -o-transition:background-color 200ms ease-in-out;
  -ms-transition:background-color 200ms ease-in-out;
  transition:background-color 200ms ease-in-out;
}
#submit_comment:hover { background:#b69e84; }
#input_hidden_field { display:none; }

/* ----- パスワード保護 ----- */
.password_protected { text-align:center; margin:30px 38px; padding:10px 20px; color:#fff; background:#b69e84; border-radius:5px; }
.password_protected p { font-size:12px; margin:0; line-height:1.6; }


/* ----------------------------------------------------------------------
 WordPress プリセットスタイル
---------------------------------------------------------------------- */
/* alignment */
.post_content .alignright { float:right; }
.post_content .alignleft { float:left; }
.post_content .aligncenter { display:block; margin-left:auto; margin-right:auto; margin-bottom:7px; }
.post_content blockquote.alignleft, .post_content img.alignleft { margin:7px 24px 7px 0; }
.post_content .wp-caption.alignleft { margin:7px 14px 7px 0; }
.post_content blockquote.alignright, .post_content img.alignright { margin:7px 0 7px 24px; }
.post_content .wp-caption.alignright { margin:7px 0 7px 14px; }
.post_content blockquote.aligncenter, .post_content img.aligncenter, .post_content .wp-caption.aligncenter { margin-top:7px; margin-bottom:7px; }

/* text and headline */
.post_content p { line-height:2.4; margin:0 0 2.4em 0; }
.post_content h1, .post_content h2, .post_content h3, .post_content h4, .post_content h5, .post_content h6 { clear:both; line-height:1.2; font-weight:400; margin:0 0 10px 0; padding:10px 0 0 0; }
.post_content h1 { font-size:150%; }
.post_content h2 { font-size:140%; }
.post_content h3 { font-size:130%; padding-top:20px; }
.post_content h4 { font-size:120%; }
.post_content h5 { font-size:110%; }
.post_content h6 { font-size:100%; }

/* image */
.post_content img[class*="align"], .post_content img[class*="wp-image-"], .post_content img[class*="attachment-"], .post_content img.size-full, .post_content img.size-large, .post_content .wp-post-image, .post_content img
 { height:auto; max-width:100%; }

/* list */
.post_content li, .post_content dt, .post_content dd { line-height:2.2; }
.post_content ul, .post_content ol, .post_content dl { margin-bottom:24px; }
.post_content ol { list-style:decimal outside none; margin-left:1.5em; }
.post_content ul { list-style:circle outside none; margin-left:1.3em; }
.post_content li > ul, .post_content li > ol { margin-bottom:0; }
.post_content dt { font-weight:bold; }
.post_content dd { margin-bottom:1em; }

/* table */
.post_content table { margin:0 0 24px 0; /*width:100% !important;*/ }
.post_content td, .post_content th { border:1px solid #bbb; padding:10px 15px; line-height:2.2; }
.post_content th { background:#ddd; font-weight:normal; }
/* table style */
.post_content table.table_no_border th, .post_content table.table_no_border td { border:none; padding-left:0; }
.post_content table.table_border_horizontal th, .post_content table.table_border_horizontal td { border-left:none; border-right:none; padding-left:0; }

/* block quote */
.post_content blockquote { margin:0 0 25px 0; padding:27px 30px 0; border:1px solid #ccc; box-shadow:0px 4px 0px 0px #f2f2f2; position:relative; }
.post_content blockquote:before { content:'"'; font-style:italic; font-size:30px; font-weight:normal; line-height:40px; width:30px; height:30px; position:absolute; top:5px; left:10px; color:#5cbcd7; }
.post_content blockquote:after { content:'"'; font-style:italic; font-size:30px; font-weight:normal; text-align:left; line-height:60px; width:30px; height:30px; position:absolute; bottom:7px; right:-2px; color:#5cbcd7; }
.post_content blockquote cite { border-top:1px dotted #aaa; display:block; padding:20px 0 0 0; font-style:italic; text-align:right; font-size:90%; }

/* captions */
.post_content .wp-caption { margin-bottom:24px; background:#fff; border:1px solid #ccc; padding:5px; max-width:100%; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
.post_content .wp-caption-text { text-align:center; font-size:12px; font-style:italic; line-height:1.5; margin:9px auto; }
.post_content .wp-caption img[class*="wp-image-"] { display:block; margin:0 auto; }

/* gallery */
.gallery { margin-bottom:20px; }
.gallery a img { border:0 !important; }
.gallery-item { float:left; margin:0 4px 4px 0; overflow:hidden; position:relative; }
.gallery-columns-1 .gallery-item { max-width:100%; }
.gallery-columns-2 .gallery-item { max-width:48%; max-width:-webkit-calc(50% - 4px); max-width:calc(50% - 4px); }
.gallery-columns-3 .gallery-item { max-width:32%; max-width:-webkit-calc(33.3% - 4px); max-width:calc(33.3% - 4px); }
.gallery-columns-4 .gallery-item { max-width:23%; max-width:-webkit-calc(25% - 4px); max-width:calc(25% - 4px); }
.gallery-columns-5 .gallery-item { max-width:19%; max-width:-webkit-calc(20% - 4px); max-width:calc(20% - 4px); }
.gallery-columns-6 .gallery-item { max-width:15%; max-width:-webkit-calc(16.7% - 4px); max-width:calc(16.7% - 4px); }
.gallery-columns-7 .gallery-item { max-width:13%; max-width:-webkit-calc(14.28% - 4px); max-width:calc(14.28% - 4px); }
.gallery-columns-8 .gallery-item { max-width:11%; max-width:-webkit-calc(12.5% - 4px); max-width:calc(12.5% - 4px); }
.gallery-columns-9 .gallery-item { max-width:9%; max-width:-webkit-calc(11.1% - 4px); max-width:calc(11.1% - 4px); }
.gallery-columns-10 .gallery-item { max-width:7%; max-width:-webkit-calc(9.4% - 0px); max-width:calc(9.4% - 0px); }
.gallery-columns-1 .gallery-item:nth-of-type(1n), .gallery-columns-2 .gallery-item:nth-of-type(2n), .gallery-columns-3 .gallery-item:nth-of-type(3n), .gallery-columns-4 .gallery-item:nth-of-type(4n), .gallery-columns-5 .gallery-item:nth-of-type(5n), .gallery-columns-6 .gallery-item:nth-of-type(6n), .gallery-columns-7 .gallery-item:nth-of-type(7n), .gallery-columns-8 .gallery-item:nth-of-type(8n), .gallery-columns-9 .gallery-item:nth-of-type(9n), .gallery-columns-10 .gallery-item:nth-of-type(10n) { margin-right:0; }
.gallery-caption { background-color:rgba(0, 0, 0, 0.7); -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; color:#fff; font-size:12px; line-height:1.5; margin:0; max-height:50%; opacity:0; padding:6px 8px; position:absolute; bottom:0; left:0; text-align:left; width:100%; }
.gallery-caption:before { content:""; height:100%; min-height:49px; position:absolute; top:0; left:0; width:100%; }
.gallery-item:hover .gallery-caption { opacity:1; }
.gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption, .gallery-columns-10 .gallery-caption { display:none; }

/* etc */
.post_content .wp-smiley { border:0; margin-bottom:0; margin-top:0; padding:0; }
.post_content address { margin:0 0 24px 0; line-height:2.2; }
.post_content pre { border-left:5px solid #7fc120; font-size:12px; margin:0 0 27px 0; line-height:25px; background:url(img/common/pre.gif) repeat left top; padding:0 17px; overflow:auto; }
.post_content .sticky { }
.post_content .mejs-container { margin:12px 0 25px; }

/* パスワード保護 */
.c-pw__desc, .c-pw__desc p { line-height:2.5; }
.c-pw__desc p { margin-bottom:16px; }
.c-pw__btn { box-sizing:border-box; color:#fff; display:inline-block; padding:13px 20px; font-size:14px; text-align:center; line-height:1; background:#999; }
.c-pw__btn:hover { background:#333; color:#fff; }
.c-pw__btn--register { min-width:160px; margin-bottom:32px; }
.c-pw__btn--submit { min-width:100px; border:0; cursor:pointer; }
.c-pw .c-pw__btn:hover { text-decoration:none; }
.c-pw__box { border:1px solid #ddd; background:#f5f5f5; padding:25px 36px; display:inline-block; margin-bottom:40px; box-sizing:border-box; }
.c-pw__box .c-pw__box-desc { line-height:1.2; margin-bottom:20px; }
.c-pw__box-label { margin-right:14px; }
.c-pw__box-input { border:1px solid #ddd; box-shadow:none; height:40px; width:250px; margin-right:13px; flex:1; box-sizing:border-box; padding:0 10px; }
.post_content .c-pw__btn, .post_content .c-pw__btn:hover { color:#fff; }
.u-center { text-align:center; }
