@charset "UTF-8";

/* =========================================================
o-btn -  style
============================================================*/
.o-btn {
    border-radius: 1px;

    //options
    &.__huge {
        font-size: 3.2rem;
        line-height: 1.5;
        letter-spacing: .5rem;
        @include mq-md {
            font-size: 2.9rem;
        }
        @include mq-sm {
            font-size: 2.9rem;
        }
    }
    &.__en {
        letter-spacing: .01rem;
        font-family: $font-family02;
    }

    &.__big {
        &,&.o-icon:before {
            @include fs-big;
        }
    }
    &.__large {
        &,&.o-icon:before {
            @include fs-large;
        }
    }
    &.__title {
        &,&.o-icon:before {
            @include fs-title;
        }
        &.__en {
            letter-spacing: .3rem;
        }
    }
    &.__p {
        &,&.o-icon:before {
            @include fs-p;
        }
    }
    &.__mid {
        &,&.o-icon:before {
            @include fs-mid;
        }
    }
    &.__min {
        &,&.o-icon:before {
            @include fs-min;
        }
    }
    &.__tiny {
        &,&.o-icon:before {
            @include fs-tiny;
        }
    }
    &.__white {
        &,.o-icon:before {
            color: $text-color02;
        }
    }

    &.__sizes {
        padding: 0.4rem $padding01;
    }
    &.__sizem {
        padding: $padding00 $padding01;
    }
    &.__sizel {
        padding: $padding01 $padding01;
    }

    &.__sizexl {
        padding: $padding02 $padding01;
    }

    &.__maxwidth01 {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    //specific
    &.search {
        min-width: 300px;
        padding: 2.2rem $padding00;
        line-height: 1;
    }
    &.keywordsearch {
        padding: $padding01 $padding00;
        line-height: 1;
    }

    //template
    &.__basic01,
    &.__basic02,
    &.__basic03,
    &.__basic04,
    &.__basic05,
    &.__basic06,
    &.__basic07,
    &.__basic08,
    &.__basic09,
    &.__basic10,
    &.__basic11 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        text-align: center;
        position: relative;
        z-index: 5;
        border: 1px solid transparent;
        &:hover {
            box-shadow: 0 0 17px rgba($accent-color03,0.1);
        }
    }
    &.__basic01,
    &.__basic02,
    &.__basic05 {
        color: $text-color02;
        &,.o-icon:before {
            color: $text-color02;
        }
        &:hover {
            box-shadow: 0 0 17px rgba($accent-color03,0.1);
        }
    }

    &.__basic06 {
        &:hover {
            background-color: $sub-color01;
        }
    }

    &.__basic01 {
        background-color: $sub-color06;
        &:hover {
            color: $text-color01;
            background-color: transparent;
            border: 1px solid $sub-color06;
        }
    }
    &.__basic02 {
        background-color: $sub-color03;
    }
    &.__basic03 {
        background-color: $base-color01;
    }
    &.__basic04 {
        color: $text-color04;
        background-color: transparent;
    }
    &.__basic05 {
        background-color: $accent-color01;
    }
    &.__basic06 {
        border: 1px solid $sub-color01;
    }
    &.__basic07 {
        border: 1px solid $sub-color02;
        &:hover {
            background-color: $sub-color01;
            box-shadow: none;
            color: $text-color01;
        }
    }
    &.__basic08 {
        background-color: $sub-color01;
    }
    &.__basic09 {
        border: 1px solid $base-color01;
        background-color: rgba($base-color01,0.5);
        &,.o-icon:before {
            color: $text-color02;
        }
        &:hover {
            background-color: rgba($base-color01,0.4);
            color: $text-color02;
            backdrop-filter: none;
        }
    }
    &.__basic10 {
        color: $text-color02;
        background-color: $sub-color06;
        &:hover {
            color: $text-color02;
        }
    }
    &.__basic11 {
        color: $text-color01;
        background-color: $sub-color01;
        &:hover {
            background-color: $base-color01;
        }
    }
}
