@charset "UTF-8";

/* =========================================================
top carousel -  style あとでclassとか変更
============================================================*/



/* owl - カルーセル全体設定
--------------------------------------------------------- */
.o-carousel {
    overflow: inherit!important;
    &Wrap {
        margin-bottom: $garter00;
        height: auto!important;
    }

    &Pagenation {
        position: relative!important;
    }

    &.__overflow {
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            left: -10rem;
            top: 0;
            bottom: 0;
            width: 7rem;
            height: 100%;
            z-index: 2;
            background-image: linear-gradient(90deg, rgba($sub-color01, 1) 80%, rgba($sub-color01, 0));
        }
    }


}


/* ページ / パーツ別の設定
--------------------------------------------------------- */
.o-carousel {
    &.home {
        position: relative;
        .o-carouselTitle {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -10%;
            left: -3rem;
            bottom: 0;
            margin: auto;
            color: $accent-color01;
            z-index: 2;
            //            text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.6);
        }
    }
}
