@charset "UTF-8";

.o-form {

    p {
        &:not(.o-formSet_title) {

            margin-bottom: 0 !important;
        }
    }

    /* =========================================================
    Form 全体
    ========================================================= */
    &Input {
        @include fs-mid;
        transition: $transition02;

        @include mq-md {
            font-size: 16px;
        }

        &.text {
            padding: 2rem;
            width: 100%;
        }

        &.__white {
            color: $text-color02;

            &::placeholder {
                color: $text-color02;
            }
        }

        &.__reset {
            border: 0;
            background: transparent;
        }

        &.__sizes {
            padding: $padding00;
        }

        &.__sizem {
            padding: $padding01;
        }

        &.__sizel {
            padding: $padding02;
        }

        &.__type01 {
            width: 100%;
            background-color: $base-color02;
        }

    }

    &Select {
        transition: $transition02;
        border: 1px solid $sub-color02;
        border-radius: 1px;

        &.__white {
            background-color: $base-color01;
        }

        &.__sizes {
            padding: $padding00;
        }

        &.__sizem {
            padding: $padding01;
        }

        &.__sizel {
            padding: $padding02;
        }

        &.__mid {
            @include fs-mid;
        }

        &.__bold {
            font-weight: bold;
        }

        &.__hover {
            &:hover {
                box-shadow: 0 0 17px rgba($accent-color03, 0.1);
            }
        }
    }

    &Required {
        display: inline-block;
        color: $text-color02;
        font-weight: bold;
        padding: .1rem $padding00 .2rem;
        font-size: 1.1rem;
        background-color: $sub-color05;
        margin-left: $margin01;
    }


    /* キーワード検索
    --------------------------------------------------------- */
    &.search {
        .o-formBtn {
            padding: $padding00;

            .o-icon {
                transition: $transition01;

                &,
                &:before {
                    @include fs-title;
                    color: $text-color04;
                }
            }

            &:hover {
                background-color: transparent;

                .o-icon {
                    &:before {
                        color: $text-color01;
                    }
                }
            }
        }
    }

    /* =========================================================
    form - セットスタイル
    ========================================================= */

    //タイトルとフォームパーツのセット
    &Set {
        margin-bottom: $margin02;
        padding-bottom: $padding02;
        border-bottom: 1px solid $sub-color01;
        @include mq-md {
            margin-bottom: $margin01;
            padding-bottom: $padding01;
        }
        p,&+p {
            margin-bottom: 0;
            word-break: break-all;
        }

        &_title {
            font-size: 1.3rem !important;
            font-weight: bold;
            margin-bottom: $margin01 !important;
        }

        input,
        textarea,
        select {
            @include fs-p;
            width: 100%;
            border: 1px solid $sub-color02;
            background-color: $sub-color01;
            padding: $padding01 $padding01;
        }

        //子要素
        &_child {
            border: 3px solid $sub-color01;
            padding: $padding01;

            &Title {
                font-size: 1.3rem !important;
            }
        }
    }

    //電話番号とお問い合わせのセット
    &Tel {
        a {
            color: $text-color01;
            text-decoration: inherit;
        }

        &_contact {
            margin-right: $margin01;
        }

        &_num {
            @include fs-title;
            font-weight: bold;
            text-align: center;
            letter-spacing: .1rem;
            font-family: $font-family02;
        }

        &_holiday {
            display: block;
            font-family: $font-family01;
            @include fs-min;
        }
    }



    /* =========================================================
    //賃貸検索周りのフォーム
    ========================================================= */

    /* チェックボックス
    --------------------------------------------------------- */
    //ボタンタイプ
    &Checkbtn {
        br {
            display: none;
        }

        &_input {
            display: none;

            &:checked + .o-formCheckbtn_label {
                color: $text-color02;
                background-color: $base-color05;

            }
        }

        &_label {
            cursor: pointer;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $base-color02;
            border: 1px solid $base-color01;
            padding: $padding01;
            transition: $transition01;

            &:hover {
                background-color: $base-color01;
                border: 1px solid $base-color02;
            }
        }
    }

    //リストタイプ
    &Checklist {
        &_input {
            display: none;

            &:checked + .o-formChecklist_label {
                color: $text-color01;

                &:after {
                    background-color: $base-color05;
                    transform: scale(0.65);
                }
            }
        }

        &_label {
            cursor: pointer;
            width: 100%;
            position: relative;
            color: $text-color03;
            transition: $transition01;
            padding-left: $padding02;
            margin-bottom: $margin01;

            &:hover {
                color: $text-color01;
            }

            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 2rem;
                height: 2rem;
                border-radius: 2px;
                transition: $transition01;
            }

            &:before {
                border: 1px solid $sub-color03;
            }

        }
    }

    /* セレクト
    --------------------------------------------------------- */
    &Select {
        cursor: pointer;
        width: 100%;
        padding: $padding01 $padding00;
        background-color: $base-color02;

        @include mq-md {
            font-size: 16px!important;
        }
        &_wrap {
            width: 100%;
            position: relative;
            &:after {
                position: absolute;
                content: '';
                width: 6px;
                height: 6px;
                border: 0px;
                border-bottom: solid 2px $base-color05;
                border-right: solid 2px $base-color05;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                top: 50%;
                right: 10px;
                margin-top: -4px;
            }
        }
    }
}


/* CF7
--------------------------------------------------------- */
.wpcf7-checkbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &.__2 {
        .wpcf7-list-item {
            @include fs-mid;
            width: 50%;
            margin: 0!important;
        }
    }

    &.__4 {
        .wpcf7-list-item {
            @include fs-mid;
            width: 25%;
            margin: 0!important;
        }
        .wpcf7-list-item-label {
            word-break: keep-all;
            padding: $padding00;
        }
    }
    &.__6 {
        .wpcf7-list-item {
            @include fs-mid;
            width: 16.66666%;
            margin: 0!important;
        }
    }
    input[type="checkbox"],
    input[type="radio"] {
        display: none;

        &:checked + .wpcf7-list-item-label {
            color: $text-color02;
            background-color: $sub-color04;
        }
    }

    .wpcf7-list-item-label {
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $base-color01;
        padding: $padding01;
        transition: $transition01;
        background-color: $base-color02;
        @include mq-big {
            padding: $padding01 $padding00;
        }
        &:hover {
            background-color: $base-color01;
            border: 1px solid $sub-color01;
        }
    }
}


.wpcf7-radio {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .wpcf7-list-item {
        width: 33.3333333%;
        padding-left: 1rem;
        margin: 0 0 1rem !important;

        @include mq-md {
            width: 100%;
        }

        input[type="checkbox"],
        input[type="radio"] {
            display: none;

            &:checked + .wpcf7-list-item-label {
                color: $text-color01;

                &:after {
                    background-color: $accent-color01;
                    transform: scale(0.65);
                }
            }
        }

        .wpcf7-list-item-label {
            cursor: pointer;
            width: 100%;
            position: relative;
            color: $text-color03;
            transition: $transition01;
            padding-left: $padding02;
            margin-bottom: $margin00;
            display: flex;
            line-height: 1.4;
            @include mq-md {
                margin-bottom: $margin00;
            }

            &:hover {
                color: $text-color01;
            }

            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 1px;
                bottom: 0;
                width: 2rem;
                height: 2rem;
                border-radius: 2px;
                transition: $transition01;
            }

            &:before {
                border: 1px solid $sub-color02;
            }
        }
    }
}
.wpcf7-form {
    init {
        .o-search {
            p {
                margin-bottom: 0;
            }
        }
    }
}


.wpcf7-not-valid {
    border-bottom: 3px solid $accent-color02 !important;
}

.wpcf7-not-valid-tip {
    color: $accent-color02;
    @include fs-mid;
    font-weight: bold;
}

// error message
.wpcf7-response-output {
    border: 1px solid $accent-color02 !important;
    background-color: rgba($accent-color02, 0.1);
    padding: $padding00 !important;
    @include fs-mid;
    letter-spacing: 0px;
    text-align: center;
    font-weight: bold;
    color: $accent-color02;
}
