@charset "UTF-8";

/* =========================================================
o-fv -  style
============================================================*/
.o-fv {
    position: relative;
    width: 100%;
    border-radius: 2px;
    &:before {
        content: "";
        display: block;
        width: 100%;
        padding-top: (5.5 / 17) * 100%;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(120deg, rgba($accent-color03,0.9), rgba($accent-color03,0.3) 60%, rgba($base-color04,0.1));
    }
    &Catch {
        position: absolute;
        z-index: 1;
        &_title {
            color: $text-color02;
            font-weight: bold;
        }
        &_result {
            color: $text-color02;
            @include fs-mid;
        }
        &_num {
            @include fs-large;
        }
    }
    .wp-custom-header {
        img {
            display: none;
//            object-fit: cover;
//            position: absolute;
//            top: 0;
//            right: 0;
//            bottom: 0;
//            left: 0;
//            background-position: center;
//            background-repeat: no-repeat;
//            background-size: cover;
//            border-radius: .4rem;
//            width: 100%;
//            height: 100%;
//            object-fit: cover;
        }
    }
    &Img {
        object-fit: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: .4rem;
        width: 100%;
        height: 100%;
    }

    /* トップのFV
    --------------------------------------------------------- */
    &.__top {
        //高さはここで調整
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center -30rem;
        height: 100%;
        @include mq-huge {
            background-size: contain;
            background-position: center -10rem;
        }
        @include mq-lg {
            background-position: center -400px;
            background-size: cover;
        }
        @include mq-md {
            background-position: center;
        }
        @include mq-md {
            background-attachment: inherit;
            width: auto;
            margin-left: -2rem;
            margin-right: -2rem;
        }
        &:before {
            padding-top: 40%;
            @include mq-lg {
                padding-top: 60%;
            }
            @include mq-md {
                padding-top: 60vh;
            }
        }
        .o-fvCatch {
            bottom: 14rem;
            left: 6rem;
            max-width: 32rem;

            @include mq-md {
                bottom: 12rem;
                left: 2rem;
            }
            &_title {

            }
        }

        .wp-custom-header {
            img {
                object-fit: cover;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: .4rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .o-fvForm {
            .o-form {
                //検索フォーム
                &.o-form {
                    max-width: 32rem;
                    background-color: rgba($base-color01,0.3);
                    border-radius: 4px;
                    backdrop-filter: blur(20px);
                    transition: $transition02;
                    &:hover {
                        background-color: rgba($base-color01,0.6);
                        backdrop-filter: blur(12px);
                    }
                    .o-btn {
                        @extend .o-btn.keywordsearch;
                    }
                    .o-formInput,.o-formInput::placeholder,.o-icon,.o-icon:before {
                        color: $text-color02;
                    }
                }
            }
        }
    }

    /* 物件一覧のFV
    --------------------------------------------------------- */
    &.__archive {
        //高さはここで調整
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        &:before {
            padding-top: (4.5 / 17) * 100%;
            @include mq-lg {
                padding-top: 40%;
            }
            @include mq-md {
                background-attachment: inherit;
                padding-top: 30vh;
            }
        }
        .o-fvCatch {
            bottom: $garter02;
            left: $garter01;
            margin: auto;

            @include mq-xl {
                bottom: $garter01;
                left: $garter01;
            }
            @include mq-md {
                bottom: $garter01;
                left: $garter00;
            }
            &_title {
            }
        }
        .o-fvBtn {
            position: absolute;
            bottom: -$margin01;
            right: $garter01;

            @include mq-md {
                right: 0;
            }
            &_item {
                padding: $padding01 $padding02;
                @include fs-mid;
                @include mq-md {
                    @include fs-min;
                }
            }
        }
    }

    /* 固定ページのFV
    --------------------------------------------------------- */
    &.__page {
        //高さはここで調整
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        width: 100%;
        background-color: $base-color02;
        overflow: hidden;
        margin-bottom: $margin03;
        @include mq-md {
            background-attachment: inherit;
            margin: -2rem -2rem $margin03;
            width: auto;
        }
        &:before {
            padding-top: 20rem;
            @include mq-sm {
                padding-top: 20rem;
            }
        }
        .o-fvCatch {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            text-align: center;
            &_title {
                font-weight: bold;
                color: $text-color02;
                margin-bottom: $margin00;
            }
        }
    }


    /* パーツ類
    --------------------------------------------------------- */
    &.__bigtitle {
        overflow: hidden;
        .wp-custom-header:after {
            content: "TOKYO";
            font-family: serif;
            font-size: 50rem;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: fit-content;
            height: fit-content;
            color:rgba(0,0,0,0.0);
            z-index: 1;
            -webkit-text-stroke: 1px rgba($base-color01,.1);
            @include mq-xl {
                font-size: 30rem;
            }
            @include mq-md {
                transform: rotateZ(90deg);
                left: -10rem;
            }
        }
    }
}
