@charset "UTF-8";

/* =========================================================
o-icon - style 記事ページに関するパーツ群
============================================================*/
.o-icon {
    transition: $transition01;
    &:before {
        margin-left: 0;
        margin-right: .4rem;
        color: $text-color01;
    }
    &.__min {
        &,&:before {
            @include fs-min;
        }
    }
    &.__mid {
        &,&:before {
            @include fs-mid;
        }
    }
    &.__p {
        &,&:before {
            @include fs-p;
        }
    }
    &.__title {
        &,&:before {
            @include fs-title;
        }
    }
    &.__large {
        &,&:before {
            @include fs-large;
        }
    }

    &.__displayb {
        display: block;
    }
    &.__nobold {
        font-weight: normal;
    }






    &.tw {
        &:hover {
            color: $tw-color;
        }
    }
    &.mail {
        line-height: 0;
        margin-top: 2px;
        margin-right: 6px;
        &:before {
            font-size: 16px;
        }
    }

    &.__white {
        &,&:before {
            color: $text-color02;
        }
    }


    //ハートマーク
        &.flaticon-heart:before {
            transition: $transition01;
            opacity: .5;
        }
        &.flaticon-heart.__checked {
            &:before {
                color: #d6a882;
                opacity: 1;
            }
        }
}
