@charset "UTF-8";

/* =========================================================
o-link - style ボタン以外のリンクスタイル管理
============================================================*/

a {
    color: $text-color01;
    transition: $transition01;
    &:hover {

    }
}

.o-link {
    color: $link-color01;

    &.__en {
        letter-spacing: 4px;
    }

    &.__big {
        @include fs-big;
    }
    &.__title {
        font-weight: normal;
        @include fs-title;
    }
    &.__mid {
        @include fs-mid;
    }

    &.__min {
        @include fs-min;
    }

    &.__tiny {
        @include fs-tiny;
    }

    &.__thin {
        font-weight: 100;
    }
    &.__white {
        color: #fff;
    }
    &.__nocolor {
        text-decoration: underline;
        color: $text-color01;
    }

    /*タイプ1 pulse型*/
    &.type01 {
        position: relative;
        color: $text-color01;
        &:before {
            content: "";
            position: absolute;
            height: 1px;
            width: 1.6rem;
            background-color: $base-color05;
            right: -2.4rem;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: $transition02;
        }
        .o-linkItem {
            position: absolute;
            right: -4rem;
            top: 0;
            bottom: 0;
            margin: auto;
            display: block;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: $accent-color03;
            cursor: pointer;
            box-shadow: 0 0 0 rgba($accent-color03, 0.4);
            transition: $transition02;
            &:after {
                content: "";
                position: absolute;
                right: -.6rem;
                top: 0;
                bottom: 0;
                margin: auto;
                margin-left: $garter01;
                display: block;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border: 1px solid $accent-color03;
                cursor: pointer;
                box-shadow: 0 0 0 rgba($accent-color03, 0.4);
                animation: pulse 2s infinite;
                transition: $transition02;
            }

        }
        &:hover {
            color: $accent-color01;
            &:before {
                right: -1.6rem;
                background-color: $accent-color01;
            }
            .o-linkItem {
                background: $accent-color01;
                &:after {
                    border: 1px solid $accent-color01;
                }
            }
        }
        &.__white {
            color: $text-color02;
            &:before,
            .o-linkItem {
                background-color: rgba($base-color01,0.5);
            }
            &:hover {
                &:before,
                .o-linkItem,
                .o-linkItem:after {
                    background-color: rgba($base-color01,0.2);
                }
            }
        }
    }







    &.__post-basic {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
    &.__over {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
        cursor: pointer;
    }
    &.__rgbawhite {
        color: rgba(#fff,0.8);
        &:hover {
            color: rgba(#fff,1);
        }
    }
    &.__huge {
        font-size: 3.2rem;
        @include mq-md {
            font-size: 2.9rem;
        }
        @include mq-sm {
            font-size: 2.9rem;
        }
    }
    &.__basic {
        color: $accent-color05;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
