@charset "UTF-8";

/* =========================================================
o-list - style 記事ページに関するパーツ群
============================================================*/
.o-list {
    li {
        list-style: none;
    }

    &.__tiny {

        li,
        a {
            @include fs-tiny;
        }
    }

    &.__min {

        li,
        a {
            @include fs-min;
        }
    }

    &.__mid {

        li,
        a {
            @include fs-mid;
        }
    }

    &.__p {

        li,
        a {
            @include fs-p;
        }
    }

    &.__title {

        li,
        a {
            @include fs-title;
        }
    }

    &.__large {

        li,
        a {
            @include fs-large;
        }
    }


    &.__thin {

        li,
        a {
            font-weight: normal;
        }
    }

    &.__white {

        li,
        a {
            color: #fff;
        }
    }

    &.__gray01 {

        li,
        a {
            color: rgba(#fff,0.5);
            &:hover {

                color: rgba(#fff,1);
            }
        }
    }

    &.__rgbawhite {

        li,
        a {
            color: rgba(#fff, 0.5);

            &:hover {
                color: rgba(#fff, 1);
            }
        }
    }

    &.__gtb1 {
        a {
            display: block;
            padding: $garter01;
        }
    }

    &.__grl05 {
        a {
            display: block;
            padding: 0 0.5rem;
        }
    }

    /* リストテンプレート
    --------------------------------------------------------- */

    //基本的なリスト
    &.__basic01, {
        .o-listItem {
            position: relative;
            padding-left: $padding01;
            &:before {
                content: "";
                position: absolute;
                top: 2px;
                bottom: 0;
                left: 0;
            }
        }
    }

    /* 個別css
    --------------------------------------------------------- */

    //左にバーがついたタイプのリスト
    &.bar {
        li,
        .menu-item {
            margin-bottom: $margin01;
            transition: $transition01;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            color: $text-color01;

            &:before {
                content: "";
                height: 2px;
                width: .8rem;
                background-color: $text-color03;
                transition: $transition01;
                margin-right: $margin00;
            }

            &:hover {
                text-decoration: none;
                color: $text-color03;

                &:before {
                    transform: translateX(-.4rem);
                    background-color: $accent-color03;
                }
            }
        }

        &.__nolink {
            li {
                display: flex;
                &:before {
                    content: "";
                    height: 2px;
                    width: .8rem;
                    background-color: $text-color03;
                    transition: $transition01;
                    margin-right: $margin00;
                }
            }
        }
    }
    //四角アイコンのリスト
    &.square {
        .o-listItem {
            position: relative;
            margin-bottom: $margin00;
            margin-right: $margin02;
            &:before {
                content: "";
                width: 1rem;
                height: 1rem;
                background-color: rgba($accent-color01,0.4);
                border-radius: 1px;
            }
        }
    }
    //注意書き
    &.caution {
        .o-listItem {
            margin-bottom: $margin00;
            margin-right: $margin02;
            &:before {
                content: "※";
                top: 1px;
                color: $accent-color02;
            }
        }
    }
}
