@charset "UTF-8";

/* =========================================================
o-post - style 記事パーツに関するスタイル
============================================================*/


/* 記事のスタイル
--------------------------------------------------------- */
.o-post {
    margin-bottom: 3rem;
    position: relative;
    width: 100%;
    /*@extend .fade-in;*/

    @include mq-xl {
    }

    @include mq-md {
        margin-bottom: 2rem;
    }

    &.__2 {
        flex-basis: 50%;
    }
    &.__3 {
        flex-basis: 33.3333333%;
        @include mq-lg {
            flex-basis: 50%;
        }
    }

    &.__1 {
        flex-basis: 100%;
    }

    &.__4 {
        flex-basis: 25%;

        @include mq-xl {
            flex-basis: 33.33333333%;
        }

        @include mq-lg {
            flex-basis: 50%;
        }
    }
    &.__white {
        .o-postCat,
        .o-postDate {
            @include fs-tiny;
        }
        .o-postDate {
            color: $text-color02;
        }
        .o-postTitle {
            color: #fff;
        }
    }
}

.o-postWrap {
    position: relative;
    padding: 0 0 4px;
    text-align: left;

    &:hover {
        .o-postThumb {
            img {
                transform: scale(1.05);
            }
            a:before {
                width: 97%;
                height: 95%;
                opacity: 1;
            }

            a:after {
                transform: translateY(0);
                opacity: 1;
            }
        }
        .o-postHeader {
            .o-postTitle a {
                color: $accent-color01;
            }
        }
    }
}

.o-postLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 5;
}

.o-postThumb {
    position: relative;
    margin-bottom: $margin01;
    border-radius: 0px;
    overflow: hidden;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: (10 / 17) * 100%;
    }

    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        overflow: inherit;
        @include prefixes(transition, all 0.6s);
        object-fit: cover;
    }

    a {

        /*&:before,
        &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        opacity: 0;
        @include prefixes(transition, all 0.2s);
    }*/

        /*&:before {
        width: 100%;
        height: 100%;
        border-radius: 1px;
        @include gradient(rgba($base-color02, 0.7), rgba($base-color02, 0.9), horizontal);
        z-index: 5;
    }*/

        /*&:after {
        content: "READ MORE";
        font-family: $font-family02;
        font-weight: bold;
        height: 14px;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 1rem;
        z-index: 5;
        transform: translateY(-10px);
        letter-spacing: 5px;
    }*/
    }
}
.o-postName {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    color: #fff;
    padding: 0;
    margin: 0!important;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 7;
}

//
.o-postHeader {
    position: relative;
    padding: 0 $padding02;
    width: 100%;
    @include mq-md {
        padding: 0 $padding01;
    }

    @include mq-sm {
        padding: 0 0.6rem;
    }
    &.__white {
        a,li {
            color: #fff;
        }
    }
}

.o-postTitle {
    margin-bottom: 0.5rem;
    @include fs-mid;
}

.o-postMeta {
    font-weight: normal;
    font-family: $font-family02;
    letter-spacing: 2px;
    margin-bottom: $margin00;

    @include mq-md {
        left: -2rem;
        margin-bottom: 0;
    }
}

.o-postData {
    margin-bottom: $margin00;
    @include fs-tiny;
}
.o-postDate {
    color: $text-color04;
    font-family: $font-family02;
}

.o-postCat {
    @include fs-tiny;
    font-weight: bold;
    letter-spacing: 0px;
    color: rgba($accent-color01, 1);
    a {
        font-weight: normal;
        color: rgba($accent-color01, 1);
        &:first-child {
            font-weight: bold;
            margin-right: 6px;
        }
    }
}
.o-postDesc {
    @include mq-md {
        display: none;
    }
}

.o-post {
    &.__category {
        .o-postLink {
            z-index: 10;
        }
        .o-text__desc {
            padding-top: 2%;
            padding-bottom: 7%;
            @include mq-sm {
                padding-top: 0;
                letter-spacing: 0px;
            }
            p {
                margin-bottom: 0.3rem;
            }
            ul,li {
                font-size: 13px;
                margin-bottom: 0.1rem;
            }
            li {
                position: relative;
                padding-left: 1.4rem;
                &:before {
                    content: "\f00c";
                    font-family: $font-awesome;
                    position: absolute;
                    font-size: 12px;
                    text-align: center;
                    color: $accent-color01;
                    font-weight: bold;
                    top: 0px;
                    left: 0;
                    text-align: center;
                    line-height: 1.6;
                }
            }
        }
        .o-postThumb {
            &:after {
                content: "";
                width: 97%;
                height: 95%;
                position: absolute;
                z-index: 6;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                background-color: rgba($base-color02,0.5);
            }
            .o-postLink {
                z-index: 5;
            }
        }
    }
}

/* post garter
--------------------------------------------------------- */
.o-postOuter {
    margin-left: -16px;
    margin-right: -16px;
    .o-postWrap {
        padding-left: 16px;
        padding-right: 16px;
    }

    &.__rank {
        counter-reset: post-count;
        .o-postThumb {
            position: relative;
            &:after {
                position: absolute;
                content: counter(post-count)"";
                counter-increment: post-count;
                font-family: $font-family02;
                font-weight: 100;
                color: $accent-color01;
                @include fs-big;
                z-index: 10;
                top: 0px;
                left: 8px;
            }
        }
    }
}

/* 横向き並び
--------------------------------------------------------- */
.o-post {
    &.horizontal {
        .o-postWrap {
            display: flex;
            align-items: center;
            padding-top: 0;
            padding-bottom: 0;
        }
        .o-postThumb {
            max-width: 33.3333%;
            min-width: 33.33333%;
            margin-right: 16px;
            margin-bottom: 0;
            @include mq-sm {
                margin-right: 8px;
            }
            img {
                object-fit: cover;
                min-width: 100%;
            }
        }

        .o-postTitle {
            @include mq-md {
                @include fs-mid;
            }
            @include mq-sm {
                font-size: 12px!important;
            }
        }
    }

    &.__first:first-child {
        flex-basis: 100%;
        .o-postThumb {
            max-width: 50%;
            min-width: 50%;
            @include mq-md {
                max-width: 33.33333%;
                min-width: 33.33333%;
            }
        }
        .o-postMeta {
            @include fs-min;
        }
        .o-postTitle {
            @include fs-title;
            @include mq-md {
                @include fs-mid;
            }
            @include mq-sm {
                font-size: 12px!important;
            }
        }
    }
    &.__firstvertical:first-child {
        .o-postWrap {
            display: block;
        }
        .o-postThumb {
            margin-right: 0px;
            margin-bottom: 12px;
            max-width: 100;
            min-width: 100%;
        }
    }
    &.__list {
        &:first-child {
            .o-postThumb {
                max-width: 33%;
                min-width: 33%;
            }
        }
    }
}


/* リスト形式の記事一覧
--------------------------------------------------------- */
.o-postList {
    &:first-child {
        margin-top: 2rem;
    }

    .o-postHeader {
        padding: 0;
    }

    .o-postWrap {
        padding: 0 0 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $sub-color01;
    }

    .o-postCat {
        background-color: $text-color01;
        padding: 0.1rem 0.6rem 0;
        color: #fff;
        margin-right: 1.5rem;
        margin-bottom: 0;
        min-width: 100px;
        text-align: center;

        @include mq-md {
            font-size: 10px;
            margin-right: 1rem;
        }
    }

    .o-postHeader__title {
        margin-left: 2rem;

        @include mq-md {
            margin-left: 0;
            margin-top: 0.5rem;
        }
        @include mq-sm {
            font-size: 12px!important;
        }
    }
}
