@charset "UTF-8";

/* =========================================================
o-pagenation - style
============================================================*/
.o-pagenation {
    &Select {
        &_btn {
            min-width: 5rem;
            @include mq-lg {
                min-width: 3rem;
            }
            &.__prev {
                border-right: 1px solid $sub-color02;
            }
            &.__next {
                border-left: 1px solid $sub-color02;
            }
        }
        &_cont {
            position: relative;
            width: 100%;
        }
        &_cover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            font-family: $font-family02;
            font-weight: bold;
            background-color: $base-color01;
            @include fs-mid;
            &:after {
                content: "\f107";
                position: absolute;
                top: 0;
                bottom: 0;
                right: $garter00;
                margin: auto;
                height: 0px;
                line-height: 0;
                @include fs-mid;
                font-family: $font-awesome;
                z-index: 1;
                line-height: .3;

            }
        }
    }
}
