@charset "UTF-8";

/* =========================================================
o-roomsingle - style
============================================================*/
.o-rsingle {
    /* ファーストビュー
    --------------------------------------------------------- */
    &Fv {
        position: relative;
        overflow: hidden;
        max-height: 640px;
        @include mq-md {
            margin: -2rem -2rem 0 -2rem;
            max-height: inherit;
        }
        &_wrap {
            position: relative;
            height: 0;
            /*高さはここで調整*/
            padding-top: 50rem;
            @include mq-md {
                padding-top: inherit;
                height: 100%;
                display: block;
            }
        }
        &_main,
        &_sub {
            position: absolute;
            top: 0;
            height: 100%;
            @include mq-md {
                position: relative;
            }
            &img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
        &_main {
            left: 0;

            @include mq-md {
                height: 40rem;
            }
        }
        &_sub {
            right: 0;
            @include mq-md {
                height: 20rem;
            }
        }
        &_sublink {
        }
        &_subimg {
            height: 50%;
            border-left: 1px solid $base-color01;
            border-bottom: 1px solid $base-color01;
            &:last-child {
                border-bottom: none;
            }

            @include mq-md {
                width: 50%;
                height: 100%;
                border-bottom: none;
                border-top: 1px solid $base-color01;
                &:first-child {
                    border-left: none;
                }
            }
        }
    }
    &Function {
        position: absolute;
        height: 3.5rem;
        top: $garter01;
        right: $garter01;
        @include mq-xl {
            top: 4rem;
            right: $garter00;
        }
    }

    &Save,
    &Status_title,
    &Imgbtn {
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(20px);
        font-weight: bold;
        cursor: pointer;
        @include fs-mid;
        color: $text-color02;
        border-radius: 1px;
        background-color: rgba($base-color05, 0.6);
    }

    &Save {
        padding: 0.4rem 1.2rem;
        .o-icon {
            &:before {
                margin-right: 0;
                color: $text-color02;
                @include fs-min;
            }
        }
    }
    &Imgbtn {
        padding: 0.4rem $padding01;
        margin-right: 1px;

    }

    &Status {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
width: 100%;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 300%;
            background-image: linear-gradient(180deg, transparent 0%, rgba($base-color05,1));
            transition: $transition02;
        }
        &_title {
            position: relative;
            margin-right: $margin01;
            background-color: rgba($base-color04, 0.6);
            padding: $padding01 $padding01;
            z-index: 5;
        }
        &_desc {
            position: relative;
            z-index: 5;
            color: $text-color02;
        }
        &_when {
            font-weight: bold;
            margin-right: $margin01;
        }
    }

    /*掲載・更新日*/
    &Update {
        padding: $padding00 $garter01 $padding01;
        color: $text-color04;
        max-width: $max-width02;
        margin-left: auto;
        margin-right: auto;
        @include mq-xl {
            padding: $padding00 $garter03 $padding01;
        }

        @include mq-lg {
            padding: $padding00 $garter02 $padding01;
        }
        @include mq-md {
            padding: $padding00 $garter01 $padding01;
        }
        @include mq-sm {
            padding: $padding00 0 $padding01;
        }

        &_published {
            margin-right: $margin00;
            @include fs-tiny;
        }
        &_modified {
            @include fs-tiny;
        }
    }


    /* メイン全体
    --------------------------------------------------------- */
    &Main {
        padding: 0 $garter01;
        max-width: $max-width02;
        margin-left: auto;
        margin-right: auto;
        @include mq-xl {
            padding: 0 $garter03;
        }

        @include mq-lg {
            padding: 0 $garter02;
        }
        @include mq-md {
            padding: 0 $garter01;
        }
        @include mq-sm {
            padding: 0 0;
        }
    }

    /*目次ナビ*/
    &Summary {
        border-right: 1px solid $sub-color02;
        @include mq-big {
            display: none;
            max-width: 1360px;
            overflow-x: scroll;
            overflow-y: auto;
        }
        &_list {

            @include mq-big {
                min-width: 800px;
                display: flex;
                border-bottom: 1px solid $sub-color02;
                background-color: rgba($sub-color01,0.95);
                top: 0!important;
                overflow-x: scroll;
                white-space: nowrap;
            }
            @include mq-md {
                min-width: inherit;
            }
        }
        &_link {
            display: block;
            padding: $padding00;
            color: $text-color04;
            @include fs-min;
            &:hover,
            &.navsync-menu-highlight {
                color: $text-color01;
                font-weight: bold;
                background-color: $sub-color02;
            }
            @include mq-lg {
                @include fs-mid;
                padding: $padding01 1rem;
            }
        }
    }

    /*メインコンテンツ*/
    &Cont {
        padding: 0 $garter02;
        margin-bottom: $margin04;
        @include mq-big {
            padding:  0 $garter02 0 0;
        }
        @include mq-xl {
            padding: 0;
        }
        @include mq-md {
            margin-bottom: $margin02;
        }
        //パーツ群
        &_title {
            @include fs-title;
            font-weight: bold;
            position: relative;
            margin-bottom: $margin01;
            &:before {
                content: "";
                position: absolute;
                left: -7.4rem;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 1px;
                width: 3.6rem;
                background-color: $sub-color06;
            }
        }
        &_en {
            margin-left: $margin01;
            font-family: $font-family02;
            font-weight: 900;
            @include fs-mid;
            color: rgba($text-color01,0.2);
        }
        &_wrap {
            padding: $padding02;
            background-color: $base-color01;
            border-radius: 2px;
            margin-bottom: $margin01;
            @include mq-md {
                padding: $padding02;
            }
        }
    }

    //冒頭の概要部分
    &Overview {
    }
    &Title {
        @include fs-big;
        margin-bottom: $margin01;
        line-height: 1.3;
        @include mq-big {
        }
    }
    &Space {
        margin-bottom: 3rem;
        @include mq-md {
            margin-bottom: 1rem;
        }
        &_item {
            font-weight: 900;
            font-family: $font-family02;
            margin-right: $margin02;
            @include fs-p;
            &:last-child {
                margin-right: $margin02;
            }
            .o-icon {
                &:before {
                    font-weight: normal;
                }
            }
        }
    }
    //特徴
    &Desc {
        @include mq-md {
            flex-direction: column-reverse;
        }
    }
    /*左側の情報*/
    &Info {
        width: calc(100% - 16rem);
        @include mq-md {
            width: 100%;
        }
    }

    &Address {
        @include fs-mid;
    }

    &Station {
        padding: $padding01 0;
        margin: $margin01 0 $margin01;
        border-top: 1px solid $base-color03;
        border-bottom: 1px solid $base-color03;

        &_list {
            display: flex;
            margin-bottom: .4rem;
            @include fs-mid;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &_name {
            margin-right: $margin01;
            @include fs-tiny;
            font-weight: bold;
            min-width: 60px;
        }
    }

    &Tag {
        position: relative;
        z-index: 5;
        &_link {
            @include fs-mid;
            margin-right: $margin00;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    /*右側の情報*/
    &Building {
        width: 14rem;
        margin-left: $margin01;
        @include mq-md {
            margin-left: 0;
            width: 100%;
            margin-bottom: $margin01;
        }
        ul {
            @include mq-md {
                display: flex;
            }

        }

        &_item {
            @include fs-mid;
            padding: $padding00;
            text-align: center;
            border: 1px solid $base-color02;
            border-bottom: 0px;
            background-color: $base-color03;
            @include mq-md {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-basis: 33.333333%;
            }

            &:last-child {
                border-bottom: 1px solid $base-color02;
            }
        }
    }

    //管理者用メモ
    &Memo {
        &_cont {
            padding: $padding01;
            border: 6px solid $base-color03;
        }
        &_text {
            @include fs-mid;
            margin-bottom: $margin00;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &_title {
            font-weight: bold;
            max-width: 100px;
            margin-right: $margin00;
        }
    }

    //記事コンテンツ
    &Post {
        &_cont {
            padding: 0;
        }
        &_thumb {
            position: relative;
            width: 100%;
            background-color: $base-color02;
            overflow: hidden;

            &:before {
                content: "";
                display: block;
                padding-top: 30.5%;

                @include mq-sm {
                    padding-top: 56.5%;
                }
            }
        }
        &_img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: .4rem 0 0 .4rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &_text {
            @include fs-mid;
        }
    }

    //同じ物件のお部屋
    &Room {
        &_building {
            &:hover {
                .o-rsingleRoom_thumb {
                    transform: scale(0.98)!important;
                }
            }
        }
        &_thumb {
            border-radius: 4px 0 0 4px;
            &:before {
                padding-top: 40.8235294118%!important;
            }
            &:after {
                background-image: linear-gradient(120deg, rgba($accent-color03,0.5), rgba($accent-color03,0.5) 60%, rgba($base-color04,0.5));
            }
        }
        &_item {
            flex-basis: 33.33333%;
            width: 33.33333%;
            @include mq-big {
                flex-basis: 50%;
                width: 50%;
            }
            @include mq-xl {
                flex-basis: 33.33333%;
                width: 33.33333%;
            }

            @include mq-md {
                flex-basis: 50%;
                width: 50%;
                min-width: inherit!important;
            }
        }
        &_title {
            bottom: 3rem;
            left: 3rem;
        }
    }

    //よくあるご質問
    &Faq {
        &_item {
            padding-bottom: $padding01;
            border-bottom: 1px solid $sub-color01;
            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
        &_question,
        &_answerTitle {
            position: relative;
            &:before {
                content: "Q";
                color: $text-color01;
                font-family: $font-family02;
                font-weight: bold;
                @include fs-title;
                margin-right: $margin01;
            }
            &Icon {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
            }
        }
        &_question {
            margin-bottom: $margin01;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &_answer {
            display: none;
            padding: $padding01 $padding01 $padding02;
            background-color: $sub-color01;
            &Title,
            &Text {
                padding-left: $padding02;
            }
            &Title {
                position: relative;
                margin-bottom: $margin00;
                &:before {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    content: "A";
                    color: $accent-color01;
                }

            }
        }
    }

    //コメント
    &Comment {
        &_cont {
            margin-bottom: 1px;
        }
        &_item {
            border-bottom: 1px solid $sub-color02;
            margin-bottom: $margin01;
            padding-bottom: $padding01;
            &:last-child {
                border-bottom: none;
            }
            &.__reply {
                border-left: 3px solid $sub-color06;
                padding-left: $padding02;
            }
        }
        &_name {
            font-weight: bold;
            @include fs-p;
            margin-bottom: $margin00;
        }
        &_date {
            @include fs-min;
            margin-left: $margin00;
            color: $text-color04;
        }
        &_text {
            @include fs-p;
        }

        //コメント投稿
        &_post {
            &Title {
                text-align: center;
                @include fs-p;
                font-weight: bold;
                margin-bottom: $margin01;
                &_icon {
                    margin-left: $margin00;
                }
            }
        }
        &_form {
            margin-bottom: $margin00;
            &Title {
                font-weight: bold;
                @include fs-mid;
                min-width: 100px;
            }
            &Input {
                width: 100%;
                border: 1px solid $sub-color02;
                background-color: $sub-color01;
            }
            &Submit {
                min-width: 160px;
                margin-left: $margin01;
                padding: $padding00 $padding01;
            }
        }
    }

    //注意書き
    &Caution {
        &_wrap {
            padding: $padding02;
            border: 1px solid $sub-color06;
        }
    }

    //ページ下のボタン
    &Btn {
        &_item {
            padding: $padding01 $padding00;
            @include fs-mid;
            flex-basis: 33.33333%;
            width: 33.33333%;
            border-right: 1px solid $sub-color01;
            border-radius: 0px;
            width: 100%;
            flex-basis: initial;
            &.__prev {
                border-left: none;
                border-right: 1px solid $sub-color01;
                @include mq-lg {
                    display: none!important;
                }
            }
            &:first-child {
                border-radius: 2px 0 0 2px;
            }
            &:last-child {
                border-left: 1px solid $sub-color01;
                border-right: none;
                border-radius: 0 2px 2px 0;
            }
        }
    }


    &Contact {
        margin-top: $margin00;
        padding: $padding00 0.2rem;
    }


    /* アクションコンテンツ - 値段 / ボタン等
    --------------------------------------------------------- */
    &Action {
        &_wrap {
            padding: $garter01;
            background-color: $base-color01;
            transition: $transition01;
            @include mq-md {
                padding: $garter01 4rem;
            }

            @include mq-sm {
                padding: 4rem $garter00;
            }
        }
        &:hover {
            .o-rsingleAction_wrap {
                box-shadow: 3px 0 12px rgba($accent-color03,0.2);
            }
        }
        &_cont {
            margin-bottom: 1rem;
        }
        &_price {
            @include fs-big;
            font-weight: 900;
            font-family: $font-family02;
            line-height: 1.4;
            color: $accent-color01;
            letter-spacing: 0px;
            @include mq-xl {
                text-align: center;
            }

        }
        &_unit {
            @include fs-min;
        }
        &_cost {

            @include mq-xl {
                text-align: center;
                justify-content: center;
            }
            &Item {
                padding: $padding00 $padding02;
                padding-left: 0;
                &_title {
                    @include fs-min;
                    color: $text-color03;
                }
                &_period {
                    @include fs-mid;
                    font-family: $font-family02;
                }
            }
            //もしフリーレントがある場合
            &.withfreerent {
                flex-wrap: wrap;
                .o-rsingleAction_costItem {
                    width: 50%;

                    &_title {
                        @include fs-mid;
                    }
                    &_period {
                        @include fs-p;
                    }
                }
            }
        }
        &_function {
            border-top: 1px solid $sub-color02;
            border-bottom: 1px solid $sub-color02;
            &Item {
                padding: $padding01;
                @include fs-mid;
                font-weight: bold;

                @include mq-xl {
                    justify-content: center;
                }
                .o-icon {
                    &:before {
                        @include fs-p;
                    }
                }
                &:hover {
                    border-right-color: $sub-color01;
                }

                &.__Estimate {
                    border-right: 1px solid $sub-color02;
                }
            }
        }
        &_btn {
            margin: $margin02 0;
            &Visit {
                @include fs-p;
                padding: $padding01 $padding00;
                font-weight: 900;
                margin-bottom: 1rem;
            }
            &Empty,
            &Question {
                @include fs-mid;
                padding: $padding00;
            }
        }
        &_tel {
            &Title {
                @include fs-tiny;
                font-weight: 900;
            }
            &Tel {
                @include fs-large;
                font-weight: 900;
                font-family: $font-family02;
                margin-bottom: 0.5rem;
                letter-spacing: 2px;

            }
            &Info {
                @include fs-min;
                font-weight: 900;
                padding: $padding00 $padding01;
                border: 1px solid $sub-color06;
                width: max-content;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &Item {
        position: relative;
    }

    /*保存・部屋の状態*/

    &Catch {}

    &Img {
        position: relative;
    }

    &Thumb {
        position: relative;
        width: 100%;
        background-color: $base-color02;
        overflow: hidden;

        &:before {
            content: "";
            display: block;
            padding-top: 70%;

            @include mq-sm {
                padding-top: 70%;
            }
        }

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(180deg, rgba($accent-color03, 0) 40%, rgba($base-color05, 1));
        }

        &_img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: .4rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &Price {
        font-family: $font-family02;
        @include fs-title;

        &_unit {
            @include fs-tiny;
        }
    }
}

