@charset "UTF-8";

/* =========================================================
o-list - style 記事ページに関するパーツ群
============================================================*/
.o-table {
    li {
        list-style: none;
    }

    &.__tiny {

        th,
        td {
            @include fs-tiny;
        }
    }

    &.__min {

        th,
        td {
            @include fs-min;
        }
    }

    &.__mid {

        th,
        td {
            @include fs-mid;
        }
    }

    &.__p {

        th,
        td {
            @include fs-p;
        }
    }

    &.__title {

        th,
        td {
            @include fs-title;
        }
    }

    &.__large {

        th,
        td {
            @include fs-large;
        }
    }


    &.__thin {

        th,
        td {
            font-weight: normal;
        }
    }

    &.__white {

        th,
        td {
            color: #fff;
        }
    }

    &.__rgbawhite {

        th,
        td {
            color: rgba(#fff, 0.5);

            &:hover {
                color: rgba(#fff, 1);
            }
        }
    }

    &.__sizes {
        th,td {
            padding: $padding00;
        }
    }
    &.__sizem {
        th,td {
            padding: $padding01;
        }
    }
    &.__sizel {
        th,td {
            padding: $padding02;
        }
    }

    &.__grl05 {
        a {
            display: block;
            padding: 0 0.5rem;
        }
    }

    //左にバーがついたタイプのリスト
    &.buidling {
        tr {
        }
        th,td {
            border-bottom: 1px solid $sub-color01;
            padding-bottom: $padding00;
            margin-bottom: $margin00;
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
        th {
            min-width: 10rem;
            color: $text-color04;
            font-weight: bold;
        }
        td {

        }
    }
}
