@charset "UTF-8";

/* =========================================================
o-title - style
============================================================*/

.o-title {
    letter-spacing: 2px;
    font-weight: 900;
    &.__nobold {
        font-weight: normal;
    }
    &.__entry {

    }
    &.__huge {
        font-size: 3.2rem;
        line-height: 1.5;
        letter-spacing: .5rem;
        @include mq-md {
            font-size: 2.9rem;
        }
        @include mq-sm {
            font-size: 2.4rem;
            line-height: 1.3;
        }
    }
    &.__en {
        letter-spacing: .1rem;
        font-family: $font-family02;
    }

    &.__big {
        @include fs-big;
    }
    &.__large {
        @include fs-large;
    }
    &.__title {
        @include fs-title;
        &.__en {
            letter-spacing: .3rem;
        }
    }
    &.__p {
        @include fs-p;
    }
    &.__mid {
        @include fs-mid;
    }
    &.__min {
        @include fs-min;
    }
    &.__tiny {
        @include fs-tiny;
    }

    &.__thin {
        font-weight: 100;
    }

    &.__mid02 {
        font-size: 1.5rem;
        @include mq-md {
            font-size: 1.9rem;
        }
    }
    &.__small {
        font-size: 1.3rem;
        @include mq-md {
            font-size: 1.1rem;
        }
    }
    &.__accent01 {
        color: $accent-color01;
    }
    &.__white {
        color: #fff;
    }
    &.__withsub {
        &:before {
            font-family: $font-family02;
            display: block;
            text-align: center;
            margin-bottom: .4rem;
            color: $accent-color01;
        }
    }









    &.__basic01 {
        position: relative;
        margin-bottom: $garter01;
        padding-bottom: $garter01;
        border-bottom: 2px solid $sub-color01;
        &:before {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0px;
            height: 2px;
            width: 33%;
            background-color: $sub-color05;
        }
    }
    &.__basic02 {
        margin-bottom: $garter01;
    }








    &.__post-basic {
        font-size: 1.8rem;
        line-height: 1.7;
        margin-bottom: 0.3rem;
        @include mq-sm {
            font-size: 16px;
        }
    }

    &.__center {
        text-align: center;
    }
    &.__border {
        > * {
            border: 3px solid $sub-color02;
            padding: 2rem;
        }
    }
    &.__underline01 {
        > * {
            background: linear-gradient(to bottom, transparent 70%, $accent-color02 71%, $accent-color02);
        }
    }

    &.__white {
        color: $text-color02;
    }
}
