@charset "UTF-8";

/* =========================================================
o-tab - style
============================================================*/

.o-tab {
    display: flex;
    justify-content: center;

    //ベーススタイル
    &Item {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &_icon {}
    }

    //スタイルオプション
    &.__basic01 {
        .o-tabItem {
            font-weight: bold;
            background-color: $base-color01;
            border-right: 1px solid $sub-color01;

            &,
            .o-icon:before {
                color: $text-color04;
            }

            &:last-child {
                border-right: none;
            }

            &:hover,
            &.__active {
                background-color: $sub-color06;
                color: $text-color02;

                .o-icon:before {
                    color: $text-color02;
                    font-weight: normal;
                }
            }
        }
    }

    //透明ver
    &.__basic02 {
        .o-tabItem {
            background: rgba($base-color01, 0.95);
            border: 1px solid rgba($base-color01, 0.95);
            backdrop-filter: $blur01;
        }
    }

    //線だけver
    &.__basic03 {
        .o-tabItem {
            background-color: transparent;
            color: $text-color02;
            font-weight: bold;
            border: 1px solid rgba($base-color01, 0.35);
            .o-icon:before {
                color: $text-color02;
            }

            &:hover,
            &.__active {
                background-color: rgba($base-color01,0.2);

                .o-icon:before {
                }
            }
        }
    }
}



.o-tabList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid $sub-color01;
    margin-bottom: $garter01;

    &-item {

        &Link {
            position: relative;
            display: block;
            padding: 12px;
            color: $text-color03;
            @include fs-mid;

            &:before {
                content: "";
                position: absolute;
                bottom: -1px;
                left: 0px;
                height: 1px;
                width: 100%;
                background-color: rgba($sub-color05, 0);
                transition: $transition01;
            }
        }

        &.active {
            .o-tabList-itemLink {
                color: $text-color01;

                &:before {
                    background-color: rgba($accent-color01, 1);
                }
            }
        }
    }
}


.o-tabPanel {
    display: none;

    &.active {
        display: block;
    }
}
